﻿
@using TTL_ERP.Areas.Administrator.Models
@model ApplicationModel
@{
    ViewData["Title"] = "Thêm ứng dụng";
    var isCreate = (bool)ViewBag.IsCreate;
}

@Html.HiddenFor(model => model.Id)
<div class="col-md-6">
    <label class="form-label" for="Code">Mã ứng dụng</label>
    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã ứng dụng" } })
</div>
<div class="col-md-6">
    <label class="form-label" for="Title">Tên ứng dụng</label>
    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên ứng dụng" } })
</div>
<div class="col-md-6">
    <label class="form-label" for="Description">Mô tả</label>
    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Mô tả", @rows = "3" })
</div>
<div class="col-md-6">
    <label class="form-label" for="Icon">Icon</label>
    @Html.EditorFor(model => model.Icon, new { htmlAttributes = new { @class = "form-control", @placeholder = "Icon" } })
</div>
<div class="col-md-6">
    <label class="form-label" for="Position">Vị trí</label>
    @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control", @placeholder = "Vị trí" } })
</div>

<div class="mb-3">
    <label class="switch switch-primary">
        @Html.CheckBoxFor(model => model.Status, new { @class = "switch-input" })
        <span class="switch-toggle-slider">
            <span class="switch-on"></span>
            <span class="switch-off"></span>
        </span>
        <span class="switch-label">Hoạt động</span>
    </label>
</div>

<div class="col-12">
    <button id="btnSubmit" class="btn btn-primary">@(isCreate ? "Lưu" : "Cập nhật")</button>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            /**/
            if ($.urlParam('msg') == '1') {
                ShowToast('success', 'Thành công', 'Thêm Thành Công!')
            }
            /**/
        });
    </script>
}
