﻿@using TTL_ERP.Areas.Administrator.Models
@model ApplicationModel
@{
    ViewBag.Title = "Thêm ứng dụng";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutSystem.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
        <h4><span class="text-muted fw-light">Ứng dụng /</span> Thêm mới</h4>
        <div class="row">
            <!-- FormValidation -->
            <div class="col-12">
                <div class="card">
                    <h5 class="card-header">Thông tin</h5>
                    <div class="card-body">
                        @using (Html.BeginForm("Create", "Application", FormMethod.Post, new { @id = "frm", @class = "row g-3", @autocomplete = "off" }))
                        {
                            @Html.Partial("_AddOrEdit")
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts{
    <script src="../../js/Administrator/Application.js"></script>

}

