﻿
@using TTL_ERP.Areas.Administrator.Models
@model ClientModel
@{
    ViewData["Title"] = "Thêm tổ chức";
    var isCreate = (bool)ViewBag.IsCreate;
}

@Html.HiddenFor(model => model.Id)
<div class="col-md-6">
    <label class="form-label" for="Code">Mã tổ chức</label>
    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã tổ chức" } })
</div>
<div class="col-md-6">
    <label class="form-label" for="Title">Tên tổ chức</label>
    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên tổ chức" } })
</div>
<div class="col-md-6">
    <label class="form-label" for="Description">Mô tả</label>
    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Mô tả", @rows = "3" })
</div>
<div class="col-md-6">
    <label class="form-label" for="Address">Địa chỉ</label>
    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ" } })
</div>
<div class="col-md-6">
    <label class="form-label" for="Phone">Số điện thoại</label>
    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại" } })
</div>
<div class="col-md-6">
    <label class="form-label" for="Email">Email</label>
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
</div>

<div class="mb-3">
    <label class="switch switch-primary">
        @Html.CheckBoxFor(model => model.Status, new { @class = "switch-input" })
        <span class="switch-toggle-slider">
            <span class="switch-on"></span>
            <span class="switch-off"></span>
        </span>
        <span class="switch-label">Hoạt động</span>
    </label>
</div>

<div class="col-12">
    <button id="btnSubmit" class="btn btn-primary">@(isCreate ? "Lưu" : "Cập nhật")</button>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            /**/
            if ($.urlParam('msg') == '1') {
                ShowToast('success', 'Thành công', 'Thêm Thành Công!')
            }
            /**/
        });
    </script>
}
