﻿@using TTL_ERP.Areas.Administrator.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<ClientModel>
@{
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutSystem.cshtml";
    ViewData["Title"] = "Danh sách tổ chức";
}
@section CSS{

}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Tổ chức /</span> Danh sách</h4>
    <!-- Hoverable Table rows -->
    <div class="card">
        <div class="row p-2">
            <div class="col-sm-12 col-md-9">
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="text-xl-end text-md-end justify-content-md-end ">
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="AddNew('/Client/Create')">
                            <i class="ti ti-plus"></i>Thêm mới
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="loadData" class="table-responsive text-nowrap">

        </div>
    </div>
    <!--/ Hoverable Table rows -->
</div>
<!-- / Content -->
@section Scripts {
    <script src="../../js/Administrator/Client.js"></script>
    <script type="text/javascript">
     $(document).ready(function () {
         LoadData(1);
     });
     function LoadData(page) {
           $('#loadData').load('@Url.Action("LoadData", "Client", new { area = "Administrator" })'
               , { page: page}
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         ShowToast('error', 'Lỗi hệ thống');
                     } else {
                      
                     }
             });
     }
    </script>
}
