﻿@using TTL_ERP.Areas.WM.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<StoreTypeModel>
<table class="table table-hover table-bordered">
    <thead>
        <tr class="text-center">
            <th style="width:2%" class="text-center">#</th>
            <th>Mã</th>
            <th>Tên</th>
            <th>Mô tả</th>
            <th style="width:10%" class="text-center">Trạng Thái</th>
            <th style="width:10%" class="text-center">Hành động</th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0">
        @if (Model != null && Model.ListItems.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model.ListItems)
            {
                <tr>
                    <td class="text-center">
                        @(++stt)
                    </td>
                    <td>
                        <strong>@item.Code</strong>
                    </td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td class="text-center">
                        @Html.Raw((item.Status ? "<span class=\"badge bg-label-primary me-1\">Hoạt động</span>" : "<span class=\"badge bg-label-warning me-1\">Ngưng hoạt động</span>"))
                    </td>
                    <td class="text-center">
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Sửa"
                           onclick="showInPopup('/WM/StoreType/Edit?id=@item.Id', 'Sửa loại kho')" href="javascript:void(0);"><i class="ti ti-pencil me-1"></i></a>
                        <a data-id="@item.Id" name="btnDelete"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Xóa"
                           onclick="confirmDetele(@item.Id, '/WM/StoreType/Delete', true)" href="javascript:void(0);"><i class="ti ti-trash me-1"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td align="center" colspan="6" class="dataTables_empty">không có dữ liệu</td></tr>
        }
    </tbody>
</table>
<div class="demo-inline-spacing">
    <!-- Basic Square Pagination -->
    @Html.RenderPaging(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
    <!--/ Basic Square Pagination -->
</div>

