﻿
@using TTL_ERP.Areas.WM.Models
@model ComboModel
@{
    ViewData["Title"] = "Thêm Combo";
    var isCreate = (bool)ViewBag.IsCreate;
}
<div class="col-12">
    @*<h6 class="text-muted">Filled Tabs</h6>*@
    <div class="nav-align-top nav-tabs-shadow mb-4">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <button type="button"
                        class="nav-link active"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-info-product"
                        aria-controls="navs-info-product"
                        aria-selected="true">
                    <i class="tf-icons ti ti-info-circle ti-xs me-1"></i> Thông tin sản phẩm
                    @*<span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-danger ms-1">3</span>*@
                </button>
            </li>
            <li class="nav-item">
                <button type="button"
                        class="nav-link"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-info-propertiese"
                        aria-controls="navs-info-propertiese"
                        aria-selected="false">
                    <i class="tf-icons ti ti-photo ti-xs me-1"></i>Hình ảnh
                </button>
            </li>
            @*<li class="nav-item">
                <button type="button"
                        class="nav-link"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-info-image"
                        aria-controls="navs-info-image"
                        aria-selected="false">
                    <i class="tf-icons ti ti-brackets-contain ti-xs me-1"></i> Thuộc tính sản phẩm
                </button>
            </li>*@
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="navs-info-product" role="tabpanel">
                <div class="row">
                    @Html.HiddenFor(model => model.Id)
                    <input hidden id="ProductListHidden" />
                    <input hidden id="UnitListHidden" />

                    <div class="col-md-3">
                        <label class="form-label" for="Code">Mã</label>
                        @if (isCreate)
                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã" } })
                            else
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã", @disabled = "disabled" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Tên</label>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên" } })
                    </div>

                    <div class="col-md-3">
                        <label class="form-label" for="Title">Giá vốn</label>
                        @Html.EditorFor(model => model.CostPriceStr, new
                        {
                            htmlAttributes = new
                            {
                                @class = "form-control",
                                @placeholder = "Giá vốn"
                             }
                        })
                        @Html.HiddenFor(model => model.CostPrice, new
                      {
                          htmlAttributes = new
                          {
                              @class = "form-control",
                          }
                      })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Giá</label>
                        @Html.EditorFor(model => model.PriceStr, new
                        {
                            htmlAttributes = new
                            {
                                @class = "form-control",
                                @placeholder = "Giá"
                            }
                        })
                        @Html.HiddenFor(model => model.Price, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control"
                           }
                       })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Giảm giá %</label>
                        @Html.EditorFor(model => model.Sale, new { htmlAttributes = new { @class = "form-control", @placeholder = "Giảm giá" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Ngày hết hạn giảm giá</label>
                        @Html.EditorFor(model => model.SaleDeadLineStr, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ngày hết hạn giảm giá" } })
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="Description">Mô tả</label>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Mô tả", @rows = "3" })
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="Content">Nội dung</label>
                        @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @placeholder = "Nội dung", @rows = "5" })
                    </div>
                    <div class="mb-3">
                        <label class="switch switch-primary">
                            @Html.CheckBoxFor(model => model.Status, new { @class = "switch-input" })
                            <span class="switch-toggle-slider">
                                <span class="switch-on"></span>
                                <span class="switch-off"></span>
                            </span>
                            <span class="switch-label">Hoạt động</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="navs-info-propertiese" role="tabpanel">
                <div class="row">
                    <div class="col-md-3">
                        <label class="form-label" for="AvatarImg">Hình ảnh</label>
                        <img id="imgAvatar" class="img-fluid rounded mb-3 pt-1 mt-4" src="" height="100" width="100" alt="Hình ảnh">
                        @Html.EditorFor(model => model.AvatarImg, new
                        {
                        htmlAttributes = new
                        {
                        @class = "form-control"
                        ,
                        @accept = "image/png, image/jpeg",
                        @onchange = "uploadFiles('AvatarImg', 'uploads/product')"
                        }
                        })
                        @Html.HiddenFor(model => model.Avatar)
                    </div>

                    <div class="col-md-3">
                        <label class="form-label" for="Thumb">Thumb</label>
                        <img id="imgThumb" class="img-fluid rounded mb-3 pt-1 mt-4" src="" height="100" width="100" alt="Thumb">
                        @Html.EditorFor(model => model.ThumbImg, new
                        {
                        htmlAttributes = new
                        {
                        @class = "form-control"
                        ,
                        @accept = "image/png, image/jpeg",
                        @onchange = "uploadFiles('ThumbImg', 'uploads/product')"
                        }
                        })
                        @Html.HiddenFor(model => model.Thumb)

                    </div>
                </div>
            </div>
            @*<div class="tab-pane fade" id="navs-info-image" role="tabpanel">

            </div>*@
        </div>
    </div>
</div>
<div class="col-12" id="InfoBundledGift">
    <div class="card">
        <h5 class="card-header">Sản phẩm</h5>
        <div class="card-body row">
            <div class="text-xl-end text-md-end justify-content-md-end p-2">
                <div class="dt-buttons btn-group flex-wrap">
                    @*<button class="btn add-new btn-primary mb-3 mb-md-0" onclick="showInPopup('/WM/Combo/CreatePopUp', 'Thêm mặt hàng')">
                            <i class="ti ti-plus"></i>Thêm
                        </button>*@
                    <a onclick="showInPopup('/WM/Combo/CreatePopUp', 'Chọn mặt hàng')" name="btnAddRow" href="javascript:void(0);"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Thêm dòng"><i class="ti ti-plus"></i>Thêm</a>
                </div>
            </div>
            <div class="table-responsive text-nowrap p-2">
                <table class="table table-hover table-bordered" id="tbodyContact">
                    <thead>
                        <tr>
                            <th style="width:2%" class="text-center">#</th>
                            <th>Mã</th>
                            @*<th>Đơn vị tính</th>*@
                            <th>Số lượng</th>
                            <th>Ghi chú</th>
                            <th style="width:5%" class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.ComboProductList.Count() > 0)
                        {
                            int stt = 0;
                            var ComboProductList = Model.ComboProductList.ToList();
                            foreach (var item in ComboProductList.ToList())
                            {
                                <tr>
                                    <td class="text-center">
                                        <p>@(++stt)</p>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => item.ProductId, item.ProductList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg", @disabled = "true" })
                                        </div>
                                    </td>
                                    @*<td>
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => item.UnitId, item.UnitIdList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                        </div>
                    </td>*@
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.Quantity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số lượng" } })
                                            @Html.EditorFor(d => item.QuantityStr, new { htmlAttributes = new { @class = "form-control Quantity", @placeholder = "Số lượng" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(d => item.Note, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ghi chú" } })
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:void(0);" name="btnRemoveLine"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           title="Xóa dòng"><i class="ti ti-trash me-1"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td align="center" colspan="5" class="dataTables_empty">không có dữ liệu</td></tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="text-xl-end text-md-end justify-content-md-end p-2">
                <a onclick="showInPopup('/WM/Combo/CreatePopUp', 'Chọn mặt hàng tặng kèm')" name="btnAddRow" href="javascript:void(0);"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Thêm dòng"><i class="ti ti-plus"></i>Thêm</a>
            </div>
        </div>
    </div>
</div>

<script id="template_subform" type="text/x-handlebars-template">
    <tr>
        <td class="text-center">
            <p>{{stt}}</p>
        </td>
        <td>
            <div class="col-md-12">
                <select name="ProductId" class="InventoryId select2 form-select form-select-lg" disabled>
                    {{#select value}}
                    {{{productList}}}
                    {{/select}}
                </select>
            </div>
        </td>
        @*<td>
                <div class="col-md-12">
                    <select name="UnitId" class="InventoryId select2 form-select form-select-lg">
                        {{{unitList}}}
                    </select>
                </div>
            </td>*@
        <td>
            <div class="col-md-12">
                <input class="form-control Quantity" accesskey="KeyFocus" hidden name="Quantity" placeholder="Số lượng" type="number" value="1" />
                <input class="form-control" accesskey="KeyFocus" name="QuantityStr" placeholder="Số lượng" type="text" value="1" />
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <input class="form-control" accesskey="KeyFocus" name="Note" placeholder="Ghi chú" type="text" value="" />
            </div>
        </td>

        <td class="text-center">
            <a href="javascript:void(0);" name="btnRemoveLine"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Xóa dòng"><i class="ti ti-trash me-1"></i></a>
        </td>
    </tr>
</script>
