﻿@using TTL_ERP.Areas.WM.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<ProductModel>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th style="width:1%" class="text-center">
                <input class="form-check-input" type="checkbox" id="chkAll" value="All">
            </th>
            <th style="width:2%" class="text-center">#</th>
            <th>Mã</th>
            <th>Tên</th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0">
        @if (Model != null && Model.ListItems.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model.ListItems)
            {
                <tr>
                    <td class="text-center">
                        <input class="form-check-input" name="tdChk" type="checkbox" value="@item.Id">
                    </td>
                    <td class="text-center">
                        @(++stt)
                    </td>
                    <td>
                        <strong>@item.Code</strong>
                    </td>
                    <td>@item.Title</td>
                </tr>
            }
        }
        else
        {
            <tr><td align="center" colspan="4" class="dataTables_empty">không có dữ liệu</td></tr>
        }
    </tbody>
</table>
<div class="demo-inline-spacing">
    <!-- Basic Square Pagination -->
    @Html.RenderPaging(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
    <!--/ Basic Square Pagination -->
</div>
<script>
    $('#chkAll').click(function (e) {
        var table = $(e.target).closest('table');
        $('td input:checkbox', table).prop('checked', this.checked);
    });
   
</script>
