﻿@using TTL_ERP.Areas.WM.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<ComboModel>
<table class="table table-hover table-bordered">
    <thead>
        <tr class="text-center">
            <th style="width:2%" class="text-center">#</th>
            <th style="width:2%" class="text-center">Ảnh</th>
            <th>Mã</th>
            <th>Tên</th>
            <th>Mô tả</th>
            <th>Giá</th>
            <th style="width:10%" class="text-center">Trạng Thái</th>
            <th style="width:10%" class="text-center">Hành động</th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0">
        @if (Model != null && Model.ListItems.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model.ListItems)
            {
                <tr>
                    <td class="text-center">
                        @(++stt)
                    </td>
                    <td>
                        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                            <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-md pull-up" aria-label="Lilian Fuller" data-bs-original-title="Lilian Fuller">
                                @if (!string.IsNullOrEmpty(item.Thumb))
                                {
                                    <img src="@item.Thumb" alt="@item.Title" class="rounded-circle">
                                }
                                else
                                {
                                    <img src="/assets/img/no-image.png" alt="" class="rounded-circle">
                                }
                            </li>
                        </ul>
                    </td>
                    <td>
                        <strong>@item.Code</strong>
                    </td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td class="text-end">@StringUtil.FormartCurrency(item.Price)</td>
                    <td class="text-center">
                        @Html.Raw((item.Status ? "<span class=\"badge bg-label-primary me-1\">Hoạt động</span>" : "<span class=\"badge bg-label-warning me-1\">Ngưng hoạt động</span>"))
                    </td>
                    <td class="text-center">
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Sửa"
                           onclick="AddNew('/WM/Combo/Edit?id=@item.Id')" href="javascript:void(0);"><i class="ti ti-pencil me-1"></i></a>
                        <a data-id="@item.Id" name="btnDelete"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Xóa"
                           onclick="confirmDetele(@item.Id, '/WM/Combo/Delete', true)" href="javascript:void(0);"><i class="ti ti-trash me-1"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td align="center" colspan="6" class="dataTables_empty">không có dữ liệu</td></tr>
        }
    </tbody>
</table>
<div class="demo-inline-spacing">
    <!-- Basic Square Pagination -->
    @Html.RenderPaging(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
    <!--/ Basic Square Pagination -->
</div>

