﻿
@using TTL_ERP.Areas.WM.Models
@model InventoryModel
@{
    var isCreate = (bool)ViewBag.IsCreate;
}
<div class="col-12">
    @*<h6 class="text-muted">Filled Tabs</h6>*@
    <div class="nav-align-top nav-tabs-shadow mb-4">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <button type="button"
                        class="nav-link active"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-info-product"
                        aria-controls="navs-info-product"
                        aria-selected="true">
                    <i class="tf-icons ti ti-info-circle ti-xs me-1"></i> Thông tin phiếu kiểm kê
                    @*<span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-danger ms-1">3</span>*@
                </button>
            </li>
            @*<li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-info-propertiese"
                            aria-controls="navs-info-propertiese"
                            aria-selected="false">
                        <i class="tf-icons ti ti-photo ti-xs me-1"></i>Hình ảnh
                    </button>
                </li>*@
            @*<li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-info-image"
                            aria-controls="navs-info-image"
                            aria-selected="false">
                        <i class="tf-icons ti ti-brackets-contain ti-xs me-1"></i> Thuộc tính sản phẩm
                    </button>
                </li>*@
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="navs-info-product" role="tabpanel">
                <div class="row">
                    @Html.HiddenFor(model => model.Id)
                    <input hidden id="ProductListHidden" />

                    <div class="col-md-3">
                        <label class="form-label" for="Code">Mã</label>
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã phiếu", @disabled = "disabled" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Ngày kiểm kê</label>
                        @Html.EditorFor(model => model.InventoryDateStr, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ngày kiểm kê" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Kho kiểm</label>
                        @Html.DropDownListFor(model => model.StoreId, Model.StoreList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg", onchange = "changeStoreBindProducts(this.value);" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Description">Tổng số lượng tồn</label>
                        @Html.EditorFor(model => model.TotalQuantityStr, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        @Html.HiddenFor(model => model.TotalQuantity, new { @class = "form-control", @placeholder = "Tổng số lượng tồn" })
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="Description">Ghi chú</label>
                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @placeholder = "Ghi chú", @rows = "3" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Description">Tổng số lượng thực tế</label>
                        @Html.EditorFor(model => model.TotalQuantityActualStr, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        @Html.HiddenFor(model => model.TotalQuantityActual, new { @class = "form-control", @placeholder = "Tổng số lượng thực tế" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Description">Tổng số lượng lệch</label>
                        @Html.EditorFor(model => model.TotalQuantityDiffStr, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        @Html.HiddenFor(model => model.TotalQuantityDiff, new { @class = "form-control", @placeholder = "Tổng số lượng lệch" })
                    </div>

                </div>
            </div>
            @*<div class="tab-pane fade" id="navs-info-propertiese" role="tabpanel">

                </div>*@
            @*<div class="tab-pane fade" id="navs-info-image" role="tabpanel">

                </div>*@
        </div>
    </div>
</div>
<div class="col-12" id="InfoBundledGift">
    <div class="card">
        <h5 class="card-header">Sản phẩm</h5>
        <div class="card-body row">
            <div class="table-responsive text-nowrap p-2">
                <table class="table table-hover table-bordered" id="tbodyProduct">
                    <thead>
                        <tr>
                            <th style="width:2%" class="text-center">#</th>
                            <th>Tên Sản Phẩm</th>
                            <th style="width:10%">SL Tồn kho</th>
                            <th style="width:10%">SL thực tế</th>
                            <th style="width:10%">SL chênh lệch</th>
                            <th style="width:10%">Thành tiền</th>
                            <th style="width:5%" class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.InventoryDetail.Count() > 0)
                        {
                            int stt = 0;
                            var InventoryDetail = Model.InventoryDetail.ToList();
                            foreach (var item in InventoryDetail.ToList())
                            {
                                <tr>
                                    <td class="text-center">
                                        <p>@(++stt)</p>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            <p>@item.ProductName</p>
                                            @Html.HiddenFor(d => item.ProductId, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.HiddenFor(d => item.CostPrice, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.HiddenFor(d => item.Price, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.Quantity, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
                                            @Html.EditorFor(d => item.QuantityStr, new { htmlAttributes = new { @class = "form-control QuantityEnd", @disabled = "true" } })
                                        </div>
                                    </td>
                                   
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.QuantityActual, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(d => item.QuantityActualStr, new { htmlAttributes = new { @class = "form-control QuantityActual" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.QuantityDiff, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(d => item.QuantityDiffStr, new { htmlAttributes = new { @class = "form-control QuantityDiff", @disabled = "true" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.DifferenceValue, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(d => item.DifferenceValueStr, new { htmlAttributes = new { @class = "form-control DifferenceValue", @disabled = "true" } })
                                        </div>
                                    </td>
                                   
                                    <td class="text-center">
                                        <a href="javascript:void(0);" name="btnRemoveLine"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           title="Xóa dòng"><i class="ti ti-trash me-1"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td align="center" colspan="12" class="dataTables_empty">không có dữ liệu</td></tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
