﻿@using TTL_ERP.Areas.WM.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<InventoryModel>
<table class="table table-hover table-bordered" id="tbodyContact">
    <thead>
        <tr class="text-center">
            <th style="width:2%">#</th>
            <th>Mã</th>
            <th>Ngày kiểm</th>
            <th>Kho</th>
            <th>Phiếu cân bằng</th>
            <th>Trạng thái</th>
            <th style="width:10%">Hành động</th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0">
        @if (Model != null && Model.ListItems.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model.ListItems)
            {
                <tr>
                    <td class="text-center">
                        @(++stt)
                    </td>
                    <td>
                        <strong>@item.Code</strong>
                    </td>
                    <td>@string.Format("{0:dd/MM/yyyy}", item.InventoryDate)</td>
                    <td>@item.StoreName</td>
                    <td>
                        <strong>@item.NoteDifference</strong>
                        @if (item.BillId > 0)
                        {
                            <a data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Xem chi tiết"
                               onclick="AddNew('/WM/Warehouse/DetailInventory?id=@item.BillId')" href="javascript:void(0);"><i class="ti ti-eye"></i></a>
                        }
                    </td>
                    <td class="text-center">
                        @Html.Raw((item.HandleDifference ? "<span class=\"badge bg-label-primary me-1\">Đã cân bằng</span>" : "<span class=\"badge bg-label-warning me-1\">Chưa cân bằng</span>"))
                    </td>
                    <td class="text-center">
                        @*<a data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="Xem chi tiết"
                            onclick="AddNew('/WM/Inventory/Edit?id=@item.Id')" href="javascript:void(0);"><i class="ti ti-pencil me-1"></i></a>*@
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Xem chi tiết"
                           onclick="AddNew('/WM/Inventory/Detail?id=@item.Id')" href="javascript:void(0);"><i class="ti ti-eye"></i></a>
                        @if (!item.HandleDifference)
                        {
                            <a data-id="@item.Id" name="btnDelete"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Xóa"
                               onclick="confirmDetele(@item.Id, '/WM/Inventory/Delete', true)" href="javascript:void(0);"><i class="ti ti-trash"></i></a>
                            <a data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Cân bằng kho"
                               onclick="balance(@item.Id)" href="javascript:void(0);"><i class="ti ti-refresh-dot"></i></a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td align="center" colspan="6" class="dataTables_empty">không có dữ liệu</td></tr>
        }
    </tbody>
</table>
<div class="demo-inline-spacing">
    <!-- Basic Square Pagination -->
    @Html.RenderPaging(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
    <!--/ Basic Square Pagination -->
</div>

