﻿@using TTL_ERP.Areas.WM.Models
@model InventoryModel
@{
    ViewBag.Title = "Thêm Phiếu Kiểm Kê";
    Layout = "~/Areas/WM/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Phiếu kiểm kê  /</span> Thêm mới</h4>

    <!-- FormValidation -->
    @using (Html.BeginForm("Create", "Inventory", FormMethod.Post, new { @id = "frm", @class = "row g-3", @autocomplete = "off" }))
    {
        @Html.Partial("_AddOrEdit")
    }
    <div class="p-2 col-12 text-md-end">
        <button id="btnReSet" class="btn btn-outline-secondary">Nhập lại</button>
        <button id="btnSubmitAndContinue" class="btn btn-primary">Lưu và tiếp tục</button>
        <button id="btnSubmit" class="btn btn-primary">Lưu</button>
    </div>
</div>
@section Scripts{
<script src="../../js/WM/Inventory.js"></script>
}
