﻿@{
    Layout = "~/Areas/WM/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Danh Sách Kiểm Kê";
}

@using TTL_ERP.Areas.WM.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<InventoryModel>

@section CSS{

}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Kiểm kê /</span> Danh sách</h4>
    <!-- Hoverable Table rows -->
    <div class="card card-action">
        @*<h5 class="card-header">Danh sách tổ chức</h5>*@
        <div class="row p-2">
            <div class="col-sm-12 col-md-12">
                <form id="frmSearch">
                    <div class="row p-md-1">
                        <div class="col row-cols-md">
                            <label class="form-label">Kho</label>
                            @Html.DropDownList("StoreId", Model.StoreList, new { @class = "select2 form-select form-select-lg"})
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Từ ngày</label>
                            <input class="form-control" id="FromDateStr" name="FromDateStr" placeholder="dd/MM/yyyy" />
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Đền ngày</label>
                            <input class="form-control" id="ToDateStr" name="ToDateStr" placeholder="dd/MM/yyyy" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="text-xl-end text-md-end justify-content-md-end ">
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="Search()">
                            <i class="ti ti-search"></i>Tìm kiếm
                        </button>
                    </div>
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="AddNew('/WM/Inventory/Create')">
                            <i class="tf-icons ti ti-plus"></i>Thêm mới
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="loadData" class="card-action table-responsive text-nowrap p-2">

        </div>
    </div>
    <!--/ Hoverable Table rows -->
</div>

<!-- / Content -->
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            RefreshDynamicCommon();
            $('#FromDateStr').FormatDateTime();
            $('#ToDateStr').FormatDateTime();
            LoadData(1);

        });

        function LoadData(page) {
            BlockLoading('.card');
            var obj = GetFormData('frmSearch');
            obj.page = page;
           $('#loadData').load('@Url.Action("LoadData", "Inventory", new { area = "WM" })'
               , { fitter: obj}
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                    }
                    UnblockLoading('.card');
             });
        }
        function Search() {
            BlockLoading('#loadData');
            var obj = GetFormData('frmSearch');
            obj.page = 1;
            $('#loadData').load('@Url.Action("LoadData", "Inventory", new { area = "WM" })'
               , { fitter: obj}
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                     } else {

                     }
             });
        }

        balance = (id) => {
            BlockUI();
            var request = $.ajax({
                url: "/WM/Inventory/Balance?id=" + id,
                type: "POST",
            });
            request.done(function (result) {
                UnblockUI();
                if (result.retCode == 0) {
                    ShowToast('success', result.retText);
                    location.reload();
                }
                else {
                    ShowToast('error', result.retText)
                }
            });
            request.fail(function (jqXHR, textStatus) {
                UnblockUI();
                ShowToast('error', textStatus)
            });
        }
    </script>
}
