﻿@using TTL_ERP.Areas.WM.Models
@using TTL_ERP.Areas.WM.Models.StoredProcedure
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<ImportExportList>
<table class="table table-hover table-bordered">
    <thead>
        <tr class="text-center">
            <th style="width:2%">#</th>
            <th style="width:3%">Mã</th>
            <th>Thời gian</th>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Đơn vị tính</th>
            <th>Kho</th>
            <th>Ghi chú</th>
            <th>Số lượng nhập</th>
            <th>Đơn giá nhập</th>
            <th>Thành tiền</th>
            <th>Số lượng xuất</th>
            <th>Đơn giá xuất</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0">
        @if (Model != null && Model.ListItems.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model.ListItems)
            {
                <tr>
                    <td class="text-center">
                        @(++stt)
                    </td>
                    <td>
                        <strong>@item.Code</strong>
                    </td>
                    <td>
                        @string.Format("{0:dd/MM/yyyy hh:mm}", item.CreateOn)
                    </td>
                    <td>@item.ProductCode</td>
                    <td>@item.ProductName</td>
                    <td>@item.UnitName</td>
                    <td>@item.StoreName</td>
                    <td>@item.Note</td>
                    <td class="text-end">@StringUtil.FormartNumber(item.QuantityImport)</td>
                    <td class="text-end">@StringUtil.FormartCurrency(item.CostPrice)</td>
                    <td class="text-end">@StringUtil.FormartCurrency(item.TotalImport)</td>
                    <td class="text-end">@StringUtil.FormartNumber(item.QuantityExport)</td>
                    <td class="text-end">@StringUtil.FormartCurrency(item.Price)</td>
                    <td class="text-end">@StringUtil.FormartCurrency(item.TotalExport)</td>
                </tr>
            }
        }
        else
        {
            <tr><td align="center" colspan="14" class="dataTables_empty">không có dữ liệu</td></tr>
        }
    </tbody>
    <tfoot>
        @if (Model != null && Model.ListItems.Count > 0)
        {
            <tr>
                <td align="center" colspan="8" class="dataTables_empty">Tổng cộng</td>
                <td class="text-end">@StringUtil.FormartNumber(Model.ListItems.Sum(z => z.QuantityImport))</td>
                <td class="text-end">@StringUtil.FormartCurrency(Model.ListItems.Sum(z => z.CostPrice))</td>
                <td class="text-end">@StringUtil.FormartCurrency(Model.ListItems.Sum(z => z.TotalImport))</td>
                <td class="text-end">@StringUtil.FormartNumber(Model.ListItems.Sum(z => z.QuantityExport))</td>
                <td class="text-end">@StringUtil.FormartCurrency(Model.ListItems.Sum(z => z.Price))</td>
                <td class="text-end">@StringUtil.FormartCurrency(Model.ListItems.Sum(z => z.TotalExport))</td>
            </tr>
        }
    </tfoot>
</table>
<div class="demo-inline-spacing">
    <!-- Basic Square Pagination -->
    @Html.RenderPaging(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
    <!--/ Basic Square Pagination -->
</div>

