﻿@using TTL_ERP.Areas.CRM.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<CustomerModel>
@{
    var model = Model.ListItems.FirstOrDefault();
}
@if (model != null)
{
    <div class="col-md-12 col-12 mb-md-0 mb-3">
        <div class="demo-inline-spacing mt-3 mb-3">
            <ul class="list-group">
                <li class="list-group-item d-flex align-items-center">
                    <i class="ti ti-user ti-sm me-2"></i>
                    Mã KH: <strong>@Html.Raw(model.Code)</strong> - Họ tên KH: <strong>@Html.Raw(model.FullName)</strong>
                </li>
                @if (!string.IsNullOrEmpty(model.Ref_Code))
                {
                    <li class="list-group-item d-flex align-items-center">
                        <i class="ti ti-brand-tabler ti-sm me-2"></i>
                        Nguồn: <strong>@Html.Raw(model.Ref_Source)</strong> - Giới thiệu bởi: <strong>@Html.Raw(model.Ref_Name)</strong> | <strong>@Html.Raw(model.Ref_Code)</strong>
                    </li>
                }
            </ul>
        </div>
    </div>
}
