﻿@{
    ViewBag.Title = "Tra cứu khách hàng";
}
@using TTL_ERP.Areas.CRM.Models
@using TTL_ERP.Models
@model IndexViewModel<ViewCustomer>

<div class="container-fluid flex-grow-1 container-p-y">
    <!-- Basic Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active">Tra cứu khách hàng</li>
        </ol>
    </nav>
    <!-- Basic Breadcrumb -->

    <div class="row mb-4">
        <!-- Basic Alerts -->
        <div class="col-md mb-4 mb-md-0">
            <div class="card">
                <h5 class="card-header">Thông tin tra cứu</h5>
                <div class="card-body">
                    <div class="col-sm-12 col-md-12">
                        <form id="frmSearch">
                            <div class="row p-md-1">
                                <div class="col row-cols-md">
                                    <input class="form-control" id="Phone" name="Phone" placeholder="Số điện thoại" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="text-xl-end text-md-end justify-content-md-end ">
                            <div class="dt-buttons btn-group flex-wrap">
                                <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="Search()">
                                    <i class="ti ti-search"></i>Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Basic Alerts -->
        <!-- Alerts with links -->
        <div class="col-md">
            <div class="card">
                <h5 class="card-header">Thông tin đăng ký</h5>
                <div class="card-body" id="loadData">

                </div>
            </div>
        </div>
        <!--/ Alerts with links -->
    </div>
    <!--/ Bordered Table -->
</div>
<!-- / Content -->
@section Scripts {
    <script type="text/javascript">
        function Search() {
            if ($('#Phone').val() == undefined || $('#Phone').val() == '') {
                ShowToast('warning', 'Vui lòng nhập số điện thoại!')
                $('#Phone').focus();
            }
            else {
                 BlockLoading('#loadData');
            var obj = GetFormData('frmSearch');
                $('#loadData').load('@Url.Action("LoadData", "SearchCustomer")'
                   , { phone: obj.Phone }
                    , function (responseTxt, statusTxt, xhr) {
                         if (statusTxt == "error") {
                             console.log('Lỗi');
                             ShowToast('error', 'Lỗi hệ thống')
                         }
                 });
            }
     }
    </script>
}