﻿
@using TTL_ERP.Areas.HRM.Models
@model StaffModel
@{
    var isCreate = (bool)ViewBag.IsCreate;
}
<div class="col-12">
    <div class="nav-align-top nav-tabs-shadow mb-4">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <button type="button"
                        class="nav-link active"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-info-product"
                        aria-controls="navs-info-product"
                        aria-selected="true">
                    <i class="tf-icons ti ti-info-circle ti-xs me-1"></i> Thông tin nhân viên
                </button>
            </li>
            <li class="nav-item">
                <button type="button"
                        class="nav-link"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-info-image"
                        aria-controls="navs-info-image"
                        aria-selected="false">
                    <i class="tf-icons ti ti-photo ti-xs me-1"></i>Hình ảnh
                </button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="navs-info-product" role="tabpanel">
                <div class="row">
                    @Html.HiddenFor(model => model.Id)
                    <input hidden id="InventoryHidden" />
                    <div class="col-md-3">
                        <label class="form-label" for="ParenId">Phòng ban</label>
                        @Html.DropDownListFor(model => model.DepartmentSelectId, Model.DepartmentList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg", @multiple = "multiple" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="ParenId">Chức vụ</label>
                        @Html.DropDownListFor(model => model.RegencyId, Model.RegencyList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="ParenId">Loại nhân viên</label>
                        @Html.DropDownListFor(model => model.StaffTypeId, Model.StaffTypeList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="ManagerId">Quản lý</label>
                        @Html.DropDownListFor(model => model.ManagerId, Model.ManagerList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="UserName">Tài khoản</label>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tài khoản" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Code">Mã</label>
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã nhân viên" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="FullName">Họ tên</label>
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ tên" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Birthday">Ngày sinh</label>
                        @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ngày sinh" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="GenderId">Giới tính</label>
                        @Html.DropDownListFor(model => model.GenderId, Model.GenderList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Phone">Số điện thoại</label>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Email">Email</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Skype">Skype</label>
                        @Html.EditorFor(model => model.Skype, new { htmlAttributes = new { @class = "form-control", @placeholder = "Skype" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Facebook">Facebook</label>
                        @Html.EditorFor(model => model.Facebook, new { htmlAttributes = new { @class = "form-control", @placeholder = "Facebook" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Twitter">Twitter</label>
                        @Html.EditorFor(model => model.Twitter, new { htmlAttributes = new { @class = "form-control", @placeholder = "Twitter" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Viber">Viber</label>
                        @Html.EditorFor(model => model.Viber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Viber" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Zalo">Zalo</label>
                        @Html.EditorFor(model => model.Zalo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Zalo" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Address">Địa chỉ</label>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ" } })
                    </div>
                    <div class="col-md-12">
                        <label class="form-label" for="Description">Mô tả</label>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Mô tả", @rows = "3" })
                    </div>
                    <div class="mb-3">
                        <label class="switch switch-primary">
                            @Html.CheckBoxFor(model => model.Status, new { @class = "switch-input" })
                            <span class="switch-toggle-slider">
                                <span class="switch-on"></span>
                                <span class="switch-off"></span>
                            </span>
                            <span class="switch-label">Hoạt động</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="navs-info-image" role="tabpanel">
                <div class="row">
                    <div class="col-md-3">
                        <label class="form-label" for="AvatarImg">Hình ảnh</label>
                        <img id="imgAvatar" class="img-fluid rounded mb-3 pt-1 mt-4" src="/assets/img/no-image.png" height="100" width="100" alt="Hình ảnh">
                        @Html.EditorFor(model => model.AvatarImg, new
                        {
                        htmlAttributes = new
                        {
                        @class = "form-control"
                        ,
                        @accept = "image/png, image/jpeg",
                        @onchange = "uploadFiles('AvatarImg', 'uploads/staff')"
                        }
                        })
                        @Html.HiddenFor(model => model.Avatar)
                    </div>

                    <div class="col-md-3">
                        <label class="form-label" for="Thumb">Thumb</label>
                        <img id="imgThumb" class="img-fluid rounded mb-3 pt-1 mt-4" src="/assets/img/no-image.png" height="100" width="100" alt="Thumb">
                        @Html.EditorFor(model => model.ThumbImg, new
                        {
                        htmlAttributes = new
                        {
                        @class = "form-control"
                        ,
                        @accept = "image/png, image/jpeg",
                        @onchange = "uploadFiles('ThumbImg', 'uploads/staff')"
                        }
                        })
                        @Html.HiddenFor(model => model.Thumb)

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

