﻿@using TTL_ERP.Areas.HRM.Models
@model StaffModel
@{
    ViewBag.Title = "Thêm nhân viên";
    Layout = "~/Areas/HRM/Views/Shared/_Layout.cshtml";
    var isCreate = (bool)ViewBag.IsCreate;
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Nhân viên /</span> Thêm mới</h4>
    <!-- FormValidation -->
    @using (Html.BeginForm("Create", "Staff", FormMethod.Post, new { @id = "frm", @class = "row g-3", @autocomplete = "off" }))
    {
        @Html.Partial("_AddOrEdit")
    }

    <div class="p-2 col-12 text-md-end">
        <button id="btnReSet" class="btn btn-outline-secondary">Nhập lại</button>
        <button id="btnSubmitAndContinue" class="btn btn-primary">Lưu và tiếp tục</button>
        <button id="btnSubmit" class="btn btn-primary">Lưu</button>
    </div>
</div>

@section Scripts{
    <script src="../../js/HRm/Staff.js"></script>
}
