﻿@using TTL_ERP.Areas.CRM.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<CustomerModel>
<table class="table table-hover table-bordered">
    <thead>
        <tr class="text-center">
            <th style="width:2%" class="text-center">#</th>
            <th>Mã</th>
            <th>Tên</th>
            <th>Số điện thoại</th>
            <th>Số điện thoại giới thiệu</th>
            <th>Email</th>
            <th>Ngày Sinh</th>
            <th>Giới tính</th>
            <th style="width:4%" class="text-center">Kiểu</th>
            <th style="width:3%" class="text-center">Loại</th>
            <th style="width:10%" class="text-center">Hành động</th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0">
        @if (Model != null && Model.ListItems.Count > 0)
        {
            var stt = Model.PagingViewModel.StartIndex;
            foreach (var item in Model.ListItems)
            {
        <tr>
            <td class="text-center">
                @(++stt)
            </td>
            <td>
                <strong>@item.Code</strong>
            </td>
            <td>@item.FullName</td>
            <td>@item.Phone</td>
            <td>@item.Ref_Phone</td>
            <td>@item.Email</td>
            <td>@item.Birthday</td>
            <td>@item.GenderName</td>
            <td class="text-center">
                @Html.Raw($"<span class=\"badge bg-label-primary me-1\">{item.CustomerTypeName}</span>")
            </td>
            <td class="text-center">
                @Html.Raw($"<span class=\"badge bg-label-primary me-1\">{item.CustomerStatusName}</span>")
            </td>
            <td class="text-center">
                <a data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Sửa"
                   onclick="AddNew('/CRM/Customer/Edit?id='+@item.Id)" href="javascript:void(0);"><i class="ti ti-pencil me-1"></i></a>
                <a data-id="@item.Id" name="btnDelete"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Xóa"
                   onclick="confirmDetele(@item.Id, '/CRM/Customer/Delete', true)" href="javascript:void(0);"><i class="ti ti-trash me-1"></i></a>
            </td>
        </tr>
            }
        }
        else
        {
            <tr><td align="center" colspan="11" class="dataTables_empty">không có dữ liệu</td></tr>
        }
    </tbody>
</table>
<div class="demo-inline-spacing">
    <!-- Basic Square Pagination -->
    @Html.RenderPaging(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
    <!--/ Basic Square Pagination -->
</div>