﻿@using TTL_ERP.Areas.CRM.Models
@model CustomerModel
@{
    ViewBag.Title = "Sửa khách hàng";
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Khách hàng /</span> Sửa</h4>
    <!-- FormValidation -->
    @using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new { @id = "frm", @class = "row g-3", @autocomplete = "off" }))
    {
        @Html.Partial("_AddOrEdit")
    }
    <div class="p-2 col-12 text-md-end">
        <button id="btnSubmit" class="btn btn-primary">Cập nhật</button>
    </div>
</div>

@section Scripts{
    <script src="../../js/CRM/Customer.js"></script>
}
