﻿
@using TTL_ERP.Areas.WM.Models
@model BillModel
@{
    var isCreate = (bool)ViewBag.IsCreate;
}
<div class="col-12">
    @*<h6 class="text-muted">Filled Tabs</h6>*@
    <div class="nav-align-top nav-tabs-shadow mb-4">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <button type="button"
                        class="nav-link active"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-info-product"
                        aria-controls="navs-info-product"
                        aria-selected="true">
                    <i class="tf-icons ti ti-info-circle ti-xs me-1"></i> Thông tin phiếu nhập
                    @*<span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-danger ms-1">3</span>*@
                </button>
            </li>
            @*<li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-info-propertiese"
                            aria-controls="navs-info-propertiese"
                            aria-selected="false">
                        <i class="tf-icons ti ti-photo ti-xs me-1"></i>Hình ảnh
                    </button>
                </li>*@
            @*<li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-info-image"
                            aria-controls="navs-info-image"
                            aria-selected="false">
                        <i class="tf-icons ti ti-brackets-contain ti-xs me-1"></i> Thuộc tính sản phẩm
                    </button>
                </li>*@
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="navs-info-product" role="tabpanel">
                <div class="row">
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.BillCategoryId)
                    @Html.HiddenFor(model => model.BillType)
                    @Html.HiddenFor(model => model.BillStatusId)
                    <div class="col-md-3">
                        <label class="form-label" for="Code">Mã</label>
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã phiếu", @disabled = "disabled" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Ngày nhập</label>
                        @Html.EditorFor(model => model.CreateOnStr, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ngày nhập", @disabled = "disabled" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Kho</label>
                        @Html.DropDownListFor(model => model.StoreId, Model.StoreList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Sản phẩm</label>
                        @Html.DropDownListFor(model => model.ProductId, Model.ProductList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Trạng thái</label>
                        @Html.DropDownListFor(model => model.BillStatusId, Model.BillStatusList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                    </div>
                    <div class="col-md-3" style="display:none">
                        <label class="form-label" for="Description">Giảm giá %</label>
                        @Html.EditorFor(model => model.DiscountValue, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-3" style="display:none">
                        <label class="form-label" for="Description">Tổng tiền giảm giá</label>
                        @Html.EditorFor(model => model.TotalDiscountAmountStr, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        @Html.HiddenFor(model => model.TotalDiscountAmount, new { @class = "form-control", @placeholder = "Tổng tiền giảm giá" })
                    </div>
                    <div class="col-md-3" style="display:none">
                        <div class="mb-1">
                            <label class="switch switch-primary">
                                <span class="switch-label">Phí vận chuyển</span>
                                @Html.CheckBoxFor(model => model.IsDelivery, new { @class = "switch-input" })
                                <span class="switch-toggle-slider">
                                    <span class="switch-on"></span>
                                    <span class="switch-off"></span>
                                </span>
                            </label>
                        </div>
                        <div class="mb-2">
                            @Html.EditorFor(model => model.DeliveryFeeStr, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.HiddenFor(model => model.DeliveryFee, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label" for="Description">Số lượng</label>
                        @Html.EditorFor(model => model.QuantityStr, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.Quantity, new { @class = "form-control", @placeholder = "Số lượng" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Description">Tổng tiền</label>
                        @Html.EditorFor(model => model.TotalAmountStr, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.TotalAmount, new { @class = "form-control", @placeholder = "Tổng tiền" })
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="Description">Ghi chú</label>
                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @placeholder = "Ghi chú", @rows = "3" })
                    </div>
                </div>
            </div>
            @*<div class="tab-pane fade" id="navs-info-propertiese" role="tabpanel">

                </div>*@
            @*<div class="tab-pane fade" id="navs-info-image" role="tabpanel">

                </div>*@
        </div>
    </div>
</div>
@if (!isCreate)
{
    <div class="col-12" id="InfoBundledGift">
        <div class="card">
            <h5 class="card-header">Danh sách mã code</h5>
            <div class="card-body row">
                <div class="table-responsive text-nowrap p-2">
                    <table class="table table-hover table-bordered" id="tbodyProduct">
                        <thead>
                            <tr>
                                <th style="width:2%" class="text-center">#</th>
                                <th>Mã code</th>
                                <th>Seri</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.StoreDetail.Count() > 0)
                            {
                                int stt = 0;
                                var StoreDetail = Model.StoreDetail.ToList();
                                foreach (var item in StoreDetail.ToList())
                                {
                                    <tr>
                                        <td class="text-center">
                                            <p>@(++stt)</p>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.EditorFor(d => item.CodeValue, new { htmlAttributes = new { @class = "form-control CodeValue" } })
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.EditorFor(d => item.SeriNumber, new { htmlAttributes = new { @class = "form-control SeriNumber" } })
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.EditorFor(d => item.Title, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td align="center" colspan="4" class="dataTables_empty">không có dữ liệu</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

