﻿@{
    ViewBag.Title = "Danh Sách Quà Tặng";
}
@using TTL_AGENCY.Models
@model QuatangModel

<style>
        .containerQuanTang {
            position: relative;
            width: 100%;
            overflow: hidden;
            padding-top: 70%; /* 16:9 Aspect Ratio */
        }

        .responsive-iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 200%;
            border: none;
        }

        @@media only screen and (max-width: 768px) {
          /* For mobile phones: */
            .containerQuanTang {
                position: relative;
                width: 100%;
                overflow: hidden;
                padding-top: 200%; /* 16:9 Aspect Ratio */
            }
        }
</style>

<div class="container-fluid flex-grow-1 container-p-y">
    <!-- Basic Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active">Quà tặng</li>
        </ol>
    </nav>
    <!-- Basic Breadcrumb -->
    <!-- Bordered Table -->
    <div class="card containerQuanTang">
        <iframe src='@Model.Url' id="Iframe" name='Iframe'class="responsive-iframe"></iframe>
    </div>
    <!--/ Bordered Table -->
</div>
<!-- / Content -->

@section Scripts {

}