﻿
@using TTL_ERP.Areas.WM.Models
@model PriceListModel
@{
    ViewData["Title"] = "Thêm Bảng Giá";
    var isCreate = (bool)ViewBag.IsCreate;
}
<div class="col-12">
    @*<h6 class="text-muted">Filled Tabs</h6>*@
    <div class="nav-align-top nav-tabs-shadow mb-4">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <button type="button"
                        class="nav-link active"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-info-product"
                        aria-controls="navs-info-product"
                        aria-selected="true">
                    <i class="tf-icons ti ti-info-circle ti-xs me-1"></i> Thông tin sản phẩm
                    @*<span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-danger ms-1">3</span>*@
                </button>
            </li>
            @*<li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-info-propertiese"
                            aria-controls="navs-info-propertiese"
                            aria-selected="false">
                        <i class="tf-icons ti ti-photo ti-xs me-1"></i>Hình ảnh
                    </button>
                </li>*@
            @*<li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-info-image"
                            aria-controls="navs-info-image"
                            aria-selected="false">
                        <i class="tf-icons ti ti-brackets-contain ti-xs me-1"></i> Thuộc tính sản phẩm
                    </button>
                </li>*@
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="navs-info-product" role="tabpanel">
                <div class="row">
                    @Html.HiddenFor(model => model.Id)
                    <input hidden id="ProductListHidden" />
                    <input hidden id="ComboListHidden" />

                    <div class="col-md-3">
                        <label class="form-label" for="Code">Mã</label>
                        @if (isCreate)
                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã" } })
                            else
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã", @disabled = "disabled" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Tên</label>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Ngày bắt đầu</label>
                        @Html.EditorFor(model => model.StartdateStr, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ngày bắt đầu" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Ngày kết thúc</label>
                        @Html.EditorFor(model => model.EnddateStr, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ngày kết thúc" } })
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="Description">Mô tả</label>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Mô tả", @rows = "3" })
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="Description">Ghi chú</label>
                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @placeholder = "Ghi chú", @rows = "3" })
                    </div>
                    <div class="mb-3">
                        <label class="switch switch-primary">
                            @Html.CheckBoxFor(model => model.Status, new { @class = "switch-input" })
                            <span class="switch-toggle-slider">
                                <span class="switch-on"></span>
                                <span class="switch-off"></span>
                            </span>
                            <span class="switch-label">Hoạt động</span>
                        </label>
                        <label class="switch switch-primary">
                            @Html.CheckBoxFor(model => model.IsUnlimited, new { @class = "switch-input" })
                            <span class="switch-toggle-slider">
                                <span class="switch-on"></span>
                                <span class="switch-off"></span>
                            </span>
                            <span class="switch-label">Không giới hạn</span>
                        </label>
                        <label class="switch switch-primary">
                            @Html.CheckBoxFor(model => model.IsAgency, new { @class = "switch-input" })
                            <span class="switch-toggle-slider">
                                <span class="switch-on"></span>
                                <span class="switch-off"></span>
                            </span>
                            <span class="switch-label">Đối tác</span>
                        </label>
                    </div>
                </div>
            </div>
            @*<div class="tab-pane fade" id="navs-info-propertiese" role="tabpanel">

                </div>*@
            @*<div class="tab-pane fade" id="navs-info-image" role="tabpanel">

                </div>*@
        </div>
    </div>
</div>
<div class="col-12" id="InfoBundledGift">
    <div class="card">
        <h5 class="card-header">Sản phẩm</h5>
        <div class="card-body row">
            <div class="text-xl-end text-md-end justify-content-md-end p-2">
                <div class="dt-buttons btn-group flex-wrap">
                    @*<button class="btn add-new btn-primary mb-3 mb-md-0" onclick="showInPopup('/WM/PriceList/CreatePopUp', 'Thêm mặt hàng')">
            <i class="ti ti-plus"></i>Thêm
        </button>*@
                    <a onclick="showInPopup('/WM/PriceList/CreatePopUp', 'Chọn mặt hàng')" name="btnAddRow" href="javascript:void(0);"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Thêm dòng"><i class="ti ti-plus"></i>Thêm mặt hàng</a>
                    <a onclick="showInPopup('/WM/PriceList/CreatePopUpCombo', 'Chọn Combo')" name="btnAddRowCombo" href="javascript:void(0);"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Thêm dòng"><i class="ti ti-plus"></i>Thêm Combo</a>
                </div>
            </div>
            <div class="table-responsive text-nowrap p-2">
                <table class="table table-hover table-bordered" id="tbodyProduct">
                    <thead>
                        <tr>
                            <th style="width:2%" class="text-center">#</th>
                            <th>Tên Sản Phẩm</th>
                            <th>Tên Combo</th>
                            <th>Giá Vốn</th>
                            <th>Giá Bán</th>
                            <th>Giá Mới</th>
                            <th style="width:5%" class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.PriceListDetail.Count() > 0)
                        {
                            int stt = 0;
                            var PriceListDetail = Model.PriceListDetail.ToList();
                            foreach (var item in PriceListDetail.ToList())
                            {
                                <tr>
                                    <td class="text-center">
                                        <p>@(++stt)</p>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => item.ProductId, item.ProductList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg", @disabled = "true" })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => item.ComboId, item.ComboList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg", @disabled = "true" })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.CostPrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Giá vốn" } })
                                            @Html.EditorFor(d => item.CostPriceStr, new { htmlAttributes = new { @class = "form-control Price text-end", @placeholder = "Giá vốn", @disabled = "true" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.Price, new { htmlAttributes = new { @class = "form-control", @placeholder = "Giá bán" } })
                                            @Html.EditorFor(d => item.PriceStr, new { htmlAttributes = new { @class = "form-control Price text-end", @placeholder = "Giá bán", @disabled = "true" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.PriceNew, new { htmlAttributes = new { @class = "form-control", @placeholder = "Giá mới" } })
                                            @Html.EditorFor(d => item.PriceNewStr, new { htmlAttributes = new { @class = "form-control Price text-end", @placeholder = "Giá mới" } })
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:void(0);" name="btnRemoveLine"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           title="Xóa dòng"><i class="ti ti-trash me-1"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td align="center" colspan="7" class="dataTables_empty">không có dữ liệu</td></tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="text-xl-end text-md-end justify-content-md-end p-2">
                <a onclick="showInPopup('/WM/PriceList/CreatePopUp', 'Chọn mặt hàng tặng kèm')" name="btnAddRow" href="javascript:void(0);"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Thêm dòng"><i class="ti ti-plus"></i>Thêm mặt hàng</a>
                <a onclick="showInPopup('/WM/PriceList/CreatePopUpCombo', 'Chọn Combo')" name="btnAddRowCombo" href="javascript:void(0);"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Thêm dòng"><i class="ti ti-plus"></i>Thêm Combo</a>
            </div>
        </div>
    </div>
</div>

<script id="template_subform" type="text/x-handlebars-template">
    <tr>
        <td class="text-center">
            <p>{{stt}}</p>
        </td>
        <td>
            <div class="col-md-12">
                <select name="ProductId" class="select2 form-select form-select-lg" disabled ="disabled">
                    {{#selectProduct valueProduct}}
                    {{{productList}}}
                    {{/selectProduct}}
                </select>
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <select name="ComboId" class="select2 form-select form-select-lg" disabled ="disabled">
                    {{#selectCombo valueCombo}}
                    {{{comboList}}}
                    {{/selectCombo}}
                </select>
            </div>
        </td>
        <td>
            <div class="col-md-12 text-end">
                <input class="form-control Price" accesskey="KeyFocus" hidden name="CostPrice" placeholder="" type="number" value="{{costPrice}}" />
                <input class="form-control Price text-end" accesskey="KeyFocus" name="CostPriceStr" placeholder="" type="text" value="{{costPrice}}" disabled ="disabled" />
            </div>
        </td>
        <td>
            <div class="col-md-12 text-end">
                <input class="form-control Price" accesskey="KeyFocus" hidden name="Price" placeholder="" type="number" value="{{price}}" />
                <input class="form-control Price text-end" accesskey="KeyFocus" name="PriceStr" placeholder="" type="text" value="{{price}}" disabled ="disabled" />
            </div>
        </td>
        <td>
            <div class="col-md-12 text-end">
                <input class="form-control Price" accesskey="KeyFocus" hidden name="PriceNew" placeholder="" type="number" value="0" />
                <input class="form-control Price text-end" accesskey="KeyFocus" name="PriceNewStr" placeholder="" type="text" value="0" />
            </div>
        </td>

        <td class="text-center">
            <a href="javascript:void(0);" name="btnRemoveLine"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Xóa dòng"><i class="ti ti-trash me-1"></i></a>
        </td>
    </tr>
</script>
