﻿@using TTL_ERP.Areas.WM.Models
@model BillModel
@{
    ViewBag.Title = "Xem Phiếu Nhập Hàng Từ Kho Khác";
    Layout = "~/Areas/WM/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Nhập hàng từ kho khác /</span> Xem chi tiết</h4>

    <!-- FormValidation -->
    @Html.Partial("_AddOrEdit")
    <div class="p-2 col-12 text-md-end">
        <a href="/WM/Warehouse" class="btn btn-primary">Quay lại</a>
    </div>
</div>
@section Scripts{
    <script src="../../js/WM/ImportWareHouse.js"></script>
}
