﻿@{
    Layout = null;
    ViewBag.Title = "Danh Sách Đơn Hàng";
    var listConfigPayment = (List<ConfigPaymentModel>)ViewBag.ConfigPayment;
}
@using TTL_ERP.Areas.PO.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model List<OrderDetailView>


<!DOCTYPE html>

<html lang="en"
      class="light-style layout-navbar-fixed layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../../assets/"
      data-template="vertical-menu-template">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Tâm Trí Lực | Chi tiết đơn hàng</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="../../assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="../../assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="../../assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/apex-charts/apex-charts.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/swiper/swiper.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/tagify/tagify.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/bootstrap-select/bootstrap-select.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/flatpickr/flatpickr.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/jstree/jstree.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/dropzone/dropzone.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/jquery-timepicker/jquery-timepicker.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/pickr/pickr-themes.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/spinkit/spinkit.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/bs-stepper/bs-stepper.css" />
    <!-- Row Group CSS -->
    <link rel="stylesheet" href="../../assets/vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css" />
    <!-- Form Validation -->
    <link rel="stylesheet" href="../../assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />

    <link rel="stylesheet" href="../../assets/vendor/libs/toastr/toastr.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/animate-css/animate.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/sweetalert2/sweetalert2.css" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="../../assets/vendor/css/pages/cards-advance.css" />
    <!-- Helpers -->
    <script src="../../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    @*<script src="../../assets/vendor/js/template-customizer.js"></script>*@
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../../assets/js/config.js"></script>
</head>

<body>

    @Html.HiddenFor(model => Model.FirstOrDefault().Id)
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row invoice-preview">
                            <!-- Invoice -->
                            <div class="col-xl-10 col-md-8 col-12 mb-md-0 mb-4">
                                <div class="card invoice-preview-card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column m-sm-3 m-0">
                                            <div class="mb-xl-0 mb-4">
                                                <div class="d-flex svg-illustration mb-4 gap-2 align-items-center">
                                                    <img src="..\..\assets\img\logo\Logo_TTL.png" />
                                                    <span class="app-brand-text fw-bold fs-4"> TÂM TRÍ LỰC </span>
                                                </div>
                                                <p class="mb-2">Địa chỉ: G06 – Tháp Canary, Đảo Kim Cương, Số 1, Đường số 104, Phường Bình Trưng Tây, Tp. Thủ Đức, TP.HCM</p>
                                                <p class="mb-2">Điện thoại: 0939 279 868</p>
                                                @*<p class="mb-0">+1 (123) 456 7891, +44 (876) 543 2198</p>*@
                                            </div>
                                            <div>
                                                <h4 class="fw-semibold mb-2">Đơn hàng: @Model.FirstOrDefault().Code</h4>
                                                <div class="mb-2 pt-1">
                                                    <span>Ngày tạo:</span>
                                                    <span class="fw-semibold">@Model.FirstOrDefault().CreateDateStr</span>
                                                </div>
                                                <div class="pt-1">
                                                    <span>Người tạo:</span>
                                                    <span class="fw-semibold">@Model.FirstOrDefault().CreateName</span>
                                                </div>
                                                <div class="pt-1">
                                                    <span>Trạng thái:</span>
                                                    <span class="fw-semibold">@Model.FirstOrDefault().StatusName</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-0" />
                                    <div class="card-body">
                                        <div class="row p-sm-3 p-0">
                                            <div class="col-xl-6 col-md-12 col-sm-5 col-12 mb-xl-0 mb-md-4 mb-sm-0 mb-4">
                                                <h6 class="mb-3">Thông tin khách hàng:</h6>
                                                <p class="mb-1"><i class="ti ti-user"></i> @Model.FirstOrDefault().FullName</p>
                                                <p class="mb-1"><i class="ti ti-phone"></i> @Model.FirstOrDefault().Phone</p>
                                                <p class="mb-1"><i class="ti ti-mail"></i> @Model.FirstOrDefault().Email</p>
                                                <p class="mb-1"><i class="ti ti-map-pins"></i> @Model.FirstOrDefault().Address</p>
                                            </div>
                                            @*<div class="col-xl-6 col-md-12 col-sm-7 col-12">
                                                    <h6 class="mb-4">Bill To:</h6>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td class="pe-4">Total Due:</td>
                                                                <td><strong>$12,110.55</strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="pe-4">Bank name:</td>
                                                                <td>American Bank</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="pe-4">Country:</td>
                                                                <td>United States</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="pe-4">IBAN:</td>
                                                                <td>ETD95476213874685</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="pe-4">SWIFT code:</td>
                                                                <td>BR91905</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>*@
                                        </div>
                                    </div>
                                    <div class="table-responsive border-top p-2">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <tr class="text-center">
                                                    <th style="width:2%">#</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Đơn giá x Số lượng</th>
                                                    <th>Thành tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null && Model.Count > 0)
                                                {
                                                    var stt = 0;
                                                    foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td class="text-center">
                                                                @(++stt)
                                                            </td>
                                                            <td>@item.ProductName</td>
                                                            <td class="text-end">@StringUtil.FormartNumber(item.Price) x @StringUtil.FormartNumber(item.Quantity)</td>
                                                            <td class="text-end">@StringUtil.FormartCurrency(item.TotalPrice)</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                            <tfoot>
                                                @if (Model != null && Model.Count > 0)
                                                {
                                                    <tr>
                                                        <td align="center" colspan="3" class="dataTables_empty"><strong>Tổng tiền</strong></td>
                                                        <td class="text-end"><strong>@StringUtil.FormartCurrency(Model.FirstOrDefault().TotalAmount)</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" colspan="3" class="dataTables_empty"><strong>Phí ship</strong></td>
                                                        <td class="text-end"><strong>@StringUtil.FormartCurrency(0)</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" colspan="3" class="dataTables_empty"><strong>Tổng tiền thanh toán</strong></td>
                                                        <td class="text-end"><strong>@StringUtil.FormartCurrency(Model.FirstOrDefault().TotalAmount)</strong></td>
                                                    </tr>
                                                }
                                            </tfoot>
                                        </table>
                                    </div>

                                    <div class="card-body mx-3">
                                        <div class="row">
                                            <div class="col-12">
                                                <span class="fw-semibold">Ghi chú:</span>
                                                <span>
                                                    Đó là một niềm vui làm việc với bạn và nhóm của bạn. Chúng tôi hy vọng bạn sẽ ghi nhớ chúng tôi cho các dự án tự do trong tương lai. Cảm ơn!!
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 mb-4">
                                        <div class="card">
                                            <h5 class="card-header">Cổng thanh toán</h5>
                                            <div class="card-body">
                                                <div class="row">
                                                    @if (listConfigPayment.Count > 0)
                                                    {
                                                        var index = 1;
                                                        foreach (var item in listConfigPayment)
                                                        {
                                                            <div class="col-md mb-md-0 mb-2">
                                                                <div class="form-check custom-option custom-option-basic checked">
                                                                    <label class="form-check-label custom-option-content" for="cardListRadio+@index">
                                                                        <input name="cardListRadio" class="form-check-input" type="radio" value="@item.Code" id="cardListRadio+@index" checked="">
                                                                        <span class="custom-option-header">
                                                                            <span class="h6 mb-0">@item.Title</span>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            index++;
                                                        }

                                                    }
                                                    @*<div class="col-md">
                                                        <div class="form-check custom-option custom-option-basic">
                                                            <label class="form-check-label custom-option-content" for="cardListRadio2">
                                                                <input name="cardListRadio" class="form-check-input" type="radio" value="NganLuong" id="cardListRadio2">
                                                                <span class="custom-option-header">
                                                                    <span class="h6 mb-0">Ngân lượng</span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.FirstOrDefault().StatusCode != "600")
                                    {
                                        <div class="card-body mx-3">
                                            <div class="text-center">
                                                <button onclick="RequestOnPay('@Model.FirstOrDefault().URLRequestOnePay')" class="btn btn-primary mb-3 mb-md-0">
                                                    <span class="d-flex align-items-center justify-content-center text-nowrap"><i class="ti ti-currency-dollar ti-xs me-1"></i>Thanh toán ngay</span>
                                                </button>
                                                @*<button class="btn btn-label-secondary d-grid w-100 mb-2">Download</button>
                                                    <a class="btn btn-label-secondary d-grid w-100 mb-2"
                                                       target="_blank"
                                                       href="./app-invoice-print.html">
                                                        Print
                                                    </a>
                                                    <a href="./app-invoice-edit.html" class="btn btn-label-secondary d-grid w-100 mb-2">
                                                        Edit Invoice
                                                    </a>
                                                    <button class="btn btn-primary d-grid w-100"
                                                            data-bs-toggle="offcanvas"
                                                            data-bs-target="#addPaymentOffcanvas">
                                                        <span class="d-flex align-items-center justify-content-center text-nowrap"><i class="ti ti-currency-dollar ti-xs me-1"></i>Add Payment</span>
                                                    </button>*@
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <!-- /Invoice -->
                            <!-- Invoice Actions -->
                            @*<div class="col-xl-3 col-md-4 col-12 invoice-actions">

                                </div>*@
                            <!-- /Invoice Actions -->
                        </div>
                    </div>
                    <!-- / Content -->
                    <!-- Footer -->
                    <footer class="content-footer footer bg-footer-theme">
                        <div class="container-xxl">
                            <div class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column">
                                <div>
                                    ©
                                    <script>
                                        /*document.write(new Date().getFullYear());*/
                                        2023
                                    </script>
                                    , Develop ❤️ by <a href="https://www.facebook.com/tamtriluc" target="_blank" class="fw-semibold">Tâm Trí Lực</a>
                                </div>
                                @*<div>
                                        <a href="https://themeforest.net/licenses/standard" class="footer-link me-4" target="_blank">License</a>
                                        <a href="https://1.envato.market/pixinvent_portfolio" target="_blank" class="footer-link me-4">More Themes</a>

                                        <a href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/documentation/"
                                           target="_blank"
                                           class="footer-link me-4">Documentation</a>

                                        <a href="https://pixinvent.ticksy.com/" target="_blank" class="footer-link d-none d-sm-inline-block">Support</a>
                                    </div>*@
                            </div>
                        </div>
                    </footer>
                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>

        <!-- Drag Target Area To SlideIn Menu On Small Screens -->
        <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../assets/vendor/libs/popper/popper.js"></script>
    <script src="../../assets/vendor/js/bootstrap.js"></script>
    <script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../assets/vendor/libs/node-waves/node-waves.js"></script>

    <script src="../../assets/vendor/libs/hammer/hammer.js"></script>
    <script src="../../assets/vendor/libs/i18n/i18n.js"></script>
    <script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="../../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="../../assets/vendor/libs/select2/select2.js"></script>
    <script src="../../assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
    <script src="../../assets/vendor/libs/moment/moment.js"></script>
    <script src="../../assets/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="../../assets/vendor/libs/tagify/tagify.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>

    <script src="../../assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="../../assets/vendor/libs/swiper/swiper.js"></script>
    <script src="../../assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="../../assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script src="../../assets/vendor/libs/jstree/jstree.js"></script>
    <script src="../../assets/vendor/libs/dropzone/dropzone.js"></script>
    <script src="../../assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="../../assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
    <script src="../../assets/vendor/libs/jquery-timepicker/jquery-timepicker.js"></script>
    <script src="../../assets/vendor/libs/pickr/pickr.js"></script>
    <script src="../../assets/vendor/libs/block-ui/block-ui.js"></script>
    <script src="../../assets/vendor/libs/bs-stepper/bs-stepper.js"></script>
    <script src="../../assets/vendor/libs/clipboard/clipboard.js"></script>


    <!-- Flat Picker -->
    <script src="../../assets/vendor/libs/moment/moment.js"></script>
    <script src="../../assets/vendor/libs/flatpickr/flatpickr.js"></script>

    <!--toastr-->
    <script src="../../assets/vendor/libs/toastr/toastr.js"></script>
    <!-- Main JS -->
    <script src="../../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../../assets/js/dashboards-analytics.js"></script>
    <script src="../../assets/js/forms-selects.js"></script>
    <script src="../../js/site.js"></script>
    <script src="../../js/handlebars.js"></script>
    <script>
        $(document).ready(function () {

        });

        function RequestOnPay(url) {
            BlockUI();
            var id = $('#Id').val();
            var cardList = $('input[name="cardListRadio"]:checked').val();;
            var request = $.ajax({
                url: "/PO/Payment/UpdateStatus?id=" + id + "&orderStatusCode=600&cardList=" + cardList,
                type: "POST",
            });
            request.done(function (result) {
                UnblockUI();
                if (result.retCode == 0) {
                    //ShowToast('success', result.retText);
                    location.href = result.url;
                }
                else if (result.retCode == 2) {
                    ShowToast('warning', result.retText);
                }
                else {
                    ShowToast('error', result.retText)
                }
            });
            request.fail(function (jqXHR, textStatus) {
                UnblockUI();
                ShowToast('error', textStatus)
            });
        }
    </script>
</body>
</html>
