﻿@{
    Layout = "~/Areas/HRM/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Danh Sách Loại Nhân Viên";
}

@using TTL_ERP.Areas.HRM.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<StaffTypeModel>

@section CSS{

}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Loại nhân viên /</span> Danh sách</h4>
    <!-- Hoverable Table rows -->
    <div class="card card-action">
        @*<h5 class="card-header">Danh sách tổ chức</h5>*@
        <div class="row p-2">
            <div class="col-sm-12 col-md-12">
                <div class="dataTables_length" id="DataTables_Table_0_length">
                    <input class="form-control" id="Code" name="Code" placeholder="Tìm kiếm" />
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="text-xl-end text-md-end justify-content-md-end p-1">
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="Search()">
                            <i class="ti ti-search"></i>Tìm kiếm
                        </button>
                    </div>
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="showInPopup('/HRM/StaffType/Create', 'Thêm mới loại nhân viên')">
                            <i class="ti ti-plus"></i>Thêm mới
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="loadData" class="card-action table-responsive text-nowrap p-2">

        </div>
    </div>
    <!--/ Hoverable Table rows -->
</div>
<!-- / Content -->
@section Scripts {
    <script type="text/javascript">
     $(document).ready(function () {
         LoadData(1, '');
     });
        function LoadData(page, search) {
            BlockLoading('.card');
           $('#loadData').load('@Url.Action("LoadData", "StaffType", new { area = "HRM" })'
               , { search: search, page: page}
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                    }
                    UnblockLoading('.card');
             });
        }
        function Search() {
            BlockLoading('#loadData');
            var search = $('#Code').val();
           $('#loadData').load('@Url.Action("LoadData", "StaffType", new { area = "HRM" })'
               , { page: 1, search: search,}
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                     } else {

                     }
             });
     }
    </script>
}
