﻿@using TTL_ERP.Areas.Administrator.Models
@model ProductMapsModel
@{
    var isCreate = (bool)ViewBag.IsCreate;
}
@*<div class="text-center mb-4">
        <h3 class="modal-title mb-2"></h3>
    </div>*@
<form id="frm" class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="modalTopTitle"></h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            @Html.HiddenFor(model => model.Id)
            <div class="col-md-6">
                <label class="form-label" for="KeyId">Công ty</label>
                @Html.DropDownListFor(model => model.OrganizationId, Model.OrganizationList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg", onchange = "changeOrganization(this.value);" })
            </div>
            <div class="col-md-6">
                <label class="form-label" for="KeyId">Sản phẩm</label>
                @if (isCreate)
                    @Html.DropDownListFor(model => model.ProductId, Model.ProductList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                    else
                        @Html.DropDownListFor(model => model.ProductId, Model.ProductList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg", @disabled = "disabled" })

            </div>
            <div class="col-md-6">
                <label class="form-label" for="KeyId">Sản phẩm liên kết</label>
                @Html.DropDownListFor(model => model.KeyProductId, Model.KeyProductList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
            Đóng
        </button>
        <button type="button" id="btnSubmit" class="btn btn-primary">@(isCreate ? "Lưu" : "Cập nhật")</button>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {

        $('#OrganizationId, #ProductId, #KeyProductId').select2({
            dropdownParent: $('#form-modal')
        })

        const formValidationExamples = document.getElementById('frm');
        const fv = FormValidation.formValidation(formValidationExamples, {
            fields: {
                OrganizationId: {
                    validators: {
                        notEmpty: {
                            message: 'Vui lòng chọn công ty'
                        }
                    }
                },
                ProductId: {
                    validators: {
                        notEmpty: {
                            message: 'Vui lòng chọn sản phẩm'
                        }
                    }
                },
                KeyProductId: {
                    validators: {
                        notEmpty: {
                            message: 'Vui lòng chọn sản phẩm liên kết'
                        }
                    }
                }
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                bootstrap5: new FormValidation.plugins.Bootstrap5({

                }),
                submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                //defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                autoFocus: new FormValidation.plugins.AutoFocus()
            }
        });

        const submitButton = document.getElementById('btnSubmit');
        submitButton.addEventListener('click', function (e) {
            // Prevent default button action
            e.preventDefault();

            // Validate form before submit
            if (fv) {
                fv.validate().then(function (status) {
                    console.log(status);
                    if (status == 'Valid') {
                        var data = GetFormData('frm');
                        console.log(data);
                        url = "/ProductMaps/AddOrEdit";
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: data,
                            dataType: "json",
                            encode: true,
                            success: function (res) {
                                if (res.retCode == 0) {
                                    LoadData(1, '');
                                    ShowToast('success', res.retText);
                                    $('#form-modal').modal("hide");
                                }
                                else if (res.retCode = 1) {
                                    $('#Code').focus();
                                    ShowToast('error', res.retText);
                                }
                            },
                            error: function () {
                                console.log('Error - Failed');
                            }
                        });

                    }
                });
            }
        });
    });

</script>
@section Scripts{

}

