﻿@using TTL_ERP.Areas.Administrator.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<ProductMapsModel>
<table class="table table-hover">
    <thead>
        <tr class="text-center">
            <th style="width:2%" class="text-center">#</th>
            <th class="text-center">Tên sản phẩm</th>
            <th class="text-center">Sản phẩm liên kết</th>
            <th style="width:10%" class="text-center">Hành động</th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0">
        @if (Model != null)
        {
            var stt = Model.PagingViewModel.StartIndex;
            foreach (var item in Model.ListItems)
            {
                <tr>
                    <td class="text-center">
                        @(++stt)
                    </td>
                    <td class="text-center">@item.ProductName</td>
                    <td class="text-center">@item.KeyProductName</td>
                    <td class="text-center">
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Sửa"
                           onclick="showInPopup('/ProductMaps/Edit?id=@item.Id', 'Sửa liên kết sản phẩm')" href="javascript:void(0);"><i class="ti ti-pencil me-1"></i></a>
                        <a data-id="@item.Id" name="btnDelete"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Xóa"
                           onclick="confirmDetele(@item.Id, '/ProductMaps/Delete', true)" href="javascript:void(0);"><i class="ti ti-trash me-1"></i></a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
<div class="demo-inline-spacing">
    <!-- Basic Square Pagination -->
    @Html.RenderPaging(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
    <!--/ Basic Square Pagination -->
</div>