﻿@using TTL_ERP.Areas.Administrator.Models
@using TTL_ERP.Models
@model IndexViewModel<ProductMapsModel>
@{
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutSystem.cshtml";
    ViewData["Title"] = "Liên Kết Sản Phẩm";
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Liên kết sản phẩm /</span> Danh sách</h4>
    <!-- Hoverable Table rows -->
    <div class="card">
        <div class="row p-2">
            <div class="col-sm-12 col-md-12">
                <form id="frmSearch">
                    <div class="row p-md-1">
                        <div class="col row-cols-md">
                            <label class="form-label">Công ty</label>
                            @Html.DropDownList("OrganizationIdSearch", Model.OrganizationList, new { @class = "select2 form-select form-select-lg", onchange = "changeOrganizationSearch(this.value);" })
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Sản phẩm</label>
                            @Html.DropDownList("ProductIdSearch", Model.ProductList, new { @class = "select2 form-select form-select-lg" })
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Sản phẩm liên kết</label>
                            @Html.DropDownList("KeyProductIdSearch", Model.KeyProductList, new { @class = "select2 form-select form-select-lg" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="text-xl-end text-md-end justify-content-md-end ">
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="Search()">
                            <i class="ti ti-search"></i>Tìm kiếm
                        </button>
                    </div>
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="showInPopup('/ProductMaps/Create', 'Thêm mới sản phẩm liên kết')">
                            <i class="ti ti-plus"></i>Thêm mới
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="loadData" class="table-responsive text-nowrap">

        </div>
    </div>
    <!--/ Hoverable Table rows -->



</div>
<!-- / Content -->
@section Scripts {
    <script type="text/javascript">
     $(document).ready(function () {
         LoadData(1);
     });
        function LoadData(page) {
            var obj = GetFormData('frmSearch');
            obj.page = page;
            $('#loadData').load('@Url.Action("LoadData", "ProductMaps", new { area = "Administrator" })'
                , { fitter: obj }
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         ShowToast('error', 'Lỗi hệ thống');
                     } else {

                     }
             });
        }
         function Search() {
             var obj = GetFormData('frmSearch');
             obj.page = 1;
             $('#loadData').load('@Url.Action("LoadData", "ProductMaps", new { area = "Administrator" })'
                 , { fitter: obj }
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                     } else {

                     }
             });
        }

        function changeOrganizationSearch(selectedValue) {
            var request = $.ajax({
                url: "/Base/GetProductNumberByOrganizationId?organizationId=" + selectedValue,
                type: "GET",
            });
            request.done(function (result) {
                $('#ProductIdSearch').children().remove();
                //$("#DistrictId").append($('<option></option>').val("0").html("All"));
                $.each(result.data, function (i, item) {
                    $("#ProductIdSearch").append($('<option></option>').val(item.value).html(item.text).attr('selected', item.selected));
                });
            });
            request.fail(function (jqXHR, textStatus) {
                ShowToast('error', textStatus)
            });
        }

        function changeOrganization(selectedValue) {
            var request = $.ajax({
                url: "/Base/GetProductNumberByOrganizationId?organizationId=" + selectedValue,
                type: "GET",
            });
            request.done(function (result) {
                $('#ProductId').children().remove();
                //$("#DistrictId").append($('<option></option>').val("0").html("All"));
                $.each(result.data, function (i, item) {
                    $("#ProductId").append($('<option></option>').val(item.value).html(item.text).attr('selected', item.selected));
                });
            });
            request.fail(function (jqXHR, textStatus) {
                ShowToast('error', textStatus)
            });
        }
       
    </script>
}
