﻿
@using TTL_ERP.Areas.Administrator.Models
@model AccountModel
@{
    ViewData["Title"] = "Tài khoản";
    var isCreate = (bool)ViewBag.IsCreate;
}

@Html.HiddenFor(model => model.Id)
<div class="col-md-6">
    <label class="form-label" for="Code">Tài khoản</label>
    @if (isCreate)
    {
        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tài khoản"} })
    }
    else
    {
        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tài khoản", @disabled = "disabled" } })
    }
</div>
<div class="col-md-6">
    <label class="form-label" for="Title">Mật khẩu</label>
    <div class="mb-3 form-password-toggle">
        <div class="input-group input-group-merge">
            @Html.EditorFor(model => model.Password, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
                    @placeholder = "*******",
                    @aria_describedby = "password",
                    @type = "password"
                }
            })
            <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
        </div>
    </div>
</div>

<div class="mb-3">
    <label class="switch switch-primary">
        @Html.CheckBoxFor(model => model.Status, new { @class = "switch-input" })
        <span class="switch-toggle-slider">
            <span class="switch-on"></span>
            <span class="switch-off"></span>
        </span>
        <span class="switch-label">Hoạt động</span>
    </label>
</div>
<div class="col-md-9">
    <label class="form-label" for="Fax">Phân quyền vai trò</label>
    <!-- Ajax -->
    <div class="card">
        <div class="card-body">
            <div id="jstree-ajax"></div>
        </div>
    </div>
    <!-- Ajax -->
</div>

<div class="col-12">
    <button id="btnSubmit" class="btn btn-primary">@(isCreate ? "Lưu" : "Cập nhật")</button>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            /**/
            if ($.urlParam('msg') == '1') {
                ShowToast('success', 'Thành công', 'Thêm Thành Công!')
            }
            /**/
        });
    </script>
}
