﻿@using TTL_ERP.Areas.Administrator.Models
@model IEnumerable<AccountModel>
@{
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutSupperAdmin.cshtml";
    ViewData["Title"] = "Tài khoản";
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Tài khoản /</span> Danh sách</h4>
    <!-- Hoverable Table rows -->
    <div class="card">
        <div class="row p-2">
            <div class="col-sm-12 col-md-9">
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="text-xl-end text-md-end justify-content-md-end ">
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="AddNew('/Account/Create')">
                            <i class="ti ti-plus"></i>Thêm mới
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th style="width:2%" class="text-center">#</th>
                        <th>Tài khoản</th>
                        <th>Mật khẩu</th>
                        <th style="width:10%" class="text-center">Trạng thái</th>
                        <th style="width:10%" class="text-center">Hành động</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @if (Model != null)
                    {
                        var stt = 0;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    @(++stt)
                                </td>
                                <td>
                                    <strong>@item.UserName</strong>
                                </td>
                                <td>@item.Password</td>
                                <td class="text-center">
                                    @Html.Raw((item.Status ? "<span class=\"badge bg-label-primary me-1\">Hoạt động</span>" : "<span class=\"badge bg-label-warning me-1\">Ngưng hoạt động</span>"))
                                </td>
                                <td class="text-center">
                                    <a data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="Sửa"
                                       href="/Account/Edit/@item.Id"><i class="ti ti-pencil me-1"></i></a>
                                    <a data-id="@item.Id" name="btnDelete"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="Xóa"
                                       onclick="confirmDetele(@item.Id, '/Account/Delete', true)" href="javascript:void(0);"><i class="ti ti-trash me-1"></i></a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
    <!--/ Hoverable Table rows -->



</div>
<!-- / Content -->
