﻿
@using TTL_ERP.Areas.WM.Models
@model BillModel
@{
    var isCreate = (bool)ViewBag.IsCreate;
}
<div class="col-12">
    @*<h6 class="text-muted">Filled Tabs</h6>*@
    <div class="nav-align-top nav-tabs-shadow mb-4">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <button type="button"
                        class="nav-link active"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-info-product"
                        aria-controls="navs-info-product"
                        aria-selected="true">
                    <i class="tf-icons ti ti-info-circle ti-xs me-1"></i> Thông tin phiếu cân bằng
                    @*<span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-danger ms-1">3</span>*@
                </button>
            </li>
            @*<li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-info-propertiese"
                            aria-controls="navs-info-propertiese"
                            aria-selected="false">
                        <i class="tf-icons ti ti-photo ti-xs me-1"></i>Hình ảnh
                    </button>
                </li>*@
            @*<li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-info-image"
                            aria-controls="navs-info-image"
                            aria-selected="false">
                        <i class="tf-icons ti ti-brackets-contain ti-xs me-1"></i> Thuộc tính sản phẩm
                    </button>
                </li>*@
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="navs-info-product" role="tabpanel">
                <div class="row">
                    @Html.HiddenFor(model => model.Id)


                    <div class="col-md-3">
                        <label class="form-label" for="Code">Mã</label>
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã phiếu", @disabled = "disabled" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Ngày cân bằng</label>
                        @Html.EditorFor(model => model.CreateOnStr, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ngày nhập", @disabled = "disabled" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Kho</label>
                        @Html.DropDownListFor(model => model.StoreId, Model.StoreList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Trạng thái</label>
                        @Html.DropDownListFor(model => model.BillStatusId, Model.BillStatusList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg", @disabled = "disabled" })
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="Description">Ghi chú</label>
                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @placeholder = "Ghi chú", @rows = "3" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Description">Tổng tiền</label>
                        @Html.EditorFor(model => model.TotalAmountStr, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        @Html.HiddenFor(model => model.TotalAmount, new { @class = "form-control", @placeholder = "Tổng tiền" })
                    </div>
                </div>
            </div>
            @*<div class="tab-pane fade" id="navs-info-propertiese" role="tabpanel">

                </div>*@
            @*<div class="tab-pane fade" id="navs-info-image" role="tabpanel">

                </div>*@
        </div>
    </div>
</div>
<div class="col-12" id="InfoBundledGift">
    <div class="card">
        <h5 class="card-header">Sản phẩm</h5>
        <div class="card-body row">
            <div class="table-responsive text-nowrap p-2">
                <table class="table table-hover table-bordered" id="tbodyProduct">
                    <thead>
                        <tr>
                            <th style="width:2%" class="text-center">#</th>
                            <th>Tên Sản Phẩm</th>
                            <th>ĐVT</th>
                            <th style="width:10%">SL chênh lệch</th>
                            <th style="width:10%">Giá</th>
                            <th style="width:10%">Thành tiền</th>
                            <th>Ghi chú</th>
                            <th style="width:5%" class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.BillDetail.Count() > 0)
                        {
                            int stt = 0;
                            var BillDetail = Model.BillDetail.ToList();
                            foreach (var item in BillDetail.ToList())
                            {
                                <tr>
                                    <td class="text-center">
                                        <p>@(++stt)</p>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => item.ProductId, item.ProductList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg", @disabled = "true" })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => item.UnitId, item.UnitList, "[ Chọn ]", new { @class = "UnitId select2 form-select form-select-lg", @disabled = "true" })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.QuantityReal, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(d => item.QuantityRealStr, new { htmlAttributes = new { @class = "form-control QuantityReal" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.Price, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(d => item.PriceStr, new { htmlAttributes = new { @class = "form-control Price" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.TotalPrice, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(d => item.TotalPriceStr, new { htmlAttributes = new { @class = "form-control TotalPrice", @disabled = "true" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ghi chú" } })
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:void(0);" name="btnRemoveLine"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           title="Xóa dòng"><i class="ti ti-trash me-1"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td align="center" colspan="12" class="dataTables_empty">không có dữ liệu</td></tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
