﻿@using TTL_ERP.Areas.WM.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<BillModel>
@{
    decimal TotalDiscountAmount = 0;
    decimal TotalAmount = 0;
}
<table class="table table-hover table-bordered">
    <thead>
        <tr class="text-center">
            <th style="width:2%">#</th>
            <th style="width:3%">Mã</th>
            <th>Thời gian</th>
            <th>Kiểu phiếu</th>
            <th>Nhà cung cấp</th>
            <th>Kho nhập</th>
            <th>Kho xuất</th>
            <th>Đơn hàng</th>
            <th>Giảm giá</th>
            <th>Tổng tiền</th>
            <th style="width:10%">Trạng Thái</th>
            <th style="width:10%">Hành động</th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0">
        @if (Model != null && Model.ListItems.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model.ListItems)
            {
                TotalDiscountAmount = TotalDiscountAmount + item.TotalDiscountAmount;
                TotalAmount = TotalAmount + item.TotalAmount;
                <tr>
                    <td class="text-center">
                        @(++stt)
                    </td>
                    <td>
                        <strong>@item.Code</strong>
                    </td>
                    <td>
                        @string.Format("{0:dd/MM/yyyy hh:mm}", item.CreateOn)
                    </td>
                    <td>@item.BillCategoryName</td>
                    <td>@item.SupplierName</td>
                    <td> @(item.BillType == BillTypeEnum.ImportWareHouse || item.BillType == BillTypeEnum.TranferWareHouse ? item.StoreName: "")</td>
                    <td>@(item.BillType == BillTypeEnum.ExportWareHouse ? item.StoreName: (item.BillType == BillTypeEnum.TranferWareHouse ? item.StoreExportName : ""))</td>
                    <td>@Html.Raw(!string.IsNullOrEmpty(item.OrderCode) ? $"<a href=\"/PO/Order/Detail?id={item.OrderId}\">{item.OrderCode}</a>" : "")</td>
                    <td class="text-end">@StringUtil.FormartCurrency(item.TotalDiscountAmount)</td>
                    <td class="text-end">@StringUtil.FormartCurrency(item.TotalAmount)</td>
                    <td class="text-center">
                        @item.BillStatusName
                        @*@Html.Raw((item.BillStatusId == 0 ? "<span class=\"badge bg-label-primary me-1\">Hoạt động</span>" : "<span class=\"badge bg-label-warning me-1\">Ngưng hoạt động</span>"))*@
                    </td>
                    <td class="text-center">
                        @if (item.BillStatusCode == "100")
                        {
                            <a data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Duyệt"
                               onclick="updateStatus(@item.Id, '300')" href="javascript:void(0);"><i class="ti ti-clipboard-check me-1"></i></a>
                            <a data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Sửa"
                               onclick="AddNew('/WM/Warehouse/Edit?id=@item.Id')" href="javascript:void(0);"><i class="ti ti-pencil me-1"></i></a>
                            <a data-id="@item.Id" name="btnDelete"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Xóa"
                               onclick="confirmDetele(@item.Id, '/WM/Warehouse/Delete', true)" href="javascript:void(0);"><i class="ti ti-trash me-1"></i></a>
                        }
                        @if (item.BillStatusCode == "300")
                        {
                            <a data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Đã xuất kho"
                               onclick="updateStatus(@item.Id, '600')" href="javascript:void(0);"><i class="ti ti-file-export"></i></a>
                        }
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Xem chi tiết"
                           onclick="AddNew('/WM/Warehouse/Detail?id=@item.Id')" href="javascript:void(0);"><i class="ti ti-eye"></i></a>
                        @*<a data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="In phiếu"
                            onclick="AddNew('/WM/Warehouse/Print?id=@item.Id')" href="javascript:void(0);"><i class="ti ti-eye"></i></a>*@
                        @if (item.BillStatusCode == "500")
                        {
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Xem chi tiết"
                           onclick="AddNew('/WM/Warehouse/DetailInventory?id=@item.Id')" href="javascript:void(0);"><i class="ti ti-eye"></i></a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td align="center" colspan="12" class="dataTables_empty">không có dữ liệu</td></tr>
        }
    </tbody>
    <tfoot>
        @if (Model != null && Model.ListItems.Count > 0)
        {
        <tr class="font-weight-bold">
            <td align="center" colspan="8" class="dataTables_empty"><strong>Tổng cộng</strong></td>
            <td class="text-end"><strong>@StringUtil.FormartCurrency(TotalDiscountAmount)</strong></td>
            <td class="text-end"><strong>@StringUtil.FormartCurrency(TotalAmount)</strong></td>
            <td class="text-end"  colspan="2"></td>
        </tr>
        }
    </tfoot>
</table>
<div class="demo-inline-spacing">
    <!-- Basic Square Pagination -->
    @Html.RenderPaging(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
    <!--/ Basic Square Pagination -->
</div>

