﻿@using TTL_ERP.Areas.WM.Models
@model BillModel
@{
    ViewBag.Title = "Xem Phiếu Cân Bằng";
    Layout = "~/Areas/WM/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Cân bằng /</span> Xem chi tiết</h4>

    <!-- FormValidation -->
    @Html.Partial("_AddOrEdit")
    <div class="p-2 col-12 text-md-end">
        <a href="/WM/Warehouse" class="btn btn-primary">Quay lại</a>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tbodyProduct tbody').Uk_RebuilIdAndName();
            $('#CreateOnStr').FormatDateTime();

            $('#TotalAmountStr').FormatNumber('#TotalAmount')

            $('[name="QuantityRealStr"]').FormatNumberGrid('QuantityReal', $('#tbodyProduct tbody'))
            $('[name="PriceStr"]').FormatNumberGrid('Price', $('#tbodyProduct tbody'))
            $('[name="TotalPriceStr"]').FormatNumberGrid('TotalPrice', $('#tbodyProduct tbody'))

            $('select').select2({
                selectOnClose: true
            });
        });
    </script>
}