﻿@{
    Layout = "~/Areas/WM/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Danh Sách Phiếu Nhập Xuất";
}

@using TTL_ERP.Areas.WM.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<BillModel>

@section CSS{

}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Nhập xuất kho /</span> Danh sách</h4>
    <!-- Hoverable Table rows -->
    <div class="card card-action">
        @*<h5 class="card-header">Danh sách tổ chức</h5>*@
        <div class="row p-2">
            <div class="col-sm-12 col-md-12">
                <form id="frmSearch">
                    <div class="row p-md-1">
                        <div class="col row-cols-md">
                            <label class="form-label">Kiểu</label>
                            @Html.DropDownList("BillCategoryId", Model.BillCategoryList, new { @class = "select2 form-select form-select-lg" })
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Kho nhập</label>
                            @Html.DropDownList("StoreId", Model.StoreList, new { @class = "select2 form-select form-select-lg" })
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Kho xuất</label>
                            @Html.DropDownList("StoreExportId", Model.StoreList, new { @class = "select2 form-select form-select-lg" })
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Nhà cung cấp</label>
                            @Html.DropDownList("SupplierId", Model.SupplierList, new { @class = "select2 form-select form-select-lg" })
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Trạng thái</label>
                            @Html.DropDownList("BillStatusId", Model.BillStatusList, new { @class = "select2 form-select form-select-lg" })
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Từ ngày</label>
                            <input class="form-control" id="FromDateStr" name="FromDateStr" placeholder="dd/MM/yyyy" />
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Đền ngày</label>
                            <input class="form-control" id="ToDateStr" name="ToDateStr" placeholder="dd/MM/yyyy" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="text-xl-end text-md-end justify-content-md-end ">
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new btn-primary mb-3 mb-md-0"  onclick="Search()">
                            <i class="ti ti-search"></i>Tìm kiếm
                        </button>
                    </div>
                    <div class="dt-buttons btn-group flex-wrap">

                        <button type="button"
                                class="btn btn-primary dropdown-toggle"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <i class="ti ti-plus"></i>Thêm phiếu
                        </button>
                        <ul class="dropdown-menu">
                            @if (Model.FunctionList != null && Model.FunctionList.Count() > 0)
                            {
                                @foreach (var item in Model.FunctionList)
                                {
                                    <li><a class="dropdown-item" href="/WM/WareHouse/Create?contr=@item.Action">@item.Title</a></li>
                                }
                            }

                        </ul>

                        @*<button class="btn add-new btn-primary mb-3 mb-md-0" onclick="AddNew('/WM/Warehouse/Create')">
                            <i class="ti ti-plus"></i>Thêm mới
                        </button>*@
                    </div>
                </div>
            </div>
        </div>
        <div id="loadData" class="card-action mb-5 table-responsive text-nowrap p-2">

        </div>
    </div>
    <!--/ Hoverable Table rows -->
</div>
<!-- / Content -->
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            RefreshDynamicCommon();
            $('#FromDateStr').FormatDateTime();
            $('#ToDateStr').FormatDateTime();
             LoadData(1);
         });
        function LoadData(page) {
            BlockLoading('.card');
            var obj = GetFormData('frmSearch');
            obj.page = page;
           $('#loadData').load('@Url.Action("LoadData", "Warehouse", new { area = "WM" })'
               , { fitter: obj}
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                    }
                    UnblockLoading('.card');
             });
        }
        function Search() {
            BlockLoading('#loadData');
            var obj = GetFormData('frmSearch');
            obj.page = 1;
            $('#loadData').load('@Url.Action("LoadData", "Warehouse", new { area = "WM" })'
               , { fitter: obj}
                , function (responseTxt, statusTxt, xhr) {
                    if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                    } else {

                     }
             });
        }

        updateStatus = (id, billStatusCode) => {
            BlockUI();
            var url = '';
            if (billStatusCode == '300')
                url = "/WM/Warehouse/UpdateStatus300?id=" + id + "&billStatusCode=" + billStatusCode;
            if (billStatusCode == '600')
                url = "/WM/Warehouse/UpdateStatus600?id=" + id + "&billStatusCode=" + billStatusCode;
            var request = $.ajax({
                url: url,
                type: "POST",
            });
            request.done(function (result) {
                UnblockUI();
                if (result.retCode == 0) {
                    location.reload();
                }
                else if (result.retCode == 9){
                    ShowToast('warning', result.retText)
                }
                else if (result.retCode == 8) {
                    ShowToast('warning', result.retText)
                }
                else {
                    ShowToast('error', result.retText)
                    location.href = result.url;
                }
            });
            request.fail(function (jqXHR, textStatus) {
                UnblockUI();
                ShowToast('error', textStatus)
            });
        }
    </script>
}
