﻿
@using TTL_ERP.Areas.CRM.Models
@model CustomerModel
@{
    ViewData["Title"] = "Thêm khách hàng";
    var isCreate = (bool)ViewBag.IsCreate;
}
<div class="col-12">
    <div class="card">
        <h5 class="card-header">Thông tin khách hàng</h5>
        <div class="card-body row">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CustomerTypeId)
            @Html.HiddenFor(model => model.CustomerStatusId)
            <input hidden id="InventoryHidden" />
            @*<div class="col-md-3">
                <label class="form-label" for="ParenId">Kiểu khách hàng</label>
                @Html.DropDownListFor(model => model.CustomerTypeId, Model.CustomerTypeList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
            </div>
            <div class="col-md-3">
                <label class="form-label" for="ParenId">Loại khách hàng</label>
                @Html.DropDownListFor(model => model.CustomerStatusId, Model.CustomerStatusList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
            </div>*@
            <div class="col-md-3">
                <label class="form-label" for="Code">Mã</label>
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã tổ chức", @disabled = "disabled" } })
            </div>
            <div class="col-md-3">
                <label class="form-label" for="FullName">Họ tên</label>
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ tên" } })
            </div>
            <div class="col-md-3">
                <label class="form-label" for="Birthday">Ngày sinh</label>
                @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ngày sinh" } })
            </div>
            <div class="col-md-3">
                <label class="form-label" for="GenderId">Giới tính</label>
                @Html.DropDownListFor(model => model.GenderId, Model.GenderList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
            </div>
            <div class="col-md-3">
                <label class="form-label" for="Phone">Số điện thoại</label>
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại" } })
            </div>
            <div class="col-md-3">
                <label class="form-label" for="Email">Email</label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
            </div>
            <div class="col-md-3">
                <label class="form-label" for="ParenId">Tỉnh/Thành phố</label>
                @Html.DropDownListFor(model => model.ProvinceId, Model.ProvinceList, "[ Chọn ]", new { onchange = "changeProvince(this.value);", @class = "select2 form-select form-select-lg" })
            </div>
            <div class="col-md-3">
                <label class="form-label" for="ParenId">Quận/Huyện</label>
                @Html.DropDownListFor(model => model.DistrictId, Model.DistrictList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
            </div>
            <div class="col-md-3">
                <label class="form-label" for="Address">Địa chỉ</label>
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ" } })
            </div>
            <div class="col-md-3">
                <div class="mb-1">
                    <label class="switch switch-primary">
                        <span class="switch-label">Công ty</span>
                        @Html.CheckBoxFor(model => model.IsCompany, new { @class = "switch-input" })
                        <span class="switch-toggle-slider">
                            <span class="switch-on"></span>
                            <span class="switch-off"></span>
                        </span>
                    </label>
                </div>
                <div class="mb-2">
                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên công ty", @disabled = "disabled" } })
                </div>
            </div>

            <div class="col-md-12">
                <label class="form-label" for="Note">Mô tả</label>
                @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @placeholder = "Mô tả", @rows = "3" })
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card">
        <h5 class="card-header">Thông tin liên hệ</h5>
        <div class="card-body row">
            <div class="text-xl-end text-md-end justify-content-md-end p-2">
                <div class="dt-buttons btn-group flex-wrap">
                    <a name="btnAddRow" class="btnAddRow" href="javascript:void(0);"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Thêm dòng"><i class="ti ti-plus"></i>Thêm</a>
                </div>
            </div>
            <div class="table-responsive text-nowrap p-2">
                <table class="table table-hover table-bordered" id="tbodyContact">
                    <thead>
                        <tr>
                            <th style="width:2%" class="text-center">#</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th style="width:9%" class="text-center">Trạng thái</th>
                            <th style="width:5%" class="text-center">Chính</th>
                            <th style="width:10%" class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @if (Model != null)
                        {
                            int stt = 0;
                            var Details = Model.ContactList.ToList();
                            foreach (var item in Details.ToList())
                            {
                                <tr class="table-border-bottom-0">
                                    <td class="text-center">
                                        <p>@(++stt)</p>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @*<input class="form-control DetailPhone" accesskey="KeyFocus" name="Phone" placeholder="Số điện thoại" type="text" value="@item.Phone" />*@
                                            @Html.EditorFor(d => Details[stt - 1].Phone, new { htmlAttributes = new { @class = "form-control DetailPhone", @placeholder = "Số điện thoại" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @*<input class="form-control DetailEmail" accesskey="KeyFocus" name="Email" placeholder="Email" type="text" value="@item.Email" />*@
                                            @Html.EditorFor(d => Details[stt - 1].Email, new { htmlAttributes = new { @class = "form-control DetailEmail", @placeholder = "Email" } })
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="col-md-12">
                                            @*<input class="form-check-input" name="IsKey" type="checkbox" checked>*@
                                            @Html.CheckBoxFor(d => Details[stt - 1].IsKey, new { @class = "form-check-input" })
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="col-md-12">
                                            @*<input class="form-check-input" name="Status" type="checkbox" value="@item.Status">*@
                                            @Html.CheckBoxFor(d => Details[stt - 1].Status, new { @class = "form-check-input" })
                                        </div>
                                    </td>

                                    <td class="text-center">
                                        <a href="javascript:void(0);" name="btnRemoveLine"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           title="Xóa dòng"><i class="ti ti-trash me-1"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="text-xl-end text-md-end justify-content-md-end p-2">
                <a name="btnAddRow" class="btnAddRow" href="javascript:void(0);"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Thêm dòng"><i class="ti ti-plus"></i>Thêm</a>
            </div>

        </div>
    </div>
</div>

<script id="template_subform" type="text/x-handlebars-template">
    <tr>
        <td class="text-center">
            <p>{{stt}}</p>
        </td>
        <td>
            <div class="col-md-12">
                <input class="form-control DetailPhone" accesskey="KeyFocus" name="Phone" placeholder="Số điện thoại" type="text" value="" />
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <input class="form-control DetailEmail" accesskey="KeyFocus" name="Email" placeholder="Email" type="text" value="" />
            </div>
        </td>
        <td class="text-center">
            <div class="col-md-12">
                <input class="form-check-input" name="IsKey" type="checkbox">
            </div>
        </td>
        <td class="text-center">
            <div class="col-md-12">
                <input class="form-check-input" name="Status" type="checkbox">
            </div>
        </td>
        <td class="text-center">
            <a href="javascript:void(0);" name="btnRemoveLine"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Xóa dòng"><i class="ti ti-trash me-1"></i></a>
        </td>
    </tr>
</script>
