﻿@using TTL_ERP.Areas.CRM.Models
@model CustomerModel
@{
    ViewBag.Title = "Sửa khách hàng";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Basic Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">Trang chủ</a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">Khách hàng</a>
            </li>
            <li class="breadcrumb-item active">Chỉnh sửa</li>
        </ol>
    </nav>
    <!-- Basic Breadcrumb -->
    <!-- FormValidation -->
    @using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new { @id = "frm", @class = "row g-3", @autocomplete = "off" }))
    {
        @Html.Partial("_AddOrEdit")
    }
    <div class="p-2 col-12 text-md-end">
        <button id="btnSubmit" class="btn btn-primary">Cập nhật</button>
    </div>
</div>

@section Scripts{
    <script src="../../js/Customer.js"></script>
}
