﻿@{
    ViewBag.Title = "Danh Sách Khách Hàng";
}
@using TTL_ERP.Areas.CRM.Models
@using TTL_ERP.Models
@model IndexViewModel<ViewCustomer>

<div class="container-fluid flex-grow-1 container-p-y">
    <!-- Basic Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active">Khách hàng</li>
        </ol>
    </nav>
    <!-- Basic Breadcrumb -->
    <!-- Bordered Table -->
    <div class="card">
        <div class="row p-2">
            <div class="col-sm-12 col-md-12">
                <form id="frmSearch">
                    <div class="row p-md-1">
                        <div class="col row-cols-md">
                            <label class="form-label">Tên</label>
                            <input class="form-control" id="FullName" name="FullName" placeholder="Tên" />
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Số Điện thoại</label>
                            <input class="form-control" id="Phone" name="Phone" placeholder="Số điện thoại" />
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Email</label>
                            <input class="form-control" id="Email" name="Email" placeholder="Email" />
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="text-xl-end text-md-end justify-content-md-end ">
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="Search()">
                            <i class="ti ti-search"></i>Tìm kiếm
                        </button>
                    </div>
                    <div class="dt-buttons btn-group flex-wrap">
                            <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="AddNew('/Customer/Create')">
                                <i class="ti ti-plus"></i>Thêm mới
                            </button>
                        </div>
                    <div class="dt-buttons btn-group flex-wrap">
                        <button type="button" class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow mb-3 mb-md-0" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="ti ti-file-spreadsheet"></i> Xuất Excel</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="ti ti-download"></i> Tải file Import</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="loadData" class="card-action table-responsive text-nowrap p-2">

        </div>

    </div>
    <!--/ Bordered Table -->
</div>
<!-- / Content -->
@section Scripts {
    <script type="text/javascript">

     $(document).ready(function () {
         LoadData(1);
     });
        function LoadData(page) {
            BlockLoading('.card');
            var obj = GetFormData('frmSearch');
            obj.page = page;
           $('#loadData').load('@Url.Action("LoadData", "Customer")'
               , { viewCustomerFitter: obj}
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                    }
                    UnblockLoading('.card');
             });
        }
        function Search() {
            BlockLoading('#loadData');
            var obj = GetFormData('frmSearch');
            obj.page = 1;
           $('#loadData').load('@Url.Action("LoadData", "Customer")'
               , { viewCustomerFitter: obj}
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                     }
             });
     }
    </script>
}