﻿
@using TTL_ERP.Areas.Administrator.Models
@model OrganizationModel
@{
    ViewData["Title"] = "Thêm công ty";
    var isCreate = (bool)ViewBag.IsCreate;
}

@Html.HiddenFor(model => model.Id)
<div class="col-md-6">
    <label class="form-label" for="Code">Mã công ty/tổ chức</label>
    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã công ty" } })
</div>
<div class="col-md-6">
    <label class="form-label" for="Title">Tên công ty</label>
    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên công ty" } })
</div>
<div class="col-md-6">
    <label class="form-label" for="OwnerName">Tài khoản</label>
    @Html.EditorFor(model => model.OwnerName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tài khoản", @readonl = isCreate ? "false" : "true" } })
</div>
<div class="col-md-6">
    <label class="form-label" for="Ti">Mô tả</label>
    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Mô tả", @rows = "3" })
</div>
<div class="col-md-3">
    <label class="form-label" for="Phone">Số điện thoại</label>
    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại" } })
</div>
<div class="col-md-3">
    <label class="form-label" for="Email">Email</label>
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
</div>
<div class="col-md-3">
    <label class="form-label" for="Address">Địa chỉ</label>
    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ" } })
</div>
<div class="col-md-3">
    <label class="form-label" for="Fax">Fax</label>
    @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ" } })
</div>
<div class="col-md-3">
    <label class="form-label" for="ParenId">Tổ chức</label>
    @Html.DropDownListFor(model => model.ClientIdSelectId, Model.ClientList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
</div>
<div class="col-md-3">
    <label class="form-label" for="Fax">Icon</label>
    @Html.EditorFor(model => model.Icon, new { htmlAttributes = new { @class = "form-control", @placeholder = "Icon" } })
</div>
<div class="col-md-3">
    <label class="form-label" for="LogoImg">Logo</label>
    <img id="imgLogo" class="img-fluid rounded mb-3 pt-1 mt-4" src="" height="100" width="100" alt="LogoImg">
    @Html.EditorFor(model => model.LogoImg, new
    {
    htmlAttributes = new
    {
    @class = "form-control"
    ,
    @accept = "image/png, image/jpeg",
    @onchange = "uploadFiles('LogoImg', 'uploads/logo')"
    }
    })
    @Html.HiddenFor(model => model.Logo)
</div>

<div class="col-md-12">
    <label class="form-label" for="Fax">Phân quyền chức năng</label>
    <div class="col-md-3 m-2">
        <label class="form-label" for="ApplicationId">Ứng dụng</label>
        @Html.DropDownListFor(model => model.ApplicationSelectId, Model.ApplicationList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg form-control", onchange = "changeApplication(this.value);" })
    </div>
    <!-- Ajax -->
    <div class="card">
        @*<h5 class="card-header">Ajax</h5>*@
        <div class="card-body jstree-ajax">
            <div id="jstree-ajax"></div>
        </div>
    </div>
    <!-- Ajax -->
</div>

@*<div class="mb-3">
        <label class="switch switch-primary">
            @Html.CheckBoxFor(model => model.IsShow, new { @class = "switch-input" })
            <span class="switch-toggle-slider">
                <span class="switch-on"></span>
                <span class="switch-off"></span>
            </span>
            <span class="switch-label">Ẩn/Hiện</span>
        </label>
    </div>*@

<div class="col-12">
    <button id="btnSubmit" class="btn btn-primary">@(isCreate ? "Lưu" : "Cập nhật")</button>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            /**/
            if ($.urlParam('msg') == '1') {
                ShowToast('success', 'Thành công', 'Thêm Thành Công!')
            }
            /**/
        });
    </script>
}
