﻿@using TTL_ERP.Areas.Administrator.Models
@model IEnumerable<OrganizationModel>
@{
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutSystem.cshtml";
    ViewData["Title"] = "Công ty";
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Công ty /</span> Danh sách</h4>


    <!-- Hoverable Table rows -->
    <div class="card">
        <div class="row p-2">
            <div class="col-sm-12 col-md-9">
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="text-xl-end text-md-end justify-content-md-end ">
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="AddNew('/Organization/Create')">
                            <i class="ti ti-plus"></i>Thêm mới
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th style="width:2%" class="text-center">#</th>
                        <th style="width:2%" class="text-center">Ảnh</th>
                        <th>Mã công ty</th>
                        <th>Tên công ty</th>
                        <th>Tài khoản</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                        <th>Tổ chức</th>
                        <th style="width:10%" class="text-center">Hành động</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @if (Model != null)
                    {
                        var stt = 0;
                        foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <td class="text-center">
                                    @(++stt)
                                </td>
                                <td>
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                        <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-md pull-up" aria-label="@item.Title" data-bs-original-title="@item.Title">
                                            @if (!string.IsNullOrEmpty(item.Logo))
                                            {
                                                <img src="@item.Logo" alt="@item.Title" class="rounded-circle">
                                            }
                                            else
                                            {
                                                <img src="/assets/img/no-image.png" alt="" class="rounded-circle">
                                            }
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <strong>@item.Code</strong>
                                </td>
                                <td>@item.Title</td>
                                <td>@item.OwnerName</td>
                                <td>@item.Phone</td>
                                <td>@item.Email</td>
                                <td>@item.Address</td>
                                <td>@item.ClientName</td>
                                <td class="text-center">
                                    <a data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="Sửa"
                                       href="/Organization/Edit/@item.Id"><i class="ti ti-pencil me-1"></i></a>
                                    <a data-id="@item.Id" name="btnDelete"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="Xóa"
                                       onclick="confirmDetele(@item.Id, '/Organization/Delete', true)" href="javascript:void(0);"><i class="ti ti-trash me-1"></i></a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
    <!--/ Hoverable Table rows -->



</div>
<!-- / Content -->
