﻿
@using TTL_ERP.Areas.CRM.Models
@model CustomerTypeModel
@{
    var isCreate = (bool)ViewBag.IsCreate;
}
@*<div class="text-center mb-4">
        <h3 class="modal-title mb-2"></h3>
    </div>*@
<form id="frm" class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="modalTopTitle"></h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            @Html.HiddenFor(model => model.Id)
            <div class="col-md-6">
                <label class="form-label" for="Code">Mã</label>
                @if (isCreate)
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã" } })
                    else
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã", @disabled = "disabled" } })
            </div>
            <div class="col-md-6">
                <label class="form-label" for="Title">Tên</label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên" } })
            </div>
            <div class="col-md-12">
                <label class="form-label" for="Description">Mô tả</label>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Mô tả", @rows = "3" })
            </div>
            <div class="mb-3">
                <label class="switch switch-primary">
                    @Html.CheckBoxFor(model => model.Status, new { @class = "switch-input" })
                    <span class="switch-toggle-slider">
                        <span class="switch-on"></span>
                        <span class="switch-off"></span>
                    </span>
                    <span class="switch-label">Hoạt động</span>
                </label>
            </div>
        </div>
        @*<div class="col-12">
                <button id="btnSubmit" class="btn btn-primary">@(isCreate ? "Lưu" : "Cập nhật")</button>
            </div>*@
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
            Đóng
        </button>
        <button type="button" id="btnSubmit" class="btn btn-primary">@(isCreate ? "Lưu" : "Cập nhật")</button>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {

        $('#StoreId').select2({
            dropdownParent: $('#form-modal')
        })

        const formValidationExamples = document.getElementById('frm');
        const fv = FormValidation.formValidation(formValidationExamples, {
            fields: {
                Code: {
                    validators: {
                        notEmpty: {
                            message: 'Vui lòng nhập mã'
                        }
                    }
                },
                Title: {
                    validators: {
                        notEmpty: {
                            message: 'Vui lòng nhập tên'
                        }
                    }
                }
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                bootstrap5: new FormValidation.plugins.Bootstrap5({

                }),
                submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                //defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                autoFocus: new FormValidation.plugins.AutoFocus()
            }
        });

        const submitButton = document.getElementById('btnSubmit');
        submitButton.addEventListener('click', function (e) {
            // Prevent default button action
            e.preventDefault();
            // Validate form before submit
            if (fv) {
                fv.validate().then(function (status) {
                    console.log(status);
                    if (status == 'Valid') {
                        var data = GetFormData('frm');
                        console.log(data);
                        url = "/CRM/CustomerType/AddOrEdit";
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: data,
                            dataType: "json",
                            encode: true,
                            success: function (res) {
                                if (res.retCode == 0) {
                                    LoadData(1, '');
                                    ShowToast('success', res.retText);
                                    $('#form-modal').modal("hide");
                                }
                                else if (res.retCode = 1) {
                                    $('#Code').focus();
                                    ShowToast('error', res.retText);
                                }
                            },
                            error: function () {
                                console.log('Error - Failed');
                            }
                        });

                    }
                });
            }
        });
    });

</script>
@section Scripts{

}

