﻿@{
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Danh Sách Danh Mục Khách Hàng";
}

@using TTL_ERP.Areas.CRM.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<CustomerTypeModel>

@section CSS{

}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Danh mục khách hàng /</span> Danh sách</h4>
    <!-- Hoverable Table rows -->
    <div class="card card-action">
        @*<h5 class="card-header">Danh sách tổ chức</h5>*@

        <div class="row p-2">
            <div class="col-sm-12 col-md-12">
                <div class="row p-md-1">
                    <div class="col row-cols-md-3">
                        <label class="form-label" for="Code">Mã/Tên</label>
                        <input class="form-control" id="Code" name="Code" placeholder="Mã/Tên" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="text-xl-end text-md-end justify-content-md-end ">
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="Search()">
                            <i class="ti ti-search"></i>Tìm kiếm
                        </button>
                    </div>
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="showInPopup('/CRM/CustomerType/Create', 'Thêm mới danh mục')">
                            <i class="ti ti-plus"></i>Thêm mới
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="loadData" class="card-action table-responsive text-nowrap p-2">

        </div>
        <!--/ Hoverable Table rows -->
    </div>
</div>
<!-- / Content -->
@section Scripts {
    <script type="text/javascript">
     $(document).ready(function () {
         LoadData(1);
       /*  $('#StoreSelectId').select2();*/
     });
        function LoadData(page) {
            BlockLoading('.card');
            var search = $('#Code').val();
           $('#loadData').load('@Url.Action("LoadData", "CustomerType", new { area = "CRM" })'
               , { page: page, search: search}
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                    }
                    UnblockLoading('.card');
             });
        }
        function Search() {
            BlockLoading('#loadData');
            var search = $('#Code').val();
           $('#loadData').load('@Url.Action("LoadData", "CustomerType", new { area = "CRM" })'
               , { page: 1, search: search }
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                     } else {

                     }
             });
     }
    </script>
}
