﻿@using TTL_ERP.Areas.WM.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<ProductModel>
<div class="modal-content mb-4">
    <div class="modal-header">
        <h5 class="modal-title" id="modalTopTitle"></h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <!-- Hoverable Table rows -->
        <div class="card card-action">
            @*<h5 class="card-header">Danh sách tổ chức</h5>*@
            <div class="row p-2">
                <div class="col-sm-12 col-md-12">
                    <form id="frmSearchPopup">
                        @Html.HiddenFor(z=>z.StoreIdScreenPallet)
                        @Html.HiddenFor(z=>z.PalletIdScreenPallet)
                        <div class="row p-md">
                            <div class="col row-cols-md">
                                <label class="form-label">Kiểu</label>
                                @Html.DropDownList("PopupProductCategoryId", Model.ProductCategoryList, new { @class = "select2 form-select form-select-lg" })
                            </div>
                            <div class="col row-cols-md">
                                <label class="form-label">Loại</label>
                                @Html.DropDownList("PopupProductTypeId", Model.ProductTypeList, new { @class = "select2 form-select form-select-lg" })
                            </div>
                        </div>
                        <div class="row p-md">
                            <div class="col row-cols-md">
                                <label class="form-label">Mã</label>
                                <input class="form-control" id="Code" name="Code" placeholder="Mã" />
                            </div>
                            <div class="col row-cols-md">
                                <label class="form-label">Tên</label>
                                <input class="form-control" id="Title" name="Title" placeholder="Tên" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="text-xl-end text-md-end justify-content-md-end p-1">
                        <div class="dt-buttons btn-group flex-wrap">
                            <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="Search()">
                                <i class="ti ti-search"></i>Tìm kiếm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="loadDataProduct" class="card-action table-responsive text-nowrap p-2">

            </div>
        </div>
        <!--/ Hoverable Table rows -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
            Đóng
        </button>
        <button type="button" id="btnChon" class="btn btn-primary">Chọn</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#PopupProductCategoryId, #PopupProductTypeId').select2({
            dropdownParent: $('#form-modal'),
            selectOnClose: true
        })
        LoadData(1);


        $("#btnChon").click(function () {
            if ($("input[name='tdChk']:checked").length == 0) {
                ShowToast('warning', 'Chưa chọn dữ liệu');
            }
            else {
                $.each($("input[name='tdChk']:checked"), function () {

                    var table = $('#tbodyContact tbody');
                    var rowThis = this;
                    if (table.length == 1) {
                        var stt = table.find("tr").length + 1;
                        var productCode = $(this).parent().parent().find("td:eq(" + 2 + ")").text().trim();
                        var productName = $(this).parent().parent().find("td:eq(" + 3 + ")").text().trim();
                        var storeName = $('select#StoreId option:selected').text();
                        var palletName = $('select#PalletId option:selected').text();
                        // Check sản phẩm tồn tại
                        var isCheck = CustomerCheckComboxContains('tbodyContact', productCode, 1);
                        if (!isCheck) {
                            var getTemplate = $("#template_subform").html();

                            // Compile the template
                            var compileTemplate = Handlebars.compile(getTemplate);
                            var context = {
                                "stt": stt,
                                productCode: productCode,
                                productName: productName,
                                storeName: storeName,
                                palletName: palletName
                            };

                            // Pass our data to the template
                            var passDataToTemplate = compileTemplate(context);

                            // Inser data
                            var formData = {};
                            formData = { StoreId: $('#StoreId').val(), PalletId: $('#PalletId').val(), ProductId: $(this).val() }
                            // Check mặt hàng đã tồn tại trong kệ chưa
                            $.ajax(
                                {
                                    url: "/WM/PalletProduct/CheckProductExistPallet",
                                    data: formData,
                                    dataType: "json",
                                    type: "POST",
                                    encode: true,
                                    success: function (data) {
                                        if (data.retCode == 0) {
                                            $.ajax(
                                                {
                                                    url: "/WM/PalletProduct/Create",
                                                    data: formData,
                                                    dataType: "json",
                                                    type: "POST",
                                                    encode: true,
                                                    success: function (data) {
                                                        if (data.retCode == 0) {
                                                            // Add the compiled html to the page
                                                            if (table.find("tr").length == 0 || (table.find("tr").length == 1 && $('#tbodyContact tbody tr:contains(không có dữ liệu)').length) == 1) {
                                                                $('#tbodyContact tbody').html(passDataToTemplate);
                                                            }
                                                            else {
                                                                $('#tbodyContact tbody').append(passDataToTemplate);
                                                            }
                                                            InitValue();
                                                            table.Uk_RebuildSortOrder();
                                                            $(rowThis).parent().parent().remove();
                                                            ShowToast('success', 'Thêm vào kệ thành công!')
                                                        }
                                                        else {
                                                            ShowToast('error', data.retText)
                                                        }
                                                    }
                                                }
                                            );
                                        }
                                        else {
                                            ShowToast('warning', data.retText)
                                        }
                                    }
                                }
                            );
                        }
                    }
                    else { // Từ màn hình Pallet
                        var formData = {};
                        formData = { StoreId: $('#StoreIdScreenPallet').val(), PalletId: $('#PalletIdScreenPallet').val(), ProductId: $(this).val() }
                        // Check mặt hàng đã tồn tại trong kệ chưa
                        $.ajax(
                            {
                                url: "/WM/PalletProduct/CheckProductExistPallet",
                                data: formData,
                                dataType: "json",
                                type: "POST",
                                encode: true,
                                success: function (data) {
                                    if (data.retCode == 0) {
                                        $.ajax(
                                            {
                                                url: "/WM/PalletProduct/Create",
                                                data: formData,
                                                dataType: "json",
                                                type: "POST",
                                                encode: true,
                                                success: function (data) {
                                                    if (data.retCode == 0) {
                                                        $(rowThis).parent().parent().remove();
                                                        ShowToast('success', 'Thêm vào kệ thành công!')
                                                    }
                                                    else {
                                                        ShowToast('error', data.retText)
                                                    }
                                                }
                                            }
                                        );
                                    }
                                    else {
                                        ShowToast('warning', data.retText)
                                    }
                                }
                            });
                    }

                });
                $('select').select2({
                    selectOnClose: true
                });
            }
        });
        window.Handlebars.registerHelper('select', function (value, options) {
            var $el = $('<select />').html(options.fn(this));
            $el.find('[value="' + value + '"]').attr({ 'selected': 'selected' });
            return $el.html();
        });
     });
    function LoadData(page) {
        var obj = GetFormData('frmSearchPopup');
        obj.page = page;
        $('#loadDataProduct').load('@Url.Action("LoadDataProduct", "PalletProduct", new { area = "WM" })'
               , { fitter: obj }
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                    }
             });
        }
    function Search() {
        BlockLoading('#loadDataProduct');
        var obj = GetFormData('frmSearchPopup');
        obj.page = 1;
        $('#loadDataProduct').load('@Url.Action("LoadDataProduct", "PalletProduct", new { area = "WM" })'
               , { fitter: obj }
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                     } else {

                     }
             });
    }

    function CustomerCheckComboxContains(tableId, value, index) {

        var res = false;
        $.each($(`#${tableId} tbody tr`), function () {
            var textTr = $(this).find("td:eq(" + index + ")").text().trim();
            if (textTr == value) {
                ShowToast('warning', textTr + ' đã có trong danh sách.')
                res = true;
                return false;
            }
        });
        return res;
    }

    function InitValue() {
        $('[name="btnRemoveLine"]').Uk_RemoveRow($(tabletbodyStr));
        $('[accesskey="KeyNewLine"]').keydown(function (e) {
            var code = e.keyCode || e.which;
            if (code === 9) {
                e.preventDefault();
                var idxTbl = $('#tbodyContact').find('.tr').length;
                var idx = $('[accesskey="KeyNewLine"]').index($(this)) + 1;
                if (idxTbl == idx) {
                    $('.btnAddRow').click();
                    $('[accesskey="KeyFocus"]').last().focus();
                }
                return false;
            }
        });
    }

</script>