﻿@using TTL_ERP.Areas.WM.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<Store_Pallet_ProductModel>
<table class="table table-hover table-bordered" id="tbodyContact">
    <thead>
        <tr class="text-center">
            <th style="width:2%">#</th>
            <th>Mã</th>
            <th>Tên</th>
            <th>Kho</th>
            <th>Kệ</th>
            <th style="width:10%">Hành động</th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0">
        @if (Model != null && Model.ListItems.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model.ListItems)
            {
                <tr>
                    <td class="text-center">
                        @(++stt)
                    </td>
                    <td>
                        <strong>@item.ProductCode</strong>
                    </td>
                    <td>@item.ProductName</td>
                    <td>@item.StoreName</td>
                    <td>@item.PalletName</td>
                    <td class="text-center">
                        <a data-id="@item.Id" name="btnDelete"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Xóa"
                           onclick="confirmDetele(@item.Id, 'Delete', true)" href="javascript:void(0);"><i class="ti ti-trash me-1"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td align="center" colspan="6" class="dataTables_empty">không có dữ liệu</td></tr>
        }
    </tbody>
</table>
<div class="demo-inline-spacing">
    <!-- Basic Square Pagination -->
    @Html.RenderPaging(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
    <!--/ Basic Square Pagination -->
</div>

