﻿@{
    Layout = "~/Areas/WM/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Danh Sách Hàng Hóa Trên Kệ";
}

@using TTL_ERP.Areas.WM.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<Store_Pallet_ProductModel>

@section CSS{

}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Hàng Hóa Trên Kệ /</span> Danh sách</h4>
    <!-- Hoverable Table rows -->
    <div class="card card-action">
        @*<h5 class="card-header">Danh sách tổ chức</h5>*@
        <div class="row p-2">
            <div class="col-sm-12 col-md-12">
                <form id="frmSearch">
                    <div class="row p-md-1">
                        <div class="col row-cols-md">
                            <label class="form-label">Kho</label>
                            @Html.DropDownList("StoreId", Model.StoreList, new { @class = "select2 form-select form-select-lg", onchange = "changeStoreBindPallet(this.value);" })
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Kệ</label>
                            @Html.DropDownList("PalletId", Model.PalletList, new { @class = "select2 form-select form-select-lg" })
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Mã</label>
                            <input class="form-control" id="Code" name="Code" placeholder="Mã" />
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Tên</label>
                            <input class="form-control" id="Title" name="Title" placeholder="Tên" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="text-xl-end text-md-end justify-content-md-end ">
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="Search()">
                            <i class="ti ti-search"></i>Tìm kiếm
                        </button>
                    </div>
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new-popup btn-primary mb-3 mb-md-0" onclick="showInPopup('/WM/PalletProduct/CreatePopUp', 'Chọn mặt hàng')">
                            <i class="tf-icons ti ti-table"></i>Xếp hàng vào kệ
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="loadData" class="card-action table-responsive text-nowrap p-2">

        </div>
    </div>
    <!--/ Hoverable Table rows -->
</div>


<script id="template_subform" type="text/x-handlebars-template">
    <tr>
        <td class="text-center">
            {{stt}}
        </td>
        <td>
            {{productCode}}
        </td>
        <td>
            {{productName}}
        </td>
        <td>
            {{storeName}}
        </td>
        <td>
            {{palletName}}
        </td>
        <td class="text-center">
            <a href="javascript:void(0);" name="btnRemoveLine"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Xóa dòng"><i class="ti ti-trash me-1"></i></a>
        </td>
    </tr>
</script>


<!-- / Content -->
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
         RefreshDynamicCommon();
            LoadData(1);

         if ($("#PalletId").val() == 0 && $("#StoreId").val() == 0)
            $(".add-new-popup").prop('disabled', true);

         $("#PalletId").change(function () {
             var status = this.value;
             if (status != "0")
                 $(".add-new-popup").prop('disabled', true);
             else {
                 $(".add-new-popup").prop('disabled', false);
             }
         });

            // sau khi combox change
            fnc_AfterLoadChangeCombobox = () => {
                $(".add-new-popup").prop('disabled', false);
            }

        });

        function LoadData(page) {
            BlockLoading('.card');
            var obj = GetFormData('frmSearch');
            obj.page = page;
           $('#loadData').load('@Url.Action("LoadData", "PalletProduct", new { area = "WM" })'
               , { fitter: obj}
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                    }
                    UnblockLoading('.card');
             });
        }
        function Search() {
            BlockLoading('#loadData');
            var obj = GetFormData('frmSearch');
            obj.page = 1;
            $('#loadData').load('@Url.Action("LoadData", "PalletProduct", new { area = "WM" })'
               , { fitter: obj}
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                     } else {

                     }
             });
        }
    </script>
}
