﻿
@using TTL_ERP.Areas.WM.Models
@model Master
@{
    ViewData["Title"] = "Thêm Test";
    var isCreate = (bool)ViewBag.IsCreate;
}
<div class="col-12">
    <div class="card">
        <h5 class="card-header">Thông tin</h5>
        <div class="card-body row">
            @Html.HiddenFor(model => model.Id)
            <input hidden id="InventoryHidden" />
            <div class="col-md-3">
                <label class="form-label" for="Code">Mã tổ chức</label>
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã tổ chức" } })
            </div>
            <div class="col-md-3">
                <label class="form-label" for="Title">Tên tổ chức</label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên tổ chức" } })
            </div>
            <div class="col-md-6">
                <label class="form-label" for="Description">Mô tả</label>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Mô tả", @rows = "3" })
            </div>
            <div class="col-md-3">
                <label class="form-label" for="ParenId">Commbobox</label>
                @Html.DropDownListFor(model => model.ParentId, Model.ParentList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
            </div>
            <div class="col-md-3">
                <label class="form-label" for="ParenId">Commbobox1</label>
                @Html.DropDownListFor(model => model.ParentId1, Model.ParentList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
            </div>
            <div class="col-md-3">
                <label class="form-label" for="ParenId">Commbobox2</label>
                @Html.DropDownListFor(model => model.ParentId2, Model.ParentList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
            </div>
            <div class="mb-3">
                <label class="switch switch-primary">
                    @Html.CheckBoxFor(model => model.Status, new { @class = "switch-input" })
                    <span class="switch-toggle-slider">
                        <span class="switch-on"></span>
                        <span class="switch-off"></span>
                    </span>
                    <span class="switch-label">Hoạt động</span>
                </label>
            </div>

        </div>
    </div>
</div>
<div class="col-12">
    <div class="card">
        <h5 class="card-header">Thông tin chi tiết</h5>
        <div class="card-body row">
            <div class="text-xl-end text-md-end justify-content-md-end p-2">
                <div class="dt-buttons btn-group flex-wrap">
                    <a name="btnAddRow" class="btnAddRow" href="javascript:void(0);"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Thêm dòng"><i class="ti ti-plus"></i>Thêm</a>
                </div>
            </div>
            <div class="table-responsive text-nowrap p-2">
                <table class="table table-hover table-bordered" id="tbodyContact">
                    <thead>
                        <tr>
                            <th style="width:2%" class="text-center">#</th>
                            <th>Mã</th>
                            <th>Tên</th>
                            <th>Tên</th>
                            <th>Tên</th>
                            <th>Tên</th>
                            <th style="width:5%" class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @if (Model != null)
                        {
                            int stt = 0;
                            var Details = Model.Details.ToList();
                            foreach (var item in Details.ToList())
                            {
                                <tr class="table-border-bottom-0">
                                    <td class="text-center">
                                        <p>@(++stt)</p>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => Details[stt - 1].InventoryId, Model.InventoryList, "[ Chọn ]", new { @class = "InventoryId select2 form-select form-select-lg" })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(d => Details[stt - 1].InventoryName, new { htmlAttributes = new { @class = "form-control InventoryName", @placeholder = "Tên mặt hàng" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(d => Details[stt - 1].InventoryName, new { htmlAttributes = new { @class = "form-control InventoryName", @placeholder = "Tên mặt hàng" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(d => Details[stt - 1].InventoryName, new { htmlAttributes = new { @class = "form-control InventoryName", @placeholder = "Tên mặt hàng" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(d => Details[stt - 1].InventoryName, new { htmlAttributes = new { @class = "form-control InventoryName", @placeholder = "Tên mặt hàng" } })
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:void(0);" name="btnRemoveLine"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           title="Xóa dòng"><i class="ti ti-trash me-1"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
    <div class="text-xl-end text-md-end justify-content-md-end p-2">
        <a name="btnAddRow" class="btnAddRow" href="javascript:void(0);"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           title="Thêm dòng"><i class="ti ti-plus"></i>Thêm</a>
    </div>

    <div class="col-12">
        <button id="btnSubmit" class="btn btn-primary">@(isCreate ? "Lưu" : "Cập nhật")</button>
    </div>
</div>
    </div>
</div>

<script id="template_subform" type="text/x-handlebars-template">
    <tr>
        <td class="text-center">
            <p>{{stt}}</p>
        </td>
        <td>
            <div class="col-md-12">
                <select id="Details_{{stt}}__InventoryID" name="Details[{{stt}}].InventoryID" class="InventoryId select2 form-select form-select-lg">
                    {{#select value}}
                    {{{inventoryList}}}
                    {{/select}}
                </select>
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <input class="form-control InventoryName" accesskey="KeyFocus" id="Details_{{stt}}__InventoryName" name="Details[{{stt}}].InventoryName" placeholder="Tên mặt hàng" type="text" value="" />
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <input class="form-control InventoryName" accesskey="KeyFocus" id="Details_{{stt}}__InventoryName1" name="Details[{{stt}}].InventoryName1" placeholder="Tên mặt hàng" type="text" value="" />
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <input class="form-control InventoryName" accesskey="KeyFocus" id="Details_{{stt}}__InventoryName2" name="Details[{{stt}}].InventoryName2" placeholder="Tên mặt hàng" type="text" value="" />
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <input class="form-control InventoryName" accesskey="KeyFocus" id="Details_{{stt}}__InventoryName3" name="Details[{{stt}}].InventoryName3" placeholder="Tên mặt hàng" type="text" value="" />
            </div>
        </td>
        <td class="text-center">
            <a href="javascript:void(0);" name="btnRemoveLine"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Xóa dòng"><i class="ti ti-trash me-1"></i></a>
        </td>
    </tr>
</script>
