﻿@using TTL_ERP.Areas.WM.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<BillCategoryModel>
<div class="modal-content mb-4">
    <div class="modal-header">
        <h5 class="modal-title" id="modalTopTitle"></h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <!-- Hoverable Table rows -->
        <div class=" card">
            @*<h5 class="card-header">Danh sách tổ chức</h5>*@
            <div class="row p-2">
                <div class="col-sm-12 col-md-12">
                    <div class="dataTables_length" id="DataTables_Table_0_length">
                        <input class="form-control" id="Code" name="Code" placeholder="Tìm kiếm" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="text-xl-end text-md-end justify-content-md-end p-1">
                        <div class="dt-buttons btn-group flex-wrap">
                            <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="Search()">
                                <i class="ti ti-search"></i>Tìm kiếm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="loadData" class="table-responsive text-nowrap p-2">

            </div>
        </div>
        <!--/ Hoverable Table rows -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
            Đóng
        </button>
        <button type="button" id="btnChon" class="btn btn-primary">Chọn</button>
    </div>
</div>

<script type="text/javascript">
     $(document).ready(function () {
         LoadData(1, '');
     });
        function LoadData(page, search) {
           $('#loadData').load('@Url.Action("LoadData2", "HuynhThu", new { area = "WM" })'
               , { search: search, page: page}
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                     } else {

                     }
             });
        }
        function Search() {
            var search = $('#Code').val();
           $('#loadData').load('@Url.Action("LoadData2", "HuynhThu", new { area = "WM" })'
               , { page: 1, search: search,}
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                     } else {

                     }
             });
     }
</script>