﻿@using TTL_ERP.Areas.WM.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<Inventory>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th style="width:1%" class="text-center">
                <input class="form-check-input" type="checkbox" id="chkAll" value="All">
            </th>
            <th style="width:2%" class="text-center">#</th>
            <th>Mã</th>
            <th>Tên</th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0">
        @if (Model != null && Model.ListItems.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model.ListItems)
            {
                <tr>
                    <td class="text-center">
                        <input class="form-check-input" name="tdChk" type="checkbox" value="@item.InventoryId">
                    </td>
                    <td class="text-center">
                        @(++stt)
                    </td>
                    <td>
                        <strong>@item.InventoryId</strong>
                    </td>
                    <td>@item.InventoryName</td>
                   
                </tr>
            }
        }
    </tbody>
</table>
<div class="demo-inline-spacing">
    <!-- Basic Square Pagination -->
    @Html.RenderPaging(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
    <!--/ Basic Square Pagination -->
</div>
<script>
    $('#chkAll').click(function (e) {
        var table = $(e.target).closest('table');
        $('td input:checkbox', table).prop('checked', this.checked);
    });
    $("#btnChon").click(function () {
        if ($("input[name='tdChk']:checked").length == 0) {
            ShowToast('warning', 'Chưa chọn dữ liệu');
        }
        else {
            $.each($("input[name='tdChk']:checked"), function () {
                var table = $('#tbodyContact tbody');
                var stt = table.find("tr").length + 1;
                var data = $('#InventoryHidden').val();
                var getTemplate = $("#template_subform").html();

                // Compile the template
                var compileTemplate = Handlebars.compile(getTemplate);
                var context = {
                    "stt": stt,
                    inventoryList: data,
                    "value": $(this).val()
                };

                // Pass our data to the template
                var passDataToTemplate = compileTemplate(context);
                // Add the compiled html to the page
                $('#tbodyContact tbody').append(passDataToTemplate);

                InitValueContact();
                table.Uk_RebuildIndex();
                table.Uk_RebuildSortOrder();
                $(this).parent().parent().remove();
            });
            $('select').select2({
                selectOnClose: true
            });
        }
    });
    window.Handlebars.registerHelper('select', function (value, options) {
        var $el = $('<select />').html(options.fn(this));
        $el.find('[value="' + value + '"]').attr({ 'selected': 'selected' });
        return $el.html();
    });
</script>
