﻿@using TTL_ERP.Areas.WM.Models
@model Master
@{
    ViewBag.Title = "Thêm test";
    Layout = "~/Areas/WM/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Test /</span> Thêm mới</h4>
        <!-- FormValidation -->
        @using (Html.BeginForm("Create", "HuynhThu", FormMethod.Post, new { @id = "frm", @class = "row g-3", @autocomplete = "off" }))
        {
            @Html.Partial("_AddOrEdit")
        }
</div>

@section Scripts{
    <script src="../../js/WM/HuynhThu.js"></script>
}
