﻿
@using TTL_ERP.Areas.Administrator.Models
@model FunctionSystemModel
@{
    ViewData["Title"] = "Thêm chức năng hệ thống";
    var isCreate = (bool)ViewBag.IsCreate;
}

@Html.HiddenFor(model => model.Id)
<div class="col-md-6">
    <label class="form-label" for="Title">Tên chức năng</label>
    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên chức năng" } })
</div>
<div class="col-md-6">
    <label class="form-label" for="Description">Chức năng</label>
    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Mô tả", @rows = "3" })
</div>
<div class="col-md-4">
    <label class="form-label" for="Area">Area Name</label>
    @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control", @placeholder = "Area Name" } })
</div>
<div class="col-md-4">
    <label class="form-label" for="Controller">Controller Name</label>
    @Html.EditorFor(model => model.Controller, new { htmlAttributes = new { @class = "form-control", @placeholder = "Controller Name" } })
</div>
<div class="col-md-4">
    <label class="form-label" for="Action">Action Name</label>
    @Html.EditorFor(model => model.Action, new { htmlAttributes = new { @class = "form-control", @placeholder = "Action Name" } })
</div>
<div class="col-md-4">
    <label class="form-label" for="ParenId">Tên chức năng cha</label>
    @Html.DropDownListFor(model => model.ParentIdSelectId, Model.ParenList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
</div>
<div class="col-md-4">
    <label class="form-label" for="ApplicationId">Ứng dụng</label>
    @Html.DropDownListFor(model => model.ApplicationSelectId, Model.ApplicationList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
</div>
<div class="col-md-4">
    <label class="form-label" for="Action">Icon</label>
    @Html.EditorFor(model => model.Icon, new { htmlAttributes = new { @class = "form-control", @placeholder = "Icon" } })
</div>
<div class="col-md-6">
    <label class="form-label" for="Note">Ghi chú</label>
    @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @placeholder = "Ghi chú", @rows = "3" })
</div>
<div class="col-md-6">
    <label class="form-label" for="Position">Vị trí</label>
    @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control", @placeholder = "Vị trí" } })
</div>

<div class="mb-3">
    <label class="switch switch-primary">
        @Html.CheckBoxFor(model => model.Status, new { @class = "switch-input" })
        <span class="switch-toggle-slider">
            <span class="switch-on"></span>
            <span class="switch-off"></span>
        </span>
        <span class="switch-label">Hoạt động</span>
    </label>
</div>
<div class="mb-3">
    <label class="switch switch-primary">
        @Html.CheckBoxFor(model => model.IsShow, new { @class = "switch-input" })
        <span class="switch-toggle-slider">
            <span class="switch-on"></span>
            <span class="switch-off"></span>
        </span>
        <span class="switch-label">Ẩn/Hiện</span>
    </label>
</div>

<div class="col-12">
    <button id="btnSubmit" class="btn btn-primary">@(isCreate ? "Lưu" : "Cập nhật")</button>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            /**/
            if ($.urlParam('msg') == '1') {
                ShowToast('success', 'Thành công', 'Thêm Thành Công!')
            }
            /**/
        });
    </script>
}
