﻿@using TTL_ERP.Areas.Administrator.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<FunctionSystemModel>
<table class="table table-hover">
    <thead>
        <tr class="text-center">
            <th style="width:2%" class="text-center">#</th>
            <th>Icon</th>
            <th>Tên</th>
            <th>Liên kết</th>
            <th style="width:10%" class="text-center">Trạng thái</th>
            <th style="width:10%" class="text-center">Ẩn/Hiện</th>
            <th>Vị trí</th>
            <th style="width:10%" class="text-center">Hành động</th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0">
        @if (Model != null)
        {
            var stt = Model.PagingViewModel.StartIndex;
            foreach (var item in Model.ListItems)
            {
                <tr>
                    <td class="text-center">
                        @(++stt)
                    </td>
                    <td>@Html.Raw($"<i class=\"{item.Icon}\"></i>")</td>
                    <td>
                        <strong>@item.Title</strong>
                    </td>
                    <td>@item.LinkName</td>
                    <td class="text-center">
                        @Html.Raw((item.Status ? "<span class=\"badge bg-label-primary me-1\">Hoạt động</span>" : "<span class=\"badge bg-label-warning me-1\">Ngưng hoạt động</span>"))
                    </td>
                    <td class="text-center">
                        @Html.Raw((item.IsShow ? "<span class=\"badge bg-label-primary me-1\">Hiện</span>" : "<span class=\"badge bg-label-warning me-1\">Ẩn</span>"))
                    </td>
                    <td>@item.Position</td>
                    <td class="text-center">
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Sửa"
                           href="/FunctionSystem/Edit/@item.Id"><i class="ti ti-pencil me-1"></i></a>
                        <a data-id="@item.Id" name="btnDelete"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Xóa"
                           onclick="confirmDetele(@item.Id, '/FunctionSystem/Delete', true)" href="javascript:void(0);"><i class="ti ti-trash me-1"></i></a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
<div class="demo-inline-spacing">
    <!-- Basic Square Pagination -->
    @Html.RenderPaging(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
    <!--/ Basic Square Pagination -->
</div>