﻿@using TTL_ERP.Areas.Administrator.Models
@using TTL_ERP.Models
@model IndexViewModel<FunctionSystemModel>
@{
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutSystem.cshtml";
    ViewData["Title"] = "Chức năng hệ thống";
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Chức năng hệ thống /</span> Danh sách</h4>
    <!-- Hoverable Table rows -->
    <div class="card">
        <div class="row p-2">
            <div class="col-sm-12 col-md-12">
                <form id="frmSearch">
                    <div class="row p-md-1">
                        <div class="col row-cols-md">
                            <label class="form-label">Danh mục cha</label>
                            @Html.DropDownList("ParentId", Model.ParenList, new { @class = "select2 form-select form-select-lg" })
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Tên</label>
                            <input class="form-control" id="Title" name="Title" placeholder="Tên" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="text-xl-end text-md-end justify-content-md-end ">
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="Search()">
                            <i class="ti ti-search"></i>Tìm kiếm
                        </button>
                    </div>
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="AddNew('/FunctionSystem/Create')">
                            <i class="ti ti-plus"></i>Thêm mới
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="loadData" class="table-responsive text-nowrap">

        </div>
    </div>
    <!--/ Hoverable Table rows -->



</div>
<!-- / Content -->
@section Scripts {
    <script src="../../js/Administrator/Client.js"></script>
    <script type="text/javascript">
     $(document).ready(function () {
         LoadData(1);
     });
        function LoadData(page) {
            var obj = GetFormData('frmSearch');
            obj.page = page;
            $('#loadData').load('@Url.Action("LoadData", "FunctionSystem", new { area = "Administrator" })'
                , { fitter: obj }
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         ShowToast('error', 'Lỗi hệ thống');
                     } else {

                     }
             });
        }
         function Search() {
             var obj = GetFormData('frmSearch');
             obj.page = 1;
             $('#loadData').load('@Url.Action("LoadData", "FunctionSystem", new { area = "Administrator" })'
                 , { fitter: obj }
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                     } else {

                     }
             });
     }
    </script>
}
