﻿
@using TTL_ERP.Areas.WM.Models
@model BillModel
@{
    var isCreate = (bool)ViewBag.IsCreate;
}
<div class="col-12">
    @*<h6 class="text-muted">Filled Tabs</h6>*@
    <div class="nav-align-top nav-tabs-shadow mb-4">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <button type="button"
                        class="nav-link active"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-info-product"
                        aria-controls="navs-info-product"
                        aria-selected="true">
                    <i class="tf-icons ti ti-info-circle ti-xs me-1"></i> Thông tin phiếu nhập
                    @*<span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-danger ms-1">3</span>*@
                </button>
            </li>
            @*<li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-info-propertiese"
                            aria-controls="navs-info-propertiese"
                            aria-selected="false">
                        <i class="tf-icons ti ti-photo ti-xs me-1"></i>Hình ảnh
                    </button>
                </li>*@
            @*<li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-info-image"
                            aria-controls="navs-info-image"
                            aria-selected="false">
                        <i class="tf-icons ti ti-brackets-contain ti-xs me-1"></i> Thuộc tính sản phẩm
                    </button>
                </li>*@
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="navs-info-product" role="tabpanel">
                <div class="row">
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.BillCategoryId)
                    @Html.HiddenFor(model => model.BillType)
                    @Html.HiddenFor(model => model.BillStatusId)
                    <input hidden id="ProductListHidden" />
                    <input hidden id="UnitListHidden" />
                    <input hidden id="DiscountKindListHidden" />


                    <div class="col-md-3">
                        <label class="form-label" for="Code">Mã</label>
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã phiếu", @disabled = "disabled" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Ngày chuyển</label>
                        @Html.EditorFor(model => model.CreateOnStr, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ngày nhập", @disabled = "disabled" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Kho xuất</label>
                        @Html.DropDownListFor(model => model.StoreExportId, Model.StoreExportList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Kho đến</label>
                        @Html.DropDownListFor(model => model.StoreId, Model.StoreList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Title">Trạng thái</label>
                        @Html.DropDownListFor(model => model.BillStatusId, Model.BillStatusList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                    </div>
                    <div class="col-md-3" style="display:none">
                        <label class="form-label" for="Description">Giảm giá</label>
                        <div class="input-group">
                            @Html.EditorFor(model => model.DiscountValue, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.DropDownListFor(model => model.MT_DiscountKindId, Model.DiscountKindList, new { @class = "select2 form-select form-select-lg dropdown-toggle" })
                        </div>
                    </div>
                    <div class="col-md-3" style="display:none">
                        <label class="form-label" for="Description">Tổng tiền giảm giá</label>
                        @Html.EditorFor(model => model.TotalDiscountAmountStr, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        @Html.HiddenFor(model => model.TotalDiscountAmount, new { @class = "form-control", @placeholder = "Tổng tiền giảm giá" })
                    </div>
                    <div class="col-md-3">
                        <div class="mb-1">
                            <label class="switch switch-primary">
                                <span class="switch-label">Phí vận chuyển</span>
                                @Html.CheckBoxFor(model => model.IsDelivery, new { @class = "switch-input" })
                                <span class="switch-toggle-slider">
                                    <span class="switch-on"></span>
                                    <span class="switch-off"></span>
                                </span>
                            </label>
                        </div>
                        <div class="mb-2">
                            @Html.EditorFor(model => model.DeliveryFeeStr, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.HiddenFor(model => model.DeliveryFee, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Description">Tổng tiền</label>
                        @Html.EditorFor(model => model.TotalAmountStr, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        @Html.HiddenFor(model => model.TotalAmount, new { @class = "form-control", @placeholder = "Tổng tiền" })
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="Description">Ghi chú</label>
                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @placeholder = "Ghi chú", @rows = "3" })
                    </div>

                </div>
            </div>
            @*<div class="tab-pane fade" id="navs-info-propertiese" role="tabpanel">

                </div>*@
            @*<div class="tab-pane fade" id="navs-info-image" role="tabpanel">

                </div>*@
        </div>
    </div>
</div>
<div class="col-12" id="InfoBundledGift">
    <div class="card">
        <h5 class="card-header">Sản phẩm</h5>
        <div class="card-body row">
            <div class="text-xl-end text-md-end justify-content-md-end p-2">
                <div class="dt-buttons btn-group flex-wrap">
                    @*<button class="btn add-new btn-primary mb-3 mb-md-0" onclick="showInPopup('/WM/Bill/CreatePopUp', 'Thêm mặt hàng')">
                            <i class="ti ti-plus"></i>Thêm
                        </button>*@
                    <a onclick="showInPopup('/WM/WareHouse/CreatePopUp', 'Chọn mặt hàng')" name="btnAddRow" href="javascript:void(0);"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Thêm dòng"><i class="ti ti-plus"></i>Thêm mặt hàng</a>
                </div>
            </div>
            <div class="table-responsive text-nowrap p-2">
                <table class="table table-hover table-bordered" id="tbodyProduct">
                    <thead>
                        <tr>
                            <th style="width:2%" class="text-center">#</th>
                            <th>Tên Sản Phẩm</th>
                            <th style="width:8%">Tồn kho</th>
                            <th>ĐVT</th>
                            <th style="width:5%">SL theo đơn</th>
                            <th style="width:5%">SL thực tế</th>
                            <th style="width:5%">SL hàng lỗi</th>
                            <th style="width:10%">Giá xuất</th>
                            <th style="width:20%">Giá giảm</th>
                            <th style="width:10%">Thành tiền</th>
                            <th>Ghi chú</th>
                            <th style="width:5%" class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.BillDetail.Count() > 0)
                        {
                            int stt = 0;
                            var BillDetail = Model.BillDetail.ToList();
                            foreach (var item in BillDetail.ToList())
                            {
                                <tr>
                                    <td class="text-center">
                                        <p>@(++stt)</p>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => item.ProductId, item.ProductList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg", @disabled = "true" })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.QuantityEnd, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
                                            @Html.EditorFor(d => item.QuantityEndStr, new { htmlAttributes = new { @class = "form-control QuantityEnd", @disabled = "true" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => item.UnitId, item.UnitList, "[ Chọn ]", new { @class = "UnitId select2 form-select form-select-lg" })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(d => item.QuantityStr, new { htmlAttributes = new { @class = "form-control Quantity" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.QuantityReal, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(d => item.QuantityRealStr, new { htmlAttributes = new { @class = "form-control QuantityReal" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.QuantityFail, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(d => item.QuantityFailStr, new { htmlAttributes = new { @class = "form-control QuantityFail" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.Price, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(d => item.PriceStr, new { htmlAttributes = new { @class = "form-control Price" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                @Html.HiddenFor(d => item.PriceDiscount, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.EditorFor(d => item.PriceDiscountStr, new { htmlAttributes = new { @class = "form-control PriceDiscount" } })
                                                @Html.DropDownListFor(d => item.DT_DiscountKindId, item.DiscountKindList, new { @class = "select2 form-select form-select-lg dropdown-toggle" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.TotalPrice, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(d => item.TotalPriceStr, new { htmlAttributes = new { @class = "form-control TotalPrice", @disabled = "true" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ghi chú" } })
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:void(0);" name="btnRemoveLine"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           title="Xóa dòng"><i class="ti ti-trash me-1"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td align="center" colspan="12" class="dataTables_empty">không có dữ liệu</td></tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="text-xl-end text-md-end justify-content-md-end p-2">
                <a onclick="showInPopup('/WM/WareHouse/CreatePopUp', 'Chọn mặt hàng tặng kèm')" name="btnAddRow" href="javascript:void(0);"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Thêm dòng"><i class="ti ti-plus"></i>Thêm mặt hàng</a>
            </div>
        </div>
    </div>
</div>

<script id="template_subform" type="text/x-handlebars-template">
    <tr>
        <td class="text-center">
            <p>{{stt}}</p>
        </td>
        <td>
            <div class="col-md-12">
                <select name="ProductId" class="select2 form-select form-select-lg" disabled="disabled">
                    {{#selectProduct valueProduct}}
                    {{{productList}}}
                    {{/selectProduct}}
                </select>
            </div>
        </td>
        <td>
            <div class="col-md-12">
                @*<input class="form-control" accesskey="KeyFocus" hidden name="QuantityEnd" placeholder="" type="number" value="{{quantityEnd}}" />
                    <input class="form-control QuantityEnd" accesskey="KeyFocus" name="QuantityEndStr" placeholder="" type="text" value="{{quantityEnd}}" disabled="disabled" />*@
                <label>{{quantityEnd}} - {{unitName}}</label>
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <select name="UnitId" class="select2 form-select form-select-lg">
                    {{#selectUnit valueUnit}}
                    {{{unitList}}}
                    {{/selectUnit}}
                </select>
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <input class="form-control" accesskey="KeyFocus" hidden name="Quantity" placeholder="" type="number" value="0" />
                <input class="form-control Quantity" accesskey="KeyFocus" name="QuantityStr" placeholder="" type="text" value="0" />
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <input class="form-control" accesskey="KeyFocus" hidden name="QuantityReal" placeholder="" type="number" value="0" />
                <input class="form-control QuantityReal" accesskey="KeyFocus" name="QuantityRealStr" placeholder="" type="text" value="0" />
            </div>
        </td>
        <td>
            <div class="col-md-12 text-end">
                <input class="form-control" accesskey="KeyFocus" hidden name="QuantityFail" placeholder="" type="number" value="0" />
                <input class="form-control QuantityFail" accesskey="KeyFocus" name="QuantityFailStr" placeholder="" type="text" value="0" />
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <input class="form-control" accesskey="KeyFocus" hidden name="Price" placeholder="" type="number" value="{{price}}" />
                <input class="form-control Price" accesskey="KeyFocus" name="PriceStr" placeholder="" type="text" value="{{price}}" />
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <div class="input-group">
                    <input class="form-control" accesskey="KeyFocus" hidden name="PriceDiscount" placeholder="" type="number" value="{{priceDiscout}}" />
                    <input class="form-control PriceDiscount" accesskey="KeyFocus" name="PriceDiscountStr" placeholder="" type="text" value="{{priceDiscout}}" />
                    <div class="position-relative">
                        <select name="DT_DiscountKindId" class="select2 form-select form-select-lg dropdown-toggle">
                            {{{discountKindList}}}
                        </select>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <input class="form-control" accesskey="KeyFocus" hidden name="TotalPrice" placeholder="" type="number" value="0" />
                <input class="form-control TotalPrice" accesskey="KeyFocus" name="TotalPriceStr" placeholder="" type="text" value="0" disabled="disabled" />
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <input class="form-control" accesskey="KeyFocus" name="Note" placeholder="Ghi chú" type="text" value="" />
            </div>
        </td>

        <td class="text-center">
            <a href="javascript:void(0);" name="btnRemoveLine"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Xóa dòng"><i class="ti ti-trash me-1"></i></a>
        </td>
    </tr>
</script>
