﻿@using TTL_ERP.Areas.WM.Models
@model BillModel
@{
    ViewBag.Title = "Sửa Phiếu Nhập Hàng Nội Bộ";
    Layout = "~/Areas/WM/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Phiếu nhập hàng nội bộ /</span> Sửa</h4>

    <!-- FormValidation -->
    @using (Html.BeginForm("Edit", "ImportInternal", FormMethod.Post, new { @id = "frm", @class = "row g-3", @autocomplete = "off" }))
    {
        @Html.Partial("_AddOrEdit")
    }
    <div class="p-2 col-12 text-md-end">
        <button id="btnSubmit" class="btn btn-primary">Cập nhật</button>
    </div>
</div>
@section Scripts{
    <script src="../../js/WM/ImportInternal.js"></script>
}
