﻿@{
    ViewBag.Title = "Thông tin cá nhân";
}
@using TTL_AGENCY.Models
@model AccountPortalRep


<div class="container-xxl flex-grow-1 container-p-y">
    @using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new { @id = "frm", @class = "row g-3", @autocomplete = "off" }))
    {
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Thông tin khách hàng</h5>
                <div class="card-body row">
                    @Html.HiddenFor(model => model.Id)
                    <div class="col-md-3">
                        <label class="form-label" for="Code">Mã Khách Hàng</label>
                        @Html.EditorFor(model => model.CustomerCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã tổ chức", @disabled = "disabled" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="FullName">Họ tên</label>
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ tên", @disabled = "disabled" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Birthday">Ngày sinh</label>
                        @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ngày sinh" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="GenderId">Giới tính</label>
                        @Html.DropDownListFor(model => model.GenderId, Model.GenderList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Phone">Số điện thoại</label>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Email">Email</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="ParenId">Tỉnh/Thành phố</label>
                        @Html.DropDownListFor(model => model.ProvinceId, Model.ProvinceList, "[ Chọn ]", new { onchange = "changeProvince(this.value);", @class = "select2 form-select form-select-lg" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="ParenId">Quận/Huyện</label>
                        @Html.DropDownListFor(model => model.DistrictId, Model.DistrictList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="Address">Địa chỉ</label>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ" } })
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="p-2 col-12 text-md-end">
        <button id="btnSubmit" class="btn btn-primary">Cập nhật</button>
    </div>
</div>

@section Scripts{
    <script src="../../js/AccountPortal.js"></script>
}