﻿
@using TTL_AGENCY.Models
@model ChangePasswordRequest
@{

}
@*<div class="text-center mb-4">
        <h3 class="modal-title mb-2"></h3>
    </div>*@

<form id="frmPopup" class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="modalTopTitle"></h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <label class="form-label" for="Title">Tài khoản</label>
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tài khoản", @disabled = "disabled" } })
            </div>
            <div class="col-md-6">
                <label class="form-label" for="Title">Mật khẩu hiện tại</label>
                @Html.EditorFor(model => model.PassOld, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mật khẩu hiện tại", @type = "password" } })
            </div>
            <div class="col-md-6">
                <label class="form-label" for="Title">Mật khẩu mới</label>
                @Html.EditorFor(model => model.PassNew, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mật khẩu mới", @type = "password" } })
            </div>
            <div class="col-md-6">
                <label class="form-label" for="Title">Nhập lại mật khẩu</label>
                @Html.EditorFor(model => model.PassConfirm, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập lại mật khẩu", @type = "password" } })
            </div>
            <div class="col-md-6">
                <label class="form-label" for="Code">Mã OTP</label>
                @Html.EditorFor(model => model.OTP, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã OTP" } })
                <a id="btnSendOTP" style="color: #fff" class="btn btn-primary">Gửi OTP</a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
            Đóng
        </button>
        <button type="button" id="btnSubmitPopup" class="btn btn-primary">Cập nhật</button>
        <div class="countdown"></div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSendOTP').click(function () {

            $('#btnSendOTP').addClass("disabled")
            $.ajax({
                type: "POST",
                url: "/Login/SendOTP",
                data: { Phone: $('#Phone').val() },
                dataType: "json",
                encode: true,
                success: function (res) {
                    if (res.retCode == 0) {
                        ShowToast('success', res.retText);
                        $('#OTP').focus();
                    }
                    else if (res.retCode = 1) {
                        ShowToast('error', res.retText);
                    }
                },
                error: function () {
                    console.log('Error - Failed');
                }
            });

            var timer2 = "1:1";
            var interval = setInterval(function () {
                var timer = timer2.split(':');
                //by parsing integer, I avoid all extra string processing
                var minutes = parseInt(timer[0], 10);
                var seconds = parseInt(timer[1], 10);
                --seconds;
                minutes = (seconds < 0) ? --minutes : minutes;
                seconds = (seconds < 0) ? 59 : seconds;
                seconds = (seconds < 10) ? '0' + seconds : seconds;
                //minutes = (minutes < 10) ?  minutes : minutes;
                $('#btnSendOTP').text(minutes + ':' + seconds);
                if (minutes < 0)  clearInterval(interval);
                
                if (minutes == 0 && seconds == 0) {
                    $('#btnSendOTP').text('Gửi OTP')
                    $('#btnSendOTP').removeClass("disabled")
                };
                //check if both minutes and seconds are 0
                if ((seconds <= 0) && (minutes <= 0)) clearInterval(interval);
                timer2 = minutes + ':' + seconds;
            }, 1000);

           
        });

        const formValidationExamples = document.getElementById('frmPopup');
        const fv = FormValidation.formValidation(formValidationExamples, {
            fields: {
                Phone: {
                    validators: {
                        notEmpty: {
                            message: 'Vui lòng nhập tài khoản'
                        }
                    }
                },
                OTP: {
                    validators: {
                        notEmpty: {
                            message: 'Vui lòng nhập OTP'
                        }
                    }
                },
                PassOld: {
                    validators: {
                        notEmpty: {
                            message: 'Vui lòng mật khẩu hiện tại'
                        }
                    }
                },
                PassNew: {
                    validators: {
                        notEmpty: {
                            message: 'Vui lòng nhập mật khẩu'
                        }
                    }
                },
                PassConfirm: {
                    validators: {
                        notEmpty: {
                            message: 'Vui lòng nhập mật khẩu'
                        },
                        identical: {
                            compare: function () {
                                return formValidationExamples.querySelector('[name="PassNew"]').value;
                            },
                            message: 'Mật khẩu chưa khớp nhau'
                        }
                    }
                }
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                bootstrap5: new FormValidation.plugins.Bootstrap5({

                }),
                submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                //defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                autoFocus: new FormValidation.plugins.AutoFocus()
            }
        });

        const submitButton = document.getElementById('btnSubmitPopup');
        submitButton.addEventListener('click', function (e) {
            // Prevent default button action
            e.preventDefault();

            // Validate form before submit
            if (fv) {
                fv.validate().then(function (status) {
                    console.log(status);
                    if (status == 'Valid') {
                        var data = GetFormData('frmPopup');
                        console.log(data);
                        url = "/Login/ChangePassword";
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: data,
                            dataType: "json",
                            encode: true,
                            success: function (res) {
                                if (res.retCode == 0) {
                                    ShowToast('success', res.retText);
                                    $('#form-modal').modal("hide");
                                }
                                else if (res.retCode = 1) {
                                    $('#Code').focus();
                                    ShowToast('error', res.retText);
                                }
                            },
                            error: function () {
                                console.log('Error - Failed');
                            }
                        });

                    }
                });
            }
        });
    });
</script>


