﻿@using TTL_ERP.Areas.WM.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<ComboModel>
<div class="modal-content mb-4">
    <div class="modal-header">
        <h5 class="modal-title" id="modalTopTitle"></h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <!-- Hoverable Table rows -->
        <div class="card card-action ">
            @*<h5 class="card-header">Danh sách tổ chức</h5>*@
            <div class="row p-2">
                <div class="col-sm-12 col-md-12">
                    <form id="frmSearchPopup">
                        <div class="row p-md">
                            <div class="col row-cols-md">
                                <label class="form-label">Mã</label>
                                <input class="form-control" id="Code" name="Code" placeholder="Mã" />
                            </div>
                            <div class="col row-cols-md">
                                <label class="form-label">Tên</label>
                                <input class="form-control" id="Title" name="Title" placeholder="Tên" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="text-xl-end text-md-end justify-content-md-end p-1">
                        <div class="dt-buttons btn-group flex-wrap">
                            <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="Search()">
                                <i class="ti ti-search"></i>Tìm kiếm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="loadData" class="card-action table-responsive text-nowrap p-2">

            </div>
        </div>
        <!--/ Hoverable Table rows -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
            Đóng
        </button>
        <button type="button" id="btnChon" class="btn btn-primary">Chọn</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        LoadData(1);
        
        $("#btnChon").click(function () {
            if ($("input[name='tdChk']:checked").length == 0) {
                ShowToast('warning', 'Chưa chọn dữ liệu');
            }
            else {
                $.each($("input[name='tdChk']:checked"), function () {
                    var table = $('#tbodyProduct tbody');
                    var stt = table.find("tr").length + 1;
                    var dataCombo = $('#ComboListHidden').val();
                    var costPrice = $(this).parent().parent().find("td:eq(" + 4 + ")").find('[name="CostPrice"]').val();
                    var price = $(this).parent().parent().find("td:eq(" + 5 + ")").find('[name="Price"]').val();
                    // Check sản phẩm tồn tại
                    var isCheck = CheckComboxContains('tbodyProduct', $(this).val(), 3);
                    if (!isCheck) {

                        var getTemplate = $("#template_subform").html();

                        // Compile the template
                        var compileTemplate = Handlebars.compile(getTemplate);
                        var context = {
                            "stt": stt,
                            comboList: dataCombo,
                            valueCombo: $(this).val(),
                            costPrice: costPrice,
                            price: price,
                            quantity: 1
                        };

                        // Pass our data to the template
                        var passDataToTemplate = compileTemplate(context);
                        // Add the compiled html to the page
                        if (table.find("tr").length == 0 || (table.find("tr").length == 1 && table.find("tr").find(":contains(không có dữ liệu)").length) == 1) {
                            table.html(passDataToTemplate);
                        }
                        else {
                            table.append(passDataToTemplate);
                        }

                        InitValue();
                        table.Uk_RebuildIndex();
                        table.Uk_RebuildSortOrder();
                        $(this).parent().parent().remove();
                    }
                });
                $('select').select2({
                    selectOnClose: true
                });
                // Lưới
                $('[name="QuantityStr"]').FormatNumberGrid('Quantity', $('#tbodyProduct tbody'));
                $('[name="OriginalPriceStr"]').FormatNumberGrid('OriginalPrice', $('#tbodyProduct tbody'))
                $('[name="PriceStr"]').FormatNumberGrid('Price', $('#tbodyProduct tbody'))
                $('[name="PriceDiscountStr"]').FormatNumberGrid('PriceDiscount', $('#tbodyProduct tbody'))
                $('[name="TotalPriceStr"]').FormatNumberGrid('TotalPrice', $('#tbodyProduct tbody'))

                fuc_TotalAmountGrid();
            }
        });
        window.Handlebars.registerHelper('selectProduct', function (value, options) {
            var $el = $('<selectProduct />').html(options.fn(this));
            $el.find('[value="' + value + '"]').attr({ 'selected': 'selected' });
            return $el.html();
        });
        window.Handlebars.registerHelper('selectUnit', function (value, options) {
            var $el = $('<selectUnit />').html(options.fn(this));
            $el.find('[value="' + value + '"]').attr({ 'selected': 'selected' });
            return $el.html();
        });
        window.Handlebars.registerHelper('selectCombo', function (value, options) {
            var $el = $('<selectCombo />').html(options.fn(this));
            $el.find('[value="' + value + '"]').attr({ 'selected': 'selected' });
            return $el.html();
        });
     });
    function LoadData(page) {
        var obj = GetFormData('frmSearchPopup');
        obj.page = page;
           $('#loadData').load('@Url.Action("LoadDataCombo", "Order")'
               , { fitter: obj }
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                     } 
             });
        }
    function Search() {
        BlockLoading('#loadData');
        var obj = GetFormData('frmSearchPopup');
        obj.page = 1;
           $('#loadData').load('@Url.Action("LoadDataCombo", "Order")'
               , { fitter: obj }
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                     } else {

                     }
             });
     }
</script>