﻿
@using TTL_ERP.Areas.CRM.Models
@model CustomerModel
@{
    var isCreate = (bool)ViewBag.IsCreate;
}
@*<div class="text-center mb-4">
        <h3 class="modal-title mb-2"></h3>
    </div>*@
<form id="frmPopup" class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="modalTopTitle"></h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            @Html.HiddenFor(model => model.Id)
            <div class="col-md-6">
                <label class="form-label" for="Code">Mã</label>
                @if (isCreate)
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã", @disabled = "disabled" } })
            </div>
            <div class="col-md-6">
                <label class="form-label" for="Title">Tên</label>
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ Tên" } })
            </div>
            <div class="col-md-6">
                <label class="form-label" for="Title">Số điện thoại</label>
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại" } })
            </div>
            <div class="col-md-6">
                <label class="form-label" for="Title">Email</label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
            </div>
        </div>
        @*<div class="col-12">
                <button id="btnSubmit" class="btn btn-primary">@(isCreate ? "Lưu" : "Cập nhật")</button>
            </div>*@
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
            Đóng
        </button>
        <button type="button" id="btnSubmitPopup" class="btn btn-primary">@(isCreate ? "Lưu" : "Cập nhật")</button>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {

        const formValidationExamples = document.getElementById('frmPopup');
        const fv = FormValidation.formValidation(formValidationExamples, {
            fields: {
                Code: {
                    validators: {
                        notEmpty: {
                            message: 'Vui lòng nhập mã'
                        }
                    }
                },
                FullName: {
                    validators: {
                        notEmpty: {
                            message: 'Vui lòng nhập tên'
                        }
                    }
                },
                Phone: {
                    validators: {
                        notEmpty: {
                            message: 'Vui lòng nhập số điện thoại'
                        },
                        regexp: {
                            regexp: /(84|0[3|5|7|8|9])+([0-9]{8})/,
                            message: 'Số điện thoại không hợp lệ'
                        }
                    }
                },
                Email: {
                    validators: {
                        notEmpty: {
                            message: 'Vui lòng nhập tên Email'
                        },
                        emailAddress: {
                            message: 'Đại chỉ mail chưa hợp lệ'
                        }
                    }
                }
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                bootstrap5: new FormValidation.plugins.Bootstrap5({

                }),
                submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                //defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                autoFocus: new FormValidation.plugins.AutoFocus()
            }
        });

        const submitButton = document.getElementById('btnSubmitPopup');
        submitButton.addEventListener('click', function (e) {
            // Prevent default button action
            e.preventDefault();

            // Validate form before submit
            if (fv) {
                fv.validate().then(function (status) {
                    console.log(status);
                    if (status == 'Valid') {
                        var data = GetFormData('frmPopup');
                        console.log(data);
                        url = "/Order/AddCustomer";
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: data,
                            dataType: "json",
                            encode: true,
                            success: function (res) {
                                if (res.retCode == 0) {
                                    ShowToast('success', res.retText);
                                    $('#form-modal').modal("hide");
                                    bindDataCustomer();
                                }
                                else if (res.retCode = 1) {
                                    $('#Code').focus();
                                    ShowToast('error', res.retText);
                                }
                            },
                            error: function () {
                                console.log('Error - Failed');
                            }
                        });

                    }
                });
            }
        });
    });

</script>
@section Scripts{

}

