﻿@using TTL_ERP.Areas.PO.Models
@model OrderModel
@{
    ViewBag.Title = "Xem Đơn Hàng";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Basic Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">Trang chủ</a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">Đơn hàng</a>
            </li>
            <li class="breadcrumb-item active">Xem chi tiết</li>
        </ol>
    </nav>
    <!-- Basic Breadcrumb -->
    <!-- FormValidation -->
    @Html.Partial("_AddOrEdit")
    <div class="p-2 col-12 text-md-end">
        <a href="/WM/Warehouse" class="btn btn-primary">Quay lại</a>
    </div>
</div>
@section Scripts{
    <script src="../../js/Order.js"></script>
}
