﻿@{
    ViewBag.Title = "Danh Sách Đơn Hàng";
}

@using TTL_ERP.Areas.PO.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@using TTL_ERP.Models.SystemMode
@model IndexViewModel<OrderModel>
@{
    var user = (UserLoginVMs)ViewBag.User;
}
@section CSS{

}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Basic Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active">Đơn hàng</li>
        </ol>
    </nav>
    <!-- Basic Breadcrumb -->
    <!-- Hoverable Table rows -->
    <div class="card card-action">
        @*<h5 class="card-header">Danh sách tổ chức</h5>*@
        <div class="row p-2">
            <div class="col-sm-12 col-md-12">
                <form id="frmSearch">
                    <div class="row p-md-1">
                        <div class="col row-cols-md">
                            <label class="form-label">Mã khách hàng</label>
                            @*@Html.DropDownList("CustomerId", Model.CustomerList, new { @class = "select2 form-select form-select-lg" })*@
                            <input class="form-control" id="CustomerCode" name="CustomerCode" placeholder="Mã khách hàng" />
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Số điện thoại</label>
                            @*@Html.DropDownList("CustomerId", Model.CustomerList, new { @class = "select2 form-select form-select-lg" })*@
                            <input class="form-control" id="Phone" name="Phone" placeholder="Số điện thoại" />
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Từ ngày</label>
                            <input class="form-control" id="FromDateStr" name="FromDateStr" placeholder="dd/MM/yyyy" />
                        </div>
                        <div class="col row-cols-md">
                            <label class="form-label">Đền ngày</label>
                            <input class="form-control" id="ToDateStr" name="ToDateStr" placeholder="dd/MM/yyyy" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="text-xl-end text-md-end justify-content-md-end ">
                    <div class="dt-buttons btn-group flex-wrap">
                        <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="Search()">
                            <i class="ti ti-search"></i>Tìm kiếm
                        </button>
                    </div>
                    @if (user.Role == "AGENCY")
                    {
                        <div class="dt-buttons btn-group flex-wrap">
                            <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="AddNew('/Order/Create')">
                                <i class="ti ti-plus"></i>Thêm mới
                            </button>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div id="loadData" class="card-action mb-5 table-responsive text-nowrap p-2">

        </div>
    </div>
    <!--/ Hoverable Table rows -->
</div>
<!-- / Content -->
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            RefreshDynamicCommon();
            $('#FromDateStr').FormatDateTime();
            $('#ToDateStr').FormatDateTime();
            LoadData(1);

            const clipboardList = [].slice.call(document.querySelectorAll('.clipboard-btn'));
            if (ClipboardJS) {
                clipboardList.map(function (clipboardEl) {
                    const clipboard = new ClipboardJS(clipboardEl);
                    clipboard.on('success', function (e) {
                        if (e.action == 'copy') {
                            toastr['success']('', 'Đã copy link thanh toán!');
                        }
                    });
                });
            } else {
                clipboardList.map(function (clipboardEl) {
                    clipboardEl.setAttribute('disabled', true);
                });
            }
         });
        function LoadData(page) {
            BlockLoading('.card');
            var obj = GetFormData('frmSearch');
            obj.page = page;
           $('#loadData').load('@Url.Action("LoadData", "Order", new { area = "PO" })'
               , { fitter: obj}
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                    }
                    UnblockLoading('.card');
             });
        }
        function Search() {
            BlockLoading('#loadData');
            var obj = GetFormData('frmSearch');
            obj.page = 1;
            $('#loadData').load('@Url.Action("LoadData", "Order", new { area = "PO" })'
               , { fitter: obj}
                , function (responseTxt, statusTxt, xhr) {
                    if (statusTxt == "error") {
                         console.log('Lỗi');
                         ShowToast('error', 'Lỗi hệ thống')
                    } else {

                     }
             });
        }

        updateStatus = (id, orderStatusCode) => {
            BlockUI();
            var request = $.ajax({
                url: "/Order/UpdateStatus?id=" + id + "&orderStatusCode=" + orderStatusCode,
                type: "POST",
            });
            request.done(function (result) {
                UnblockUI();
                if (result.retCode == 0) {
                    ShowToast('success', result.retText);
                    location.reload();
                }
                if (result.retCode == 2) {
                    ShowToast('warning', result.retText);
                }
                else {
                    ShowToast('error', result.retText)
                    location.href = result.url;
                }
            });
            request.fail(function (jqXHR, textStatus) {
                UnblockUI();
                ShowToast('error', textStatus)
            });
        }
        copyToClipboard = (text) => {
            var sampleTextarea = document.createElement("textarea");
            document.body.appendChild(sampleTextarea);
            sampleTextarea.value = text; //save main text in it
            sampleTextarea.select(); //select textarea contenrs
            document.execCommand("copy");
            document.body.removeChild(sampleTextarea);
            toastr['success']('', 'Đã copy link thanh toán!');
        }
    </script>
}
