﻿
@using TTL_ERP.Areas.PO.Models
@model OrderModel
@{
    var isCreate = (bool)ViewBag.IsCreate;
}

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.OrderStatusId)
@Html.HiddenFor(model => model.OrderType)

<input hidden id="ProductListHidden" />
<input hidden id="UnitListHidden" />
<input hidden id="ComboListHidden" />
<input hidden id="DiscountKindListHidden" />
<div class="row" style="padding-right: 0px;">
    <div class="card-master col-md col-md-9">
        @*<small class="text-light fw-semibold">Basic</small>*@
        <div class="bs-stepper wizard-numbered mt-2">
            <div class="bs-stepper-header">
                <div class="step" data-target="#account-details">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">
                            <span class="bs-stepper-title">Thông tin khách hàng</span>
                        </span>
                    </button>
                </div>
                <div class="line">
                    <i class="ti ti-chevron-right"></i>
                </div>
                <div class="step" data-target="#transport-info">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">
                            <span class="bs-stepper-title">Hình thức vận chuyển</span>
                        </span>
                    </button>
                </div>
                <div class="line">
                    <i class="ti ti-chevron-right"></i>
                </div>
                <div class="step" data-target="#pay">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">
                            <span class="bs-stepper-title">Hình thức thanh toán</span>
                        </span>
                    </button>
                </div>
                <div class="line">
                    <i class="ti ti-chevron-right"></i>
                </div>
                @*<div class="step" data-target="#status">
                        <button type="button" class="step-trigger">
                            <span class="bs-stepper-circle">4</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">Tình trạng đơn hàng</span>
                            </span>
                        </button>
                    </div>*@
            </div>
            <div class="bs-stepper-content">
                <!-- Account Details -->
                <div id="account-details" class="content">
                    <div class="row g-3">
                        @*<div class="col-sm-6">
                                <label class="form-label" for="Title">Khách hàng</label>
                                @Html.DropDownListFor(model => model.CustomerId, Model.CustomerList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                            </div>*@
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control" id="searchPhone" name="searchPhone" placeholder="Tìm kiếm số điện thoại" aria-label="Tìm kiếm số điện thoại" aria-describedby="btnSearchPhone">
                                <button class="btn btn-outline-primary waves-effect" type="button" id="btnSearchPhone">
                                    <i class="ti ti-search"></i>Lấy thông tin
                                </button>
                            </div>
                        </div>
                        <hr class="m-2">
                        <div class="col-sm-4">
                            <label class="form-label" for="Title">Số điện thoại khách hàng giới thiệu</label>
                            @Html.EditorFor(model => model.CustomerPhoneParent, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label" for="Title">Số điện người chốt sale</label>
                            @Html.EditorFor(model => model.SalePhone, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label" for="Title">Số điện người thu tiền</label>
                            @Html.EditorFor(model => model.AcceptedPhone, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="Title">Mã khách hàng</label>
                            @Html.EditorFor(model => model.CustomerCode, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="email">Số điện thoại</label>
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="email">Họ tên</label>
                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="email">Email</label>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="email">Số điện thoại khác</label>
                            @Html.EditorFor(model => model.Phone2, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="email">Địa chỉ</label>
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="email">Mã công ty</label>
                            @Html.EditorFor(model => model.CompanyCode, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="email">Tên công ty</label>
                            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="email">Địa chỉ công ty</label>
                            @Html.EditorFor(model => model.CompanyAddress, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="Description">Ghi chú</label>
                            @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @placeholder = "Ghi chú", @rows = "3" })
                        </div>
                    </div>
                </div>
                <!-- Personal Info -->
                <div id="transport-info" class="content">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label class="form-label" for="Title">Hình thức</label>
                            @Html.DropDownListFor(model => model.TransportId, Model.TransportList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-1">
                                <label class="switch switch-primary">
                                    <span class="switch-label">Phí vận chuyển</span>
                                    @Html.CheckBoxFor(model => model.IsDelivery, new { @class = "switch-input" })
                                    <span class="switch-toggle-slider">
                                        <span class="switch-on"></span>
                                        <span class="switch-off"></span>
                                    </span>
                                </label>
                            </div>
                            <div class="mb-2">
                                @Html.EditorFor(model => model.DeliveryFeeStr, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                @Html.HiddenFor(model => model.DeliveryFee, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="Description">Ghi chú</label>
                            @Html.TextAreaFor(model => model.NoteDeliveryFee, new { @class = "form-control", @placeholder = "Ghi chú", @rows = "3" })
                        </div>
                    </div>
                </div>
                <!-- Social Links -->
                <div id="pay" class="content">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label class="form-label" for="Title">Hình thức thanh toán</label>
                            @Html.DropDownListFor(model => model.PayTypeId, Model.PayTypeList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                        </div>
                    </div>
                </div>
                @*<div id="status" class="content">
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label class="form-label" for="Title">Trạng thái</label>
                                @Html.DropDownListFor(model => model.OrderStatusId, Model.OrderStatusList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="col-md col-md-3" style="padding-right: 0px; padding-left: 0px">
        <div class="bs-stepper wizard-numbered mt-2">
            <div class="bs-stepper-header">
                <div class="step" data-target="#account-details1">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle">4</span>
                        <span class="bs-stepper-label">
                            <span class="bs-stepper-title">Thông tin thanh toán</span>
                            @*<span class="bs-stepper-subtitle">Setup Account Details</span>*@
                        </span>
                    </button>
                </div>
            </div>
            <div class="bs-stepper-content">
                <!-- Account Details -->
                <div id="account-details1" class="">
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <label class="form-label" for="Title">Ngày tạo</label>
                            @Html.EditorFor(model => model.CreateOnStr, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ngày tạo", @disabled = "disabled" } })
                        </div>
                        <div class="col-sm-12">
                            <label class="form-label" for="Code">Mã đơn</label>
                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã đơn", @disabled = "disabled" } })
                        </div>
                        <div class="col-sm-12">
                            <label class="form-label" for="Description">Giảm giá</label>
                            <div class="input-group">
                                @Html.EditorFor(model => model.DiscountValue, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.DropDownListFor(model => model.MT_DiscountKindId, Model.DiscountKindList, new { @class = "select2 form-select form-select-lg dropdown-toggle" })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="form-label" for="Description">Ghi chú</label>
                            @Html.TextAreaFor(model => model.NoteDiscount, new { @class = "form-control", @placeholder = "Ghi chú", @rows = "3" })
                        </div>
                        <div class="col-sm-12">
                            <label class="form-label" for="Description">Tổng tiền giảm giá</label>
                            @Html.EditorFor(model => model.TotalDiscountAmountStr, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.HiddenFor(model => model.TotalDiscountAmount, new { @class = "form-control", @placeholder = "Tổng tiền giảm giá" })
                        </div>
                        <div class="col-sm-12">
                            <label class="form-label" for="Description">Tổng tiền</label>
                            @Html.EditorFor(model => model.TotalAmountStr, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.HiddenFor(model => model.TotalAmount, new { @class = "form-control", @placeholder = "Tổng tiền" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12" id="InfoBundledGift">
    <div class="card">
        <h5 class="card-header">Thông tin sản phẩm</h5>
        <div class="card-body row">

            <div class="dt-buttons btn-group flex-wrap">
                <div class="col-sm-3">
                    <label class="form-label" for="Title">Bảng giá</label>
                    @Html.DropDownListFor(model => model.PriceId, Model.PriceList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg" })
                </div>
            </div>

            <div class="text-xl-end text-md-end justify-content-md-end p-2">
                <div class="dt-buttons btn-group flex-wrap">
                    @*<button class="btn add-new btn-primary mb-3 mb-md-0" onclick="showInPopup('/WM/Bill/CreatePopUp', 'Thêm mặt hàng')">
                            <i class="ti ti-plus"></i>Thêm
                        </button>*@
                    <a onclick="showInPopup('/PO/Order/CreatePopUp', 'Chọn mặt hàng')" name="btnAddRow" href="javascript:void(0);"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Thêm dòng"><i class="ti ti-plus"></i>Thêm mặt hàng</a>
                    <a onclick="showInPopup('/PO/Order/CreatePopUpCombo', 'Chọn Combo')" name="btnAddRowCombo" href="javascript:void(0);"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Thêm dòng"><i class="ti ti-plus"></i>Thêm Combo</a>
                </div>
            </div>
            <div class="table-responsive text-nowrap p-2">
                <table class="table table-hover table-bordered" id="tbodyProduct">
                    <thead>
                        <tr>
                            <th style="width:2%" class="text-center">#</th>
                            <th>Tên Sản Phẩm</th>
                            <th>ĐVT</th>
                            <th>Tên Combo</th>
                            <th style="width:5%">Số lượng</th>
                            <th style="width:10%">Giá gốc</th>
                            <th style="width:10%">Giá giảm</th>
                            <th style="width:20%">Giảm giá</th>
                            <th style="width:10%">Thành tiền</th>
                            <th>Ghi chú</th>
                            <th style="width:5%" class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.OrderDetail.Count() > 0)
                        {
                            int stt = 0;
                            var BillDetail = Model.OrderDetail.ToList();
                            foreach (var item in BillDetail.ToList())
                            {
                                <tr>
                                    <td class="text-center">
                                        <p>@(++stt)</p>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => item.ProductId, item.ProductList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg", @disabled = "true" })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => item.UnitId, item.UnitList, "[ Chọn ]", new { @class = "UnitId select2 form-select form-select-lg" })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => item.ComboId, item.ComboList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg", @disabled = "true" })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(d => item.QuantityStr, new { htmlAttributes = new { @class = "form-control Quantity" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.OriginalPrice, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(d => item.OriginalPriceStr, new { htmlAttributes = new { @class = "form-control OriginalPrice" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.Price, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(d => item.PriceStr, new { htmlAttributes = new { @class = "form-control Price" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                @Html.HiddenFor(d => item.PriceDiscount, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.EditorFor(d => item.PriceDiscountStr, new { htmlAttributes = new { @class = "form-control PriceDiscount" } })
                                                @Html.DropDownListFor(d => item.DT_DiscountKindId, item.DiscountKindList, new { @class = "select2 form-select form-select-lg dropdown-toggle" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => item.TotalPrice, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(d => item.TotalPriceStr, new { htmlAttributes = new { @class = "form-control TotalPrice", @disabled = "true" } })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => item.Note, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ghi chú" } })
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:void(0);" name="btnRemoveLine"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           title="Xóa dòng"><i class="ti ti-trash me-1"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td align="center" colspan="11" class="dataTables_empty">không có dữ liệu</td></tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="text-xl-end text-md-end justify-content-md-end p-2">
                <a onclick="showInPopup('/PO/Order/CreatePopUp', 'Chọn sản phẩm')" name="btnAddRow" href="javascript:void(0);"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Thêm dòng"><i class="ti ti-plus"></i>Thêm mặt hàng</a>
                <a onclick="showInPopup('/PO/Order/CreatePopUpCombo', 'Chọn Combo')" name="btnAddRowCombo" href="javascript:void(0);"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Thêm dòng"><i class="ti ti-plus"></i>Thêm Combo</a>
            </div>
        </div>
    </div>
</div>

<script id="template_subform" type="text/x-handlebars-template">
    <tr class="{{classtr}}">
        <td class="text-center">
            <p>{{stt}}</p>
        </td>
        <td>
            <div class="col-md-12">
                <select name="ProductId" class="select2 form-select form-select-lg" disabled="disabled">
                    {{#selectProduct valueProduct}}
                    {{{productList}}}
                    {{/selectProduct}}
                </select>
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <select name="UnitId" class="select2 form-select form-select-lg">
                    {{#selectUnit valueUnit}}
                    {{{unitList}}}
                    {{/selectUnit}}
                </select>
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <select name="ComboId" class="select2 form-select form-select-lg" disabled="disabled">
                    {{#selectCombo valueCombo}}
                    {{{comboList}}}
                    {{/selectCombo}}
                </select>
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <input class="form-control" accesskey="KeyFocus" hidden name="Quantity" placeholder="" type="number" value="{{quantity}}" />
                <input class="form-control Quantity" accesskey="KeyFocus" name="QuantityStr" placeholder="" type="text" value="{{quantity}}" />
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <input class="form-control" accesskey="KeyFocus" hidden name="OriginalPrice" placeholder="" type="number" value="{{price}}" />
                <input class="form-control OriginalPrice" accesskey="KeyFocus" name="OriginalPriceStr" placeholder="" type="text" value="{{price}}" />
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <input class="form-control" accesskey="KeyFocus" hidden name="Price" placeholder="" type="number" value="{{price}}" />
                <input class="form-control Price" accesskey="KeyFocus" name="PriceStr" placeholder="" type="text" value="{{price}}" />
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <div class="input-group">
                    <input class="form-control" accesskey="KeyFocus" hidden name="PriceDiscount" placeholder="" type="number" value="{{priceDiscout}}" />
                    <input class="form-control PriceDiscount" accesskey="KeyFocus" name="PriceDiscountStr" placeholder="" type="text" value="{{priceDiscout}}" />
                    <div class="position-relative">
                        <select name="DT_DiscountKindId" class="select2 form-select form-select-lg dropdown-toggle">
                            {{{discountKindList}}}
                        </select>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <input class="form-control" accesskey="KeyFocus" hidden name="TotalPrice" placeholder="" type="number" value="0" />
                <input class="form-control TotalPrice" accesskey="KeyFocus" name="TotalPriceStr" placeholder="" type="text" value="0" disabled="disabled" />
            </div>
        </td>
        <td>
            <div class="col-md-12">
                <input class="form-control" accesskey="KeyFocus" name="Note" placeholder="Ghi chú" type="text" value="" />
            </div>
        </td>

        <td class="text-center">
            <a href="javascript:void(0);" name="btnRemoveLine"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Xóa dòng"><i class="ti ti-trash me-1"></i></a>
        </td>
    </tr>
</script>
