﻿@using TTL_ERP.Areas.PO.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<OrderModel>
@{

}
<table class="table table-hover table-bordered">
    <thead>
        <tr class="text-center">
            <th style="width:2%">#</th>
            <th style="width:3%">Mã</th>
            <th>Thời gian</th>
            <th>Mã khách hàng</th>
            <th>Khách hàng</th>
            <th>Giảm giá</th>
            <th>Tổng tiền</th>
            <th style="width:10%">Trạng Thái</th>
            <th style="width:10%">Hành động</th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0">
        @if (Model != null && Model.ListItems.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model.ListItems)
            {

                <tr>
                    <td class="text-center">
                        @(++stt)
                    </td>
                    <td>
                        <strong>@item.Code</strong>
                    </td>
                    <td>
                        @string.Format("{0:dd/MM/yyyy hh:mm}", item.CreateOn)
                    </td>
                    <td>@item.CustomerCode</td>
                    <td>@item.CustomerName</td>
                    <td class="text-end">@StringUtil.FormartCurrency(item.TotalDiscountAmount)</td>
                    <td class="text-end">@StringUtil.FormartCurrency(item.TotalAmount)</td>
                    <td class="text-center">
                        @item.OrderStatusName
                        @*@Html.Raw((item.OrderStatusId == 0 ? "<span class=\"badge bg-label-primary me-1\">Hoạt động</span>" : "<span class=\"badge bg-label-warning me-1\">Ngưng hoạt động</span>"))*@
                    </td>
                    <td class="text-center">
                        @if (item.OrderStatusCode == "100")
                        {

                            <a data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Link thanh toán"
                               href="javascript:void(0);"
                               onclick="copyToClipboard('@item.LinkPayment')" ><i class="ti ti-link me-1"></i></a>
                            <a data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Đã thanh toán"
                               onclick="updateStatus(@item.Id, '600')" href="javascript:void(0);"><i class="ti ti-clipboard-check me-1"></i></a>
                            <a data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Sửa"
                               onclick="AddNew('/PO/Order/Edit?id=@item.Id')" href="javascript:void(0);"><i class="ti ti-pencil me-1"></i></a>
                            <a data-id="@item.Id" name="btnDelete"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Xóa"
                               onclick="confirmDetele(@item.Id, '/PO/Order/Delete', true)" href="javascript:void(0);"><i class="ti ti-trash me-1"></i></a>
                        }
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Xem chi tiết"
                           onclick="AddNew('/PO/Order/Detail?id=@item.Id')" href="javascript:void(0);"><i class="ti ti-eye"></i></a>

                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td align="center" colspan="12" class="dataTables_empty">không có dữ liệu</td></tr>
        }
    </tbody>
    <tfoot>
        @if (Model != null && Model.ListItems.Count > 0)
        {
            <tr>
                <td align="center" colspan="5" class="dataTables_empty"><strong>Tổng cộng</strong></td>
                <td class="text-end"><strong>@StringUtil.FormartCurrency(Model.ListItems.Sum(z => z.TotalDiscountAmount))</strong></td>
                <td class="text-end"><strong>@StringUtil.FormartCurrency(Model.ListItems.Sum(z => z.TotalAmount))</strong></td>
                <td class="text-end" colspan="2"></td>
            </tr>
        }
    </tfoot>
</table>
<div class="demo-inline-spacing">
    <!-- Basic Square Pagination -->
    @Html.RenderPaging(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
    <!--/ Basic Square Pagination -->
</div>
