﻿@using TTL_ERP.Areas.PO.Models
@model OrderModel
@{
    ViewBag.Title = "Xem Đơn Hàng";
    Layout = "~/Areas/PO/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4><span class="text-muted fw-light">Đơn hàng /</span> Xem chi tiết</h4>

    <!-- FormValidation -->
    @Html.Partial("_AddOrEdit")
    <div class="p-2 col-12 text-md-end">
        <a href="/WM/Warehouse" class="btn btn-primary">Quay lại</a>
    </div>
</div>
@section Scripts{
    <script src="../../js/PO/Order.js"></script>
}
