﻿
@using TTL_ERP.Areas.Administrator.Models
@model RoleModel
@{
    ViewData["Title"] = "Thêm vai trò chức năng";
    var isCreate = (bool)ViewBag.IsCreate;
}

@Html.HiddenFor(model => model.Id)
<div class="col-md-6">
    <label class="form-label" for="Code">Mã công ty/tổ chức</label>
    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã vai trò" } })
</div>
<div class="col-md-6">
    <label class="form-label" for="Title">Tên công ty</label>
    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên vai trò" } })
</div>
<div class="col-md-6">
    <label class="form-label" for="Ti">Mô tả</label>
    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Mô tả", @rows = "3" })
</div>
<div class="mb-3">
    <label class="switch switch-primary">
        @Html.CheckBoxFor(model => model.Status, new { @class = "switch-input" })
        <span class="switch-toggle-slider">
            <span class="switch-on"></span>
            <span class="switch-off"></span>
        </span>
        <span class="switch-label">Hoạt động</span>
    </label>
</div>

<div class="col-md-9">
    <label class="form-label" for="Fax">Phân quyền chức năng</label>
    <div class="col-md-3 m-2">
        <label class="form-label" for="ApplicationId">Ứng dụng</label>
        @Html.DropDownListFor(model => model.ApplicationSelectId, Model.ApplicationList, "[ Chọn ]", new { @class = "select2 form-select form-select-lg", onchange = "changeApplication(this.value);" })
    </div>
    <!-- Ajax -->
    <div class="card">
        <div class="card-body jstree-ajax">
            <div id="jstree-ajax"></div>
        </div>
    </div>
    <!-- Ajax -->
</div>

<div class="col-12">
    <button id="btnSubmit" class="btn btn-primary">@(isCreate ? "Lưu" : "Cập nhật")</button>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            /**/
            if ($.urlParam('msg') == '1') {
                ShowToast('success', 'Thành công', 'Thêm Thành Công!')
            }
            /**/
        });
    </script>
}
