﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="../../assets/vendor/css/pages/page-misc.css" />
<!-- Error -->
<div class="container-xxl container-p-y">
    <div class="row">
        <h2 class="text-center">CHÀO MỪNG ! BẠN ĐẾN VỚI HỆ THỐNG KHÁCH HÀNG CỦA TÂM TRÍ LỰC</h2>
        <span class="text-center">Chúc quý khách hàng có một ngày làm việc hiệu quả</span>
        <!--<h2 class="mb-1 mt-4">Chào mừng bạn đến với cổng khách hàng của Tâm Trí Lực</h2>
    <p class="mb-4 mx-2">Wow! 😖 Cùng nhau kiếm tiền nào!</p>-->
        @*<a href="/" class="btn btn-primary mb-4">Quay lại trang chủ</a>*@
        <!--<div class="mt-4">
        <img src="../../assets/img/illustrations/page-misc-error.png"
             alt="page-misc-error"
             width="225"
             class="img-fluid" />
    </div>-->
    </div>
</div>
<div class="container-fluid misc-bg-wrapper">
    <img src="../../assets/img/illustrations/bg-shape-image-light.png"
         alt="page-misc-error"
         data-app-light-img="illustrations/bg-shape-image-light.png"
         data-app-dark-img="illustrations/bg-shape-image-dark.png" />
</div>
<!-- /Error -->
<!--<div class="container-fluid flex-grow-1 container-p-y">
    <div class="row">-->
<!-- Website Analytics -->
<!--<div class="col-lg-6 mb-4">
    <div class="swiper-container swiper-container-horizontal swiper swiper-card-advance-bg"
         id="swiper-with-pagination-cards">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="row">
                    <div class="col-12">
                        <h5 class="text-white mb-0 mt-2">Tổng quan khách hàng của bạn</h5>
                        <small>100 Khách hàng</small>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-md-9 col-12 order-2 order-md-1">
                            <h6 class="text-white mt-0 mt-md-3 mb-3">Thông tin chi tiết</h6>
                            <div class="row">
                                <div class="col-6">
                                    <ul class="list-unstyled mb-0">
                                        <li class="d-flex mb-4 align-items-center">
                                            <p class="mb-0 fw-semibold me-2 website-analytics-text-bg">28%</p>
                                            <p class="mb-0">Tiềm năng</p>
                                        </li>
                                        <li class="d-flex align-items-center mb-2">
                                            <p class="mb-0 fw-semibold me-2 website-analytics-text-bg">1.2k</p>
                                            <p class="mb-0">Mới</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="list-unstyled mb-0">
                                        <li class="d-flex mb-4 align-items-center">
                                            <p class="mb-0 fw-semibold me-2 website-analytics-text-bg">3.1k</p>
                                            <p class="mb-0">Đang chuyển đổi</p>
                                        </li>
                                        <li class="d-flex align-items-center mb-2">
                                            <p class="mb-0 fw-semibold me-2 website-analytics-text-bg">12%</p>
                                            <p class="mb-0">Đã chuyển đổi</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-3 col-12 order-1 order-md-2 my-4 my-md-0 text-center">
                            <img src="../../assets/img/illustrations/card-website-analytics-1.png"
                                 alt="Website Analytics"
                                 width="170"
                                 class="card-website-analytics-img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>-->
<!--/ Website Analytics -->
<!-- Sales Overview -->
<!--<div class="col-lg-3 col-sm-6 mb-4">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <small class="d-block mb-1 text-muted">Doanh thu mang lại</small>
            </div>
            <h4 class="card-title mb-1">1.000.000 VNĐ</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex gap-2 align-items-center mb-2">
                        <span class="badge bg-label-info p-1 rounded">
                            <i class="ti ti-shopping-cart ti-xs"></i>
                        </span>
                        <p class="mb-0">Số đơn hàng</p>
                    </div>
                    <h5 class="mb-0 pt-1 text-nowrap">100</h5>
                    <small class="text-muted">Đơn hàng khách hàng mang lại</small>
                </div>
            </div>
            <div class="d-flex align-items-center mt-4">
                <div class="progress w-100" style="height: 8px;">
                    <div class="progress-bar bg-info" style="width: 70%" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--/ Sales Overview -->
<!-- Revenue Generated -->
<!--<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
    <div class="card">
        <div class="card-body pb-0">
            <div class="card-icon">
                <span class="badge bg-label-success rounded-pill p-2">
                    <i class="ti ti-user-search ti-sm"></i>
                </span>
            </div>
            <h5 class="card-title mb-0 mt-2">100 Khách hàng</h5>
            <small>Tổng khách hàng của bạn</small>
        </div>
        <div id="revenueGenerated"></div>
    </div>
</div>-->
<!--/ Revenue Generated -->
<!-- Earning Reports -->
<!--<div class="col-lg-6 mb-4">
    <div class="card h-100">
        <div class="card-header pb-0 d-flex justify-content-between mb-lg-n4">
            <div class="card-title mb-0">
                <h5 class="mb-0">Báo cáo hàng ngày</h5>
            </div>
            <div class="dropdown">
                <button class="btn p-0"
                        type="button"
                        id="earningReportsId"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <i class="ti ti-dots-vertical ti-sm text-muted"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="earningReportsId">
                    <a class="dropdown-item" href="javascript:void(0);">Xem chi tiết</a>
                </div>
            </div>-->
<!-- </div> -->
<!--</div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-4 d-flex flex-column align-self-end">
                    <div class="d-flex gap-2 align-items-center mb-2 pb-1 flex-wrap">
                        <h1 class="mb-0">10</h1>
                    </div>
                    <small class="text-muted">Khách hàng mới hôm nay</small>
                </div>
                <div class="col-12 col-md-8">
                    <div id="weeklyEarningReports"></div>
                </div>
            </div>
            <div class="border rounded p-3 mt-2">
                <div class="row gap-4 gap-sm-0">
                    <div class="col-12 col-sm-4">
                        <div class="d-flex gap-2 align-items-center">
                            <div class="badge rounded bg-label-primary p-1">
                                <i class="ti ti-user-circle ti-sm"></i>
                            </div>
                            <h6 class="mb-0">Tuần này</h6>
                        </div>
                        <h4 class="my-2 pt-1">70</h4>
                        <div class="progress w-75" style="height: 4px">
                            <div class="progress-bar"
                                 role="progressbar"
                                 style="width: 65%"
                                 aria-valuenow="65"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="d-flex gap-2 align-items-center">
                            <div class="badge rounded bg-label-info p-1"><i class="ti ti-user-circle ti-sm"></i></div>
                            <h6 class="mb-0">Tháng này</h6>
                        </div>
                        <h4 class="my-2 pt-1">100</h4>
                        <div class="progress w-75" style="height: 4px">
                            <div class="progress-bar bg-info"
                                 role="progressbar"
                                 style="width: 50%"
                                 aria-valuenow="50"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="d-flex gap-2 align-items-center">
                            <div class="badge rounded bg-label-danger p-1">
                                <i class="ti ti-user-circle ti-sm"></i>
                            </div>
                            <h6 class="mb-0">Năm nay</h6>
                        </div>
                        <h4 class="my-2 pt-1">1000</h4>
                        <div class="progress w-75" style="height: 4px">
                            <div class="progress-bar bg-danger"
                                 role="progressbar"
                                 style="width: 65%"
                                 aria-valuenow="65"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--/ Earning Reports -->
<!-- Support Tracker -->
<!--<div class="col-md-6 mb-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between pb-0">
            <div class="card-title mb-0">
                <h5 class="mb-0">Yêu cầu của bạn</h5>
            </div>
            <div class="dropdown">
                <button class="btn p-0"
                        type="button"
                        id="supportTrackerMenu"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <i class="ti ti-dots-vertical ti-sm text-muted"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="supportTrackerMenu">
                    <a class="dropdown-item" href="javascript:void(0);">Xem chi tiết</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <div class="mt-lg-4 mt-lg-2 mb-lg-4 mb-2 pt-1">
                        <h1 class="mb-0">164</h1>
                        <p class="mb-0">Tất cả yêu cầu</p>
                    </div>
                    <ul class="p-0 m-0">
                        <li class="d-flex gap-3 align-items-center mb-lg-3 pt-2 pb-1">
                            <div class="badge rounded bg-label-primary p-1"><i class="ti ti-ticket ti-sm"></i></div>
                            <div>
                                <h6 class="mb-0 text-nowrap">Đã xử lý</h6>
                                <small class="text-muted">142</small>
                            </div>
                        </li>
                        <li class="d-flex gap-3 align-items-center mb-lg-3 pb-1">
                            <div class="badge rounded bg-label-info p-1">
                                <i class="ti ti-circle-check ti-sm"></i>
                            </div>
                            <div>
                                <h6 class="mb-0 text-nowrap">Đang xử lý</h6>
                                <small class="text-muted">28</small>
                            </div>
                        </li>
                        <li class="d-flex gap-3 align-items-center pb-1">
                            <div class="badge rounded bg-label-warning p-1"><i class="ti ti-clock ti-sm"></i></div>
                            <div>
                                <h6 class="mb-0 text-nowrap">Chưa xử lý</h6>
                                <small class="text-muted">1</small>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <div id="supportTracker"></div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--/ Support Tracker -->
<!--</div>
</div>-->
@section Scripts {

}