﻿@using TTL_ERP.Areas.WM.Models
@using TTL_ERP.Areas.WM.Models.StoredProcedure
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<SyntheticWarehouse>
<table class="table table-hover table-bordered">
    <thead>
        <tr class="text-center">
            <th rowspan="2" class="align-middle" style="width:2%">#</th>
            <th rowspan="2" class="align-middle">Mã sản phẩm</th>
            <th rowspan="2" class="align-middle">Tên sản phẩm</th>
            <th rowspan="2" class="align-middle">Đơn vị tính</th>

            <th colspan="3">Tồn đầu kỳ</th>

            <th colspan="3">Nhập trong kỳ</th>

            <th colspan="3">Xuất trong kỳ</th>

            <th colspan="3">Tồn cuối kỳ</th>

        </tr>
        <tr class="text-center">

            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>

            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>

            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>

            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>

        </tr>
    </thead>
    <tbody class="table-border-bottom-0">
        @if (Model != null && Model.ListItems.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model.ListItems)
            {
        <tr>
            <td class="text-center">
                @(++stt)
            </td>
            <td>@item.ProductCode</td>
            <td>@item.ProductName</td>
            <td>@item.UnitName</td>

            <td class="text-end">@StringUtil.FormartNumber(item.QuantityBegin)</td>
            <td class="text-end">@StringUtil.FormartCurrency(item.PriceBegin)</td>
            <td class="text-end">@StringUtil.FormartCurrency(item.TotalBegin)</td>

            <td class="text-end">@StringUtil.FormartNumber(item.QuantityImport)</td>
            <td class="text-end">@StringUtil.FormartCurrency(item.CostPrice)</td>
            <td class="text-end">@StringUtil.FormartCurrency(item.TotalImport)</td>

            <td class="text-end">@StringUtil.FormartNumber(item.QuantityExport)</td>
            <td class="text-end">@StringUtil.FormartCurrency(item.Price)</td>
            <td class="text-end">@StringUtil.FormartCurrency(item.TotalExport)</td>

            <td class="text-end">@StringUtil.FormartNumber(item.QuantityEnd)</td>
            <td class="text-end">@StringUtil.FormartCurrency(item.PriceEnd)</td>
            <td class="text-end">@StringUtil.FormartCurrency(item.TotalEnd)</td>
        </tr>
            }
        }
        else
        {
            <tr><td align="center" colspan="16" class="dataTables_empty">không có dữ liệu</td></tr>
        }
    </tbody>
    <tfoot>
        @if (Model != null && Model.ListItems.Count > 0)
        {
        <tr>
            <td align="center" colspan="4" class="dataTables_empty">Tổng cộng</td>
            <td class="text-end">@StringUtil.FormartNumber(Model.ListItems.Sum(z => z.QuantityBegin))</td>
            <td class="text-end" colspan="2">@StringUtil.FormartCurrency(Model.ListItems.Sum(z => z.TotalBegin))</td>

            <td class="text-end">@StringUtil.FormartNumber(Model.ListItems.Sum(z => z.QuantityImport))</td>
            <td class="text-end" colspan="2">@StringUtil.FormartNumber(Model.ListItems.Sum(z => z.TotalImport))</td>

            <td class="text-end">@StringUtil.FormartNumber(Model.ListItems.Sum(z => z.QuantityExport))</td>
            <td class="text-end" colspan="2">@StringUtil.FormartCurrency(Model.ListItems.Sum(z => z.TotalExport))</td>

            <td class="text-end">@StringUtil.FormartNumber(Model.ListItems.Sum(z => z.QuantityEnd))</td>
            <td class="text-end" colspan="2">@StringUtil.FormartCurrency(Model.ListItems.Sum(z => z.TotalEnd))</td>
        </tr>
        }
    </tfoot>
</table>
<div class="demo-inline-spacing">
    <!-- Basic Square Pagination -->
    @Html.RenderPaging(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
    <!--/ Basic Square Pagination -->
</div>

