﻿@using TTL_ERP.Areas.Administrator.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<OrganizationModel>
<table class="table table-hover">
    <thead>
        <tr>
            <th style="width:2%" class="text-center">#</th>
            <th>Mã</th>
            <th>Tên</th>
            <th>Mô tả</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th style="width:10%" class="text-center">Vai trò</th>
            <th style="width:10%" class="text-center">Hành động</th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0">
        @if (Model != null)
        {
            var stt = 0;
            foreach (var item in Model.ListItems)
            {
                <tr>
                    <td class="text-center">
                        @(++stt)
                    </td>
                    <td>
                        <strong>@item.Code</strong>
                    </td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>
                    <td class="text-center">
                        @Html.Raw($"<span class=\"badge bg-label-primary me-1\">{string.Join(", ", item.Roles.Select(z=>z.Title))}</span>")
                    </td>
                    <td class="text-center">
                        @if (Model.OrganizationId == item.Id)
                        {
                            <button class="btn btn-outline-secondary mb-3 mb-md-0">
                                Đang áp dụng
                            </button>
                        }
                        else
                        {
                            <button class="btn add-new btn-primary mb-3 mb-md-0" onclick="changeOrganization(@item.Id)">
                               Áp dụng
                            </button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="demo-inline-spacing">
    <!-- Basic Square Pagination -->
    @Html.RenderPaging(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
    <!--/ Basic Square Pagination -->
</div>