﻿@using TTL_ERP.Areas.Administrator.Models
@using TTL_ERP.Models
@using TTL_ERP.Helpers
@model IndexViewModel<OrganizationModel>
@{
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Danh sách công ty";
}
@section CSS{

}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4>Doanh nghiệp của bạn</h4>

    <!-- Examples -->
    <div class="row mb-5">
        @if (Model.ListItems != null)
        {
            foreach (var item in Model.ListItems)
            {
                <div class="col-md-2 col-lg-2 mb-3">
                    <div class="card h-100">
                        @if (!string.IsNullOrEmpty(item.Logo))
                        {
                            <img class="card-img-top" src="@item.Logo" alt="@item.Title" />
                        }
                        else
                        {
                            <img class="card-img-top" src="/assets/img/no-image.png" alt="">
                        }

                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">
                                Vai trò:
                                @Html.Raw($"<span class=\"badge bg-label-primary me-1\">{string.Join(", ", item.Roles.Select(z => z.Title))}</span>")
                            </p>
                            <a href="javascript:void(0)" onclick="changeOrganization(@item.Id)" class="btn btn-outline-primary"><i class="ti ti-box"></i>Truy cập</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <!-- Examples -->
    <!-- Hoverable Table rows -->
    @*<div class="card">
        <div class="row p-2">
            <div class="col-sm-12 col-md-9">
            </div>
            <div class="col-sm-12 col-md-3">
            </div>
        </div>
        <div id="loadData" class="table-responsive text-nowrap">

        </div>
    </div>*@
    <!--/ Hoverable Table rows -->
</div>
<!-- / Content -->
@section Scripts {
    <script src="../../js/Administrator/Dashboard.js"></script>
    <script type="text/javascript">
     $(document).ready(function () {
         LoadData(1);
     });
        function LoadData(page) {
           $('#loadData').load('@Url.Action("LoadDataOrganization", "Dashboard", new { area = "Administrator" })'
               , { page: page}
                , function (responseTxt, statusTxt, xhr) {
                     if (statusTxt == "error") {
                         ShowToast('error', 'Lỗi hệ thống');
                     } else {

                     }
             });
     }
    </script>
}